<h2>%%ReferenceStyle%%Book, chapters by different authors</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent"> 
	Author&#8217;s Name. &#34;Title of Chapter.&#34; <em>Title of Book</em>, edited by Editor&#8217;s Name, publisher, year of publication, page numbers of chapter. 
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Name">Smith, Aroha</span>. 
	&#34;<span class="hover" title="Title of Chapter">Synthetic Reactions and Strategies</span>.&#34; 
	<em><span class="hover" title="Title of Book">Principles of Organic Chemistry</span></em>, edited by
	<span class="hover" title="Editor&#8217;s Name">Brian A. Brown</span>. 
	<span class="hover" title="Publisher">Wilton</span>, 
	<span class="hover" title="year of publication">2056</span>, 
	<span class="hover" title="Page numbers of chapter">pp. 245&#45;69</span>.
	</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the author&#8217;s name and any relevant page number(s), in parentheses, immediately following the cited material. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 125&#45;26).
</blockquote>
<br>
Or include their name in your sentence, with the relevant page number(s) in parentheses.<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (123).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 125&#45;26). In addition&hellip; was a common 
	feature (128).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>