<h2>%%ReferenceStyle%%Book, one author</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s name. <em>Title of Book</em>. Publisher, year of publication.
</blockquote>
<br>
<strong>Example</strong>
<br><br>
	If the publisher is an academic press, replace <em>University</em> with <em>U</em>. For further information on publisher abbreviations, see 1.6.3 in the <a href="https://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" title="opens a new window">MLA Handbook (8th edition)</a>. 
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s name">Smith, Anu R.</span> 
	<em><span class="hover" title="Title of Book">Teaching and Learning in Higher Education</span></em>.
	<span class="hover" title="Publisher">U Books</span>, 
	<span class="hover" title="year of publication">2056</span>. 
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the author&#8217;s name and any relevant page number(s), in parentheses, immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26).
</blockquote>
<br>
Or include the author&#8217;s name in your sentence, with the relevant page number(s) in parentheses.<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (23).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26). In addition&hellip; was a common feature (28).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>