<h2>%%ReferenceStyle%%Book, two authors</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Authors names. <em>Title of Book</em>. Publisher, year of publication. 
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors names">Smith, Annabelle, and Bridget Brown</span>. 
	<em><span class="hover" title="Title of Book">Sustainability in Practice: Overcoming Energy Challenges in the 21st Century</span></em>.
	<span class="hover" title="Publisher">Northwoods</span>, 
	<span class="hover" title="year of publication">2056</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the authors names and any relevant page number(s), in parentheses, immediately following the cited material. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith and Brown 25&#45;26).
</blockquote>
<br>
Or include the authors names in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith and Brown suggest that &#34;the default position is markedly affected&#34; (23).
</blockquote>
<br>
When the authors are referred to more than once in the same paragraph only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith and Brown 25&#45;26). In addition&hellip; was a common feature (28).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>