<h2>%%ReferenceStyle%%Book, multiple books by same author</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote>
	<div class="ref-hang-indent">Author&#8217;s Name. <em>Title of Book</em>. 
		Publisher, year of publication. 
	</div>
	<div class="ref-hang-indent">
		&#45;&nbsp;&#45;&nbsp;&#45;. <em>Title of Book</em>. Publisher, year of publication. 
	</div>
</blockquote>
<br>
Give the author&#8217;s name in the first entry only. After that use three hyphens, followed by a full stop to indicate the author name is exactly the same. List works alphabetically by title.
<br><br>
References with the same first author and a different second or third author are listed alphabetically by name.
<br><br>
<strong>Example</strong>
<br>
If the publisher is an academic press, replace <em>Press</em> with <em>P</em>. For further information on publisher abbreviations, see 1.6.3 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.	
<br>
<blockquote>
	<div class="ref-hang-indent">
		<span class="hover" title="Author&#8217;s Name">Smith, Andrea</span>. 
		<em><span class="hover" title="Title of Book">Amid Fifty Thousand Flaming Devils</span></em>. 
		<span class="hover" title="Publisher">Etoile P</span>, 
		<span class="hover" title="year of publication">2056</span>.
	</div>
	<div class="ref-hang-indent">
		<span class="hover" title="Author&#8217;s Name">&#45;&nbsp;&#45;&nbsp;&#45;</span>. 
		<em><span class="hover" title="Title of Book">Exploring Nanoscale Science</span></em>. 
		<span class="hover" title="Publisher">Beck</span>, 
		<span class="hover" title="year of publication">2050</span>. 
	</div>
	<div class="ref-hang-indent">
		<span class="hover" title="Author&#8217;s Name">Smith, Andrea, and Beryl Brown</span>. 
		<em><span class="hover" title="Title of Book">Exploring New Frontiers</span></em>. 
		<span class="hover" title="Publisher">Beck</span>, 
		<span class="hover" title="year of publication">2056</span>.
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When you use another person&#8217;s ideas or words in your writing, include the author&#8217;s name and any relevant page number(s), in parentheses, immediately following the cited material. When there are two or more works by the same author, also include the title in italics.
<br><br>
In a parenthetical citation, include the title of the work in italics, and the relevant page number(s), in parentheses, immediately following the cited material. Abbreviate the title if it is longer than a noun phrase. For example, <em>Faulkner&#8217;s Southern Novels</em> consists entirely of a noun phrase (a noun <em>Novels</em> preceded by two modifiers) and wouldn’t be shortened. By contrast <em>Faulkner&#8217;s Novels of the South</em> would be shortened to its noun phrase <em>Faulkner&#8217;s Novels</em>. The abbreviated title should begin with the word by which it is alphabetised in the Works Cited. If the title does not begin with a noun phrase, cite the first word if it is enough to direct the reader to the correct entry. For further information on abbreviating titles, see 3.2.1 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith, <em>Exploring</em> 25&#45;26)
</blockquote>
<br>
Or include the author&#8217;s name in your sentence, with the title and relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; 	(<em>Exploring</em> 23).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith, <em>Exploring</em> 23). 
	In addition&hellip; was a common feature (26).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
