<h2>%%ReferenceStyle%%Corporate Author</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Name of corporate Author. <em>Title</em>. Publisher, year.  
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Name of Corporate Author">Institute of Chartered Accountants in Australia.</span> 
	<span class="hover" title="Title"><em>AASB Standards for 2005: Equivalents to IFRSs as at August 2004</em></span>.
	<span class="hover" title="Publisher">Pearson Education</span>,
	<span class="hover" title="Year">2004</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use a corporate author&#8217;s ideas or words in your writing, include their name and any relevant page number(s), in parentheses, immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	This can be seen to&hellip; (Institute of Chartered Accountants in Australia 3).
</blockquote>
<br>
<br>
Or include the author&#8217;s name in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	According to the Institute of Chartered Accountants in Australia figures&hellip; (3).
</blockquote>
<br><br>
When the author is referred to more than once in the same paragraph, only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Institute of Chartered Accountants in Australia 3). In addition&hellip; was a common feature (10).
</blockquote>
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>