<h2>%%ReferenceStyle%%Ebook</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
The reference is as for any other book, but also include the database name (if applicable) in italics in addition to a DOI or URL. When providing a URL, omit http:// or https://.
<br><br>
When possible, citing a DOI (preceded by doi:) in place of a URL is preferred.
<br><br>
If the book was accessed from a database and does not have a DOI, provide a <a href="https://library.westernsydney.edu.au/main/guides/using-library-resources" target="_blank" rel="noopener noreferrer">stable URL</a> (also known as a permalink, bookmark or embedded URL).
<br><br>
Optional: When a work has been digitised as in the example below and the original publication date is relevant to the understanding of the work, place the original publication date after the title. 
<br><br>
<strong>Book publicly accessible online</strong>
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s Name. <em>Title of Book</em>. Original publication date.	<em>Name of website</em>, year of publication, URL.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Name">Whitman, Walt</span>. 
	<em><span class="hover" title="Title of Book">Leaves of Grass</span></em>.
	<span class="hover" title="Original Publication Date">1892</span>. 
	<em><span class="hover" title="Website/database">Project Gutenberg</span></em>,
	<span class="hover" title="Year of Publication">2010</span>,
	<span class="hover" title="URL">www.gutenberg.org/ebooks/1322</span>.
</blockquote>
<br>
<strong>Book from a subscribed database</strong>
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s Name. <em>Title of Book</em>. Publisher, year of publication.	<em>Database</em>, DOI or URL.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Name">Henschke, Adami</span>. 
	<em><span class="hover" title="Title of Book">Ethics in an Age of Surveillance: Personal Information and Virtual Identities</span></em>. 
	<span class="hover" title="Publisher">Cambridge UP</span>,
	<span class="hover" title="Year of Publication">2017</span>. 
	<em><span class="hover" title="Website/database">ProQuest Ebook Central</span></em>,
	<span class="hover" title="DOI or URL">ebookcentral.proquest.com/lib/uwsau/detail.action?docID=4941655</span>. 
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
The in&#45;text citation for an electronic book uses the same format as a printed book.
<br>
<em><strong>To view these details:</strong> select &#8216;Books&#8217; from the second drop&#45;down selection list then select the number of authors in the third drop-down selection list.</em>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
