<h2>%%ReferenceStyle%%Book, three or more authors</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s Name et al. <em>Title of Book</em>. Publisher, year of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
If the publisher is an academic press, replace <em>Press</em> with <em>P</em>. For further information on publisher abbreviations, see 1.6.3 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Names">Smith, Albaraa, et al</span>. 
	<em><span class="hover" title="Title of Book">Who Stole the Pies?</span></em>
  <span class="hover" title="Publisher">New Media P</span>, 
	<span class="hover" title="year of publication">2056</span>.
</blockquote>
<br>
<div style="text-align:right">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the first author&#8217;s name followed by et al. and the relevant page number(s), in parentheses, immediately following the cited material. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith et al. 36).
</blockquote>
<br>
Or include the author&#8217;s name in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith et al. suggest that &#34;the default position is markedly affected&#34; (23).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith et al. 36). In addition&hellip; was a common feature (28).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
