<h2>%%ReferenceStyle%%Newspaper article, one author</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s Name. &#34;Title of Article.&#34; <em>Title of Newspaper</em>, day month. and year of publication, page number(s).
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Name">Smith, Achiti</span>. 
	&#34;<span class="hover" title="Title of Article">Something Went Wrong in Plane Crash, Experts Say</span>.&#34;  
	<em><span class="hover" title="Title of Newspaper">Herald Tribune</span></em>,
	<span class="hover" title="day, month and year of publication">15 Dec. 2056</span>, 
	<span class="hover" title="page number">p. A5</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the author&#8217;s name and any relevant page number(s), in parentheses, immediately following the cited material. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith A5).
</blockquote>
<br>
Or include the author of the work in your sentence, with the relevant page number(s) in parentheses (if necessary).
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (A5).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>