<h2>%%ReferenceStyle%%Journal article, similar information from multiple works</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
<strong>Format</strong>
<br>
Works are referenced in the Works Cited list using the standard form, according to the source and number of authors.
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When information or ideas are sourced from two or more different works, cite each work as you normally would, with the works listed in alphabetical order and separated by a semi&#45;colon.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Brown 34; Jones 123).
</blockquote>
<br>
In a parenthetical citation, if the article title is included place double quotation marks around the title and abbreviate the title if it is longer than a noun phrase. For example, <em>Faulkner&#8217;s Southern Novels</em> consists entirely of a noun phrase (a noun <em>Novels</em> preceded by two modifiers) and wouldn’t be shortened. By contrast <em>Faulkner&#8217;s Novels of the South</em> would be shortened to it’s noun phrase <em>Faulkner&#8217;s Novels</em>. If the title does not begin with a noun phrase, cite the first word if it is enough to direct the reader to the correct entry. For further information on abbreviating titles, see 3.2.1 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>. 
<br>
<blockquote class="in-text-citation">
	&hellip;is widely supported (Smith, &#34;Teaming&#34; 123; Tahatai and Chan 67).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
