<h2>%%ReferenceStyle%%Journal article, no author</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	&#34;Title of article.&#34; <em>Name of Journal</em>, volume, issue, year of publication, page numbers.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	&#34;<span class="hover" title="Title of article">Study Smarter, Not Harder: Setting Goals to Improve Your Academic Performance</span>.&#34; 
	<em><span class="hover" title="Name of Journal">Student Review</span></em>,
	<span class="hover" title="volume">vol. 25</span>, <span class="hover" title="issue">no. 5</span>,
	<span class="hover" title="year of publication">2056</span>, 
	<span class="hover" title="page numbers">pp. 10&#45;12</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When the author is anonymous, include the title of the article enclosed in double quotation marks, along with any relevant page number(s), in parentheses, immediately following the cited material.
<br><br>
In a parenthetical citation, abbreviate the title if it is longer than a noun phrase. For example, <em>Faulkner&#8217;s Southern Novels</em> consists entirely of a noun phrase (a noun <em>Novels</em> preceded by two modifiers) and wouldn’t be shortened. By contrast <em>Faulkner&#8217;s Novels of the South</em> would be shortened to it’s noun phrase <em>Faulkner&#8217;s Novels</em>. The abbreviated title should begin with the word by which it is alphabetised in the Works Cited. For further information on abbreviating titles, see 3.2.1 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (&#34;Study&#34; 10&#45;11).
</blockquote>
<br>
Or include the title of the article in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	&#34;Study Smarter, Not Harder: Setting Goals to Improve Your Academic Performance&#34; suggests that &#34;the default position is markedly affected&#34; (11).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is 
needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (&#34;Study&#34; 10&#45;11). In addition &hellip;was a common feature (11).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
