<h2>%%ReferenceStyle%%Journal article, multiple articles by same author</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote>
	<div class="ref-hang-indent">
		Author&#8217;s name. &#34;Title of Article.&#34; <em>Name of Journal</em>, 
		volume, issue, year of publication, page numbers.
	</div>
	<div class="ref-hang-indent">
		&#45;&nbsp;&#45;&nbsp;&#45;. &#34;Title of article.&#34; <em>Name of Journal</em>, 
		volume, issue, year of publication, page numbers.
	</div>
</blockquote>
<br>
Give the author&#8217;s name in the first entry only. After that use three hyphens, followed by a full stop. Multiple works by the same author are listed alphabetically by title.
<br><br>
References with the same first author and a different second or third author are listed alphabetically by name.
<br><br>
<strong>Example</strong>
<br>
<blockquote>
	<div class="ref-hang-indent">
		<span class="hover" title="Author&#8217;s name">Smith, Andrew</span>. 
		&#34;<span class="hover" title="Title of Article">Leading by Example</span>.&#34; 
		<em><span class="hover" title="Name of Journal">Management Research International</span></em>,
		<span class="hover" title="volume">vol. 3</span>, <span class="hover" title="issue">no. 4</span>,
		<span class="hover" title="year of publication">2056</span>,
		<span class="hover" title="page numbers">pp. 45&#45;48</span>.
	</div>
	<div class="ref-hang-indent">
		&#45;&nbsp;&#45;&nbsp;&#45;. &#34;Teaming with Wildlife: Promoting Team Development 
		through Volunteer Service at Auckland Zoo.&#34;
		<em>New Zealand Business Review</em>, vol. 17, no. 4, 2050, pp. 230-40. 
	</div>
	<div class="ref-hang-indent">
		Smith, Andrew, and Bev Brown. &#34;Learning Through Teaching.&#34; 
		<em>Teaching and Learning in Higher Education</em>, vol. 3, no. 4, 2056, pp. 45-48. 
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the author&#8217;s name and any relevant page number(s), in parentheses, immediately following the cited material. If there are two or more works by the same author, also include the article title within double quotation marks.
<br><br>
In a parenthetical citation, abbreviate the title if it is longer than a noun phrase. For example, <em>Faulkner&#8217;s Southern Novels</em> consists entirely of a noun phrase (a noun <em>Novels</em> preceded by two modifiers) and wouldn’t be shortened. By contrast <em>Faulkner&#8217;s Novels of the South</em> would be shortened to its noun phrase <em>Faulkner&#8217;s Novels</em>. The abbreviated title should begin with the word by which it is alphabetised in the Works Cited. If the title does not begin with a noun phrase, cite the first word if it is enough to direct the reader to the correct entry. For further information on abbreviating titles, see 3.2.1 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith, &#34;Teaming&#34; 235&#45;36).
</blockquote>
<br>
Or include the author&#8217;s name in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (&#34;Teaming&#34; 
	237).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is 
needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith, &#34;Teaming&#34; 235&#45;36). 
	In addition&hellip; was a common feature (237).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
