<h2>%%ReferenceStyle%%Library database article / internet journal article</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
When possible, citing a DOI (preceded by doi:) in place of a URL is preferred. 
<br><br>
If the article was accessed from a database and does not have a DOI, provide a <a href="http://library.westernsydney.edu.au/main/guides/using-library-resources" target="_blank" rel="noopener noreferrer">stable URL</a> (also known as a permalink, bookmark or embedded URL) and omit http:// or https:// from the URL. 
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s Names. &#34;Title of Article.&#34; <em>Title of Journal</em>, volume, number, date of publication, page numbers. <em>Name of Database</em>, DOI or URL.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span title="Author&#8217;s Names">Brzencheck, Alison, and Mari Casta&ntilde;eda</span>. 
	&#34;<span title="Title of Article">The Real Housewives, Gendered Affluence, and the Rise of the Docusoap</span>.&#34; 
	<em><span title="Title of Journal">Feminist Media Studies</span></em>,
	<span title="volume, number">vol. 17, no. 6</span>,
	<span title="date of publication">2017</span>,
	<span title="page numbers">pp. 1022&#45;36</span>. 
	<em><span title="Name of Database">Taylor and Francis Online</span></em>, 
	<span title="DOI or URL">doi: 10.1080/14680777.2017.1283342</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the author(s) name and any relevant page number(s), in parentheses, immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith and Brown 112&#45;13).
</blockquote>
<br>
Or include the author name(s) in your sentence, with the relevant page number(s) in parentheses. 
<br>
<blockquote class="in-text-citation">
	Smith and Brown suggest that &#34;the default position is markedly affected&#34; (121).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith and Brown 112&#45;13). In addition&hellip; was a 
	common feature (121).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
