<h2>%%ReferenceStyle%%Web page, known author</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author or Editor&#8217;s Name. <em>Title of the page</em>. Organisation or publisher of the site (if known), year of publication or last update (if known), URL.
</blockquote>
<br>
<strong>Examples</strong>
<br><br>
If two or more organizations are provided in the source and they appear to be equally responsible for the work, cite each organisation separating each organisation name with a forward slash (/). 
<br><br>
<u>Authored web page:</u>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author or editor&#8217;s Name">Andrew Smith</span>. 
	<span class="hover" title="Title of the page"><em>Core Retail Electronic Card Spending Flat</em></span>.
	<span class="hover" title="Organisation or publisher of the site">Statistics New Zealand/New Zealand Government</span>, 
	<span class="hover" title="Year of publication or last update">2044</span>, 
	<span class="hover" title="URL">www.stats.govt.nz/browse_for_stats/snapshots-of-nz/te-ahua-o-aotearoa-2057.aspx</span>.
</blockquote>
<br>
If a web page has three or more authors or editors, provide the name of the first author/ editor followed by et al.
<br><br>
<u>Edited web page:</u>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author or Editor&#8217;s Name">Eaves, Morris, et al., editors</span> 
	<span class="hover" title="Title of the page"></span>
	<em><span class="hover" title="Title or owner of site">The William Blake Archive</span></em>. 
	<span class="hover" title="Publisher or sponsor of the site">Library of Congress</span>, 
	<span class="hover" title="date of publication">2007</span>,
	<span class="hover" title="URL">http://www.blakearchive.org/blake/</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the author&#8217;s name immediately following the cited material. The author’s name should lead the reader to the respective entry in your Works Cited list. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith).
</blockquote>
<br>
If your Works Cited list includes two authors with the same surname, include the first initial.
<br>
<blockquote class="in-text-citation">
	&hellip; was found to be the case (A. Smith).
</blockquote>
<br>
Or include the author&#8217;s name in your sentence.
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34;.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>