<h2>%%ReferenceStyle%%Conference Presentation</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing. The name of the conference does not need to be italicised as it is a live presentation. 
<br><br>
<strong>Format</strong>
<br><br>
A description of the source can be added, if clarity is needed, at the end of the Works Cited entry.
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s Name. &#34;Title of Presentation.&#34; Name of Conference, day month. and year of presentation, Venue of presentation, City of presentation. Description.
</blockquote>
<br>
<strong>Example</strong>
<br><br>
Include the city where the presentation was held after the name of the venue preceded by a comma. Omit the city if it is part of the venue name. 
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Name">Smith, Agatha</span>. 
	&#34;<span class="hover" title="Title of Presentation">Appalachian Mountain Clog Dancing</span>.&#34; 
	<span class="hover" title="Name of Conference or Occasion">Annual Conference of the Society of Ethnomusicology and Dance</span>,  
	<span class="hover" title="Day, month and year of presentation">26&#45;30 Nov. 2056</span>,
	<span class="hover" title="Location of presentation">Hyatt Hotel, Auckland</span>. 
	<span class="hover" title="Description">Conference presentation</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the author&#8217;s name and any relevant page number(s), in parentheses, immediately following the cited material. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26),
</blockquote>
<br>
Or include the author&#8217;s name in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (23).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26). In addition &hellip;was a common 
	feature (28).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>