<h2>%%ReferenceStyle%%Government Report Online</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br><br>
When an entry starts with a government agency, begin the entry with the name of the government followed by a comma then the name of the agency. 
<br>
<blockquote class="ref-hang-indent">
	Name of Government, Name of Department or Agency. <em>Title</em>. Year of publication, URL. 
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Name of Government">Australian Government</span>,
	<span class="hover" title="Name of Department or Agency">Department of Health and Ageing</span>.
	<em><span class="hover" title="Title">Ageing and Aged Care in Australia</span></em>.
	<span class="hover" title="Year of publication">2008</span>,
	<span class="hover" title="URL">www.health.gov.au/internet/main/publishing.nsf/Content/ageing</span>.
</blockquote>
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When the report is authored by a government agency, include the name of the government followed by a comma then the name of the agency and any relevant page number(s) within parentheses immediately after the cited material. In a parenthetical citation, abbreviate terms that are commonly abbreviated, such as department (Dept.).
<br>
<blockquote class="in-text-citation">
	&hellip;was shown in the report (Australian Government, Dept. of Health and Ageing).
</blockquote>
<br><br>
Or include the authors in your sentence, and any relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	The Australian Government, Department of Health and Ageing reported that&hellip; (11).
</blockquote>
<br><br>
When the author is referred to more than once in the same paragraph only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Australian Government, Dept. of Health and Ageing 10-11). In addition &hellip;was a common feature (11).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>