<h2>%%ReferenceStyle%%Image from the Internet (no author)</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br><br>
A description of the source can be added if clarity is needed, at the end of the Works Cited entry.
<br>
<blockquote class="ref-hang-indent">
	&#34;Title of Image.&#34; <em>Title of source</em>, date or year of publication, URL. Description. 
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	&#34;<span class="hover" title="Title of image">An Offering to the Ocean in La Punta, Peru.</span>&#34;
	<em><span class="hover" title="Title of source">Sydney Morning Herald</span></em>,
	<span class="hover" title="Year of publication">19 May. 2009</span>,
	<span class="hover" title="URL">www.smh.com.au/snapshots/</span>.
	<span class="hover" title="Description">Web image</span>.
</blockquote>
<br><br>
If the image was obtained from a website, place the name of the website as the publisher after the title of the image. Do not italicise the name of the publisher.
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use an image from the internet where no author is provided, include the title of the image in double quotation marks immediately after the cited material. Abbreviate the title if it is longer than a noun phrase. For example, <em>Faulkner&#8217;s Southern Novels</em> consists entirely of a noun phrase (a noun <em>Novels</em> preceded by two modifiers) and wouldn&#8217;t be shortened. By contrast <em>Faulkner&#8217;s Novels of the South</em> would be shortened to its noun phrase <em>Faulkner&#8217;s Novels</em>. The abbreviated title should begin with the word by which it is alphabetised in the Works Cited. If the title does not begin with a noun phrase, cite the first word if it is enough to direct the reader to the correct entry. For further information on abbreviating titles, see 3.2.1 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.
<br>
<blockquote class="in-text-citation">
	&hellip;conveys a sense of heightened emotion ("An"). 
</blockquote>
<br><br>
Or include the full name of the image in your sentence.
<br>
<blockquote class="in-text-citation">
	&#34;An offering to the Ocean in La Punta, Peru&#34;, pictured below, shows&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
