<h2>%%ReferenceStyle%%Podcast</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br><br>
A description of the source can be added if clarity is needed, at the end of the Works Cited entry.
<br>
<blockquote class="ref-hang-indent">
	Name of contributor and a descriptive label. &#34;Title of podcast.&#34; <em>Title of podcast series</em>, name of website or broadcast station, date, URL. Description. 
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Name of contributor">Atkin, Michael, reporter</span>.
	&#34;<span class="hover" title="Title of podcast">Bermagui Forest Disputed Turf.</span>&#34;
	<span class="hover" title="Title of podcast series"><em>The Hack Half Hour</em></span>,
	<span class="hover" title="Name of website or broadcast station">ABC</span>,
	<span class="hover" title="Date">19 May. 2009</span>,
	<span class="hover" title="URL">www.abc.net.au/triplej/hack/notes/</span>.
	<span class="hover" title="Description">Podcast</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, list the author&#8217;s name, in parentheses, immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	It was found&hellip; (Atkin). 
</blockquote>
<br><br>
Or include the author&#8217;s names in your sentence.
<br>
<blockquote class="in-text-citation">
	Atkin found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>