<h2>%%ReferenceStyle%%Episode in Radio, Podcast or TV Series</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br><br>
If you are writing about an episode in a series that does not focus on one particular individual&#8217;s contribution, begin the entry with the episode title followed by the contributor&#8217;s name and their descriptive label. If a contributor did not play the role in the entire series, identify such a contributor after the title of the episode, rather than after the series. 
<br>
<blockquote class="ref-hang-indent">
	&#34;Title of episode (if available).&#34; Name(s) of contributors and descriptive label for each contributor for episode. <em>Title of Series</em>, name(s) of contributors and descriptive label for each contributor for series, season number, episode number, name of network, production or distribution company, date or year of broadcast. Description. 
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	&#34;<span class="hover" title="Title of episode (if appropriate)">Six of One</span>.&#34; 
	<span class="hover" title="Name(s) of contributors">Written by Michael Angeli, directed by Anthony Hemingway</span>. 
	<em><span class="hover" title="Title of Series">Battlestar Galactica</span></em>, 
	<span class="hover" title="Name(s) of contributors">produced by Ronald D. Moore</span>, 
	<span class="hover" title="Season number, Episodre number">season 4, episode 2</span>,
	<span class="hover" title="Name of network (publisher)">Sci Fi Channel</span>, 
	<span class="hover" title="Date of broadcast">11 Apr. 2008</span>. 
	<span class="hover" title="Description">Television series</span>.
</blockquote>
<br>
If the discussion of your work focuses on the role of a particular person, begin the Works Cited entry with their name followed by a descriptive label. Information on other key participants can be included in the position of other contributors.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Name of performer">Walters, Julie M., performer</span>.
	&#34;<span class="hover" title="Title of episode (if appropriate)">Episode 3</span>.&#34; 
	<em><span class="hover" title="Title of Work">The Secret Diary of Adrian Mole</span></em>,
	<span class="hover" title="Name(s) particular to the work">created by Sue Townsend</span>, 
	<span class="hover" title="Name of network (publisher)">Thames Television</span>, 
	<span class="hover" title="Date of broadcast">30 Sept. 1985</span>. 
	<span class="hover" title="Description">Television series</span>.
</blockquote>
<br>
If you accessed the recording online, add the title of the website where the recording was accessed and a <a href="https://library.westernsydney.edu.au/main/guides/using-library-resources" target="_blank" rel="noopener noreferrer">stable URL</a> omitting http:// or https://
<br>
<blockquote>
	<div class="ref-hang-indent">
		<span class="hover" title="Title of episode (if appropriate)"><em>Six Charged in Alleged N.J. Terror Plot</em></span>.
		<span class="hover" title="Name of publisher">WNBC</span>,
		<span class="hover" title="Date accessed">9 May. 2007</span>,
		<span class="hover" title="URL">www.nbcnewyork.com/news/local/Six-Charged-In-Alleged-NJ-Terror-Plot/455423283.html.</span>. 
	</div>
	<br>
	<div class="ref-hang-indent">
		&#34;<span class="hover" title="Title of episode (if appropriate)">Handsome Devil</span>.&#34;
		<span class="hover" title="Name(s) particular to episode (if appropriate)">Written by Fiona Samuel and Rachael Lang</span>. 
		<em><span class="hover" title="Title of Work">The Blue Rose</span></em>, 
		<span class="hover" title="Name(s) particular to the work">produced by Chris Bailey</span>,
		<span class="hover" title="Episode Number">episode 10</span>, 
		<span class="hover" title="Title of archive or website">TV3 On Demand</span>,
		<span class="hover" title="Date accessed">15 Apr. 2013</span>,
		<span class="hover" title="URL">www.tv3.co.nz/shows/blue-rose/S1298-988</span>. 
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When a work is listed by the episode title in the Works Cited list, place double quotation marks around the title in the sentence.
<br>
<blockquote class="in-text-citation">
	&#34;Six of One&#34; demonstrates&hellip;
</blockquote>
<br>
In a parenthetical citation, abbreviate the title if is longer than a noun phrase, immediately following the cited material. For example, <em>Faulkner&#8217;s Southern Novels</em> consists entirely of a noun phrase (a noun <em>Novels</em> preceded by two modifiers) and wouldn’t be shortened. By contrast <em>Faulkner&#8217;s Novels of the South</em> would be shortened to its noun phrase <em>Faulkner&#8217;s Novels</em>. The abbreviated title should begin with the word by which it is alphabetised in the Works Cited. If the title does not begin with a noun phrase, cite the first word if it is enough to direct the reader to the correct entry. For further information on abbreviating titles, see 3.2.1 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.
<br>
<blockquote class="in-text-citation">
	&hellip;a sense of heightened emotion (&#34;Six&#34;).
</blockquote>
<br>
If the Works Cited entry begins with the name of a contributor, use the contributor(s) name whenever you refer to the source in your writing. Descriptive labels (e.g. performer) is not required in-text.
<br>
<blockquote class="in-text-citation">
	Walter demonstrates&hellip;
	<br><br>
	Or
	<br><br>
	&hellip;a sense of heightened emotion (Walters).
</blockquote>
<br>
Since page numbers cannot be given to direct your reader, when referring to a specific part of an episode, describe the scene or what was discussed as accurately and concisely as possible. 
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
