<h2>%%ReferenceStyle%%Lecture (unpublished) / personal communication</h2>
<hr>
Avoid where possible!
<br><br>
It is better to do the research and refer back to the original source yourself. Ask the lecturer for a reference list for their lecture if necessary. If the lecture material is available in electronic format, for example, on vUWS, follow the format for the citation of electronic sources.
<br><br>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br><br>
A description of the source can be added if clarity is needed.
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s name. &#34;Title of Lecture.&#34; Unit name, Day Month. and Year, Venue of lecture, City. Description.
</blockquote>
<br>
<strong>Example</strong>
<br><br>
Include the city where the lecture was held after the name of the venue preceded by a comma. Omit the city if it is part of the venue name. Abbreviate the word <em>University</em> to <em>U</em>. For further information on common academic abbreviations, see 1.6.2 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.
	<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s name">Smith, Alice</span>. 
	&#34;<span class="hover" title="Title of Lecture">Pacific Island Quilting</span>.&#34; 
	<span class="hover" title="Unit name">Women 110</span>,
	<span class="hover" title="Day, month and  year">28 Mar. 2056</span>,
	<span class="hover" title="Venue of lecture, City">U of Auckland</span>. 
	<span class="hover" title="Description">Lecture</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the author&#8217;s name, in parentheses, immediately following the cited material. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith).
</blockquote>
<br>
Or include the author&#8217;s name in your sentence.<br>
<blockquote class="in-text-citation">
	Smith suggested in a recent lecture that contemporary quilting has developed a hybrid form.
</blockquote>
<br>
<div style="text-align:right">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
