<h2>%%ReferenceStyle%%Thesis or dissertation</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br><br>
If the thesis was accessed online, provide a URL after the year preceded by a comma. If access to the thesis is through a database, please see the example for an ebook. A description of the source can also be added if clarity is needed, at the end of the Works Cited entry.
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s name. <em>Title of Thesis.</em> Name of University, Year. Description.
</blockquote>
<br>
<strong>Example</strong>
<br><br>
Abbreviate the word <em>University</em> to <em>U</em>. For further information on common academic abbreviations, see 1.6.2 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.
	<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s name">Smith, Amelia</span>. 
	<span class="hover" title="Title of Thesis"><em>The Influence of Bible Studies on New Zealand Primary School Children, 1945&#45;1982</em></span>.
	<span class="hover" title="Name of University">U of Auckland</span>, 
	<span class="hover" title="Year">2056</span>. 
	<span class="hover" title="Description">Dissertation</span>.
</blockquote>
<br>
Most theses and dissertations are unpublished. If the one you are citing is published, add the publisher name as shown in the format for a print book or ebook.
<br><br>
If the thesis is published online by the University and is accessed through an institutional repository (e.g. ResearchDirect), include the name of the repository after the name of the University preceded by a forward slash (/).
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas or words in your writing, include the author&#8217;s name and any relevant page number(s) in parentheses immediately following the cited material. 
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26).
</blockquote>
<br>
Or include the author name in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (23).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26). In addition &hellip;was a 
	common feature (28).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
