<h2>%%ReferenceStyle%%Artwork</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br><br>
Omit the city if it is part of the venue name. A description of the source can also be added, if it is needed for clarity, at the end of the Works Cited entry.
<br>
<blockquote class="ref-hang-indent">
	Artist&#8217;s Name(s). <em>Title of Work</em>. Year of work (if known), Gallery, City. Description of work.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Artist&#8217;s Name(s)">Smith, Amy</span>. 
	<em><span class="hover" title="Title of Work">Kitchen Sink Daydreams</span></em>. 
	<span class="hover" title="Date of work">2047</span>,
	<span class="hover" title="Gallery">Waiheke Art Gallery</span>, 
	<span class="hover" title="City">Auckland</span>.
	<span class="hover" title="Description">Oil on canvas</span>. 
</blockquote>
<br>
In the case of a reproduction of the work within a published source, cite complete publication details for the source of the reproduction, including the relevant page, slide, figure, or plate number.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When referring to an artwork in your writing, it may be useful to include the title in italics as well as the author’s name in the sentence.
<br>
<blockquote class="in-text-citation">
	In <em>Kitchen Sink Daydreams</em>, Smith demonstrates&hellip;
</blockquote>
<br>
In a parenthetical citation, abbreviate the title if it is longer than a noun phrase. For example, <em>Faulkner&#8217;s Southern Novels</em> consists entirely of a noun phrase (a noun <em>Novels</em> preceded by two modifiers) and wouldn&#8217;t be shortened. By contrast <em>Faulkner&#8217;s Novels of the South</em> would be shortened to its noun phrase <em>Faulkner&#8217;s Novels</em>. The abbreviated title should begin with the word by which it is alphabetised in the Works Cited. If the title does not begin with a noun phrase, cite the first word if it is enough to direct the reader to the correct entry. For further information on abbreviating titles, see 3.2.1 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.
<br>
<blockquote class="in-text-citation">
	&hellip;conveys a sense of heightened emotion (Smith, <em>Kitchen Sink</em>). 
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
