<h2>%%ReferenceStyle%%Video from the Internet</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br><br>
A description of the source can be added, if clarity is needed, at the end of the Works Cited entry. 
<br>
<blockquote class="ref-hang-indent">
	Author. <em>Title</em>. Name of website, date video was posted, URL. Description. 
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Norton, R.</span>
	<span class="hover" title="Title"><em>How to train a Cat to Operate a Light Switch</em></span>.
	<span class="hover" title="Name of website">Youtube</span>,
	<span class="hover" title="Date">4 Nov. 2006</span>,
	<span class="hover" title="URL">www.youtube.com/watch?v=Vja83KLQXZs</span>.
	<span class="hover" title="Description">Online video</span>.
</blockquote>
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When you use another person&#8217;s ideas in your writing, list the author&#8217;s name, in parentheses, immediately following the cited material. 
<br>
<blockquote class="in-text-citation">
	Training a cat requires&hellip; (Norton). 
</blockquote>
<br><br>
Or include the author&#8217;s name in your sentence.
<br>
<blockquote class="in-text-citation">
	In the video posted to YouTube, Norton showed that a cat can be trained&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>