<h2>%%ReferenceStyle%%Film or video recording</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br><br>
<strong>Format</strong>
<br><br>
If you are writing about a film or television series that does not focus on one particular individual&#8217;s contribution, begin the entry with the title followed by the contributor&#8217;s name and their descriptive label.
<br><br>
Films and television series or often produced and distributed by different companies. Cite the organisation that had primary responsibility for the work.
<br><br>
A description of the source can also be added, if clarity is needed, at the end of the Works Cited entry.
	<br>
<blockquote class="ref-hang-indent">
	<em>Title of Work</em>. Name(s) of contributors and descriptive label for each contributor, production or distribution company, year. Description.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<em><span class="hover" class="hover" title="Title of Work">Outside the Lines</span></em>. 
	<span class="hover" title="Name(s) of Director(s)">Directed by Archie Smith</span>. 
	<span class="hover" title="Name(s) of Performer(s)">performance by Carrie Chan, Darryn Williams and Manu Tahatai</span>,
	<span class="hover" title="Production or distribution company">Upbeat Pictures</span>, 
	<span class="hover" title="year">2056</span>. 
	<span class="hover" title="Description">Film</span>.
</blockquote>
<br>
If you are citing the contribution of a particular individual (in this case the director), include their name in the author position followed by a descriptive label. 
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Contributor&#8217;s name">Smith, Archie, director</span>. 
	<em><span class="hover" title="Title of Work">Outside the Lines</span></em>. 
	<span class="hover" title="Production or distribution company">Upbeat Pictures</span>, 
	<span class="hover" title="year">2056</span>. 
	<span class="hover" title="Description">Film</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When a work is listed by title in the Works Cited list, include the title of the work in italics within the sentence. 
<blockquote class="in-text-citation">
	<em>Outside the Lines</em> demonstrates&hellip;
</blockquote>
<br>
In a parenthetical citation, abbreviate the title if is longer than a noun phrase, immediately following the cited material. For example, <em>Faulkner&#8217;s Southern Novels</em> consists entirely of a noun phrase (a noun <em>Novels</em> preceded by two modifiers) and wouldn’t be shortened. By contrast, <em>Faulkner&#8217;s Novels of the South</em> would be shortened to its noun phrase <em>Faulkner&#8217;s Novels</em>. The abbreviated title should begin with the word by which it is alphabetised in the Works Cited. If the title does not begin with a noun phrase, cite the first word if it is enough to direct the reader to the correct entry. For further information on abbreviating titles, see 3.2.1 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.
<blockquote class="in-text-citation">
	&hellip;a sense of heightened emotion (<em>Outside</em>).
</blockquote>
<br>
If the Works Cited entry begins with the name of a contributor, use the contributor(s) name whenever you refer to the source in your writing. Descriptive labels (e.g. director) is not required in-text. 
<br>
<blockquote class="in-text-citation">
	Smith demonstrates&hellip;
	<br><br>
	Or
	<br><br>
	&hellip;a sense of heightened emotion (Smith).
</blockquote>
<br>
Since page numbers cannot be given to direct your reader, when referring to a specific part of the film, describe the scene as accurately and concisely as possible.
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
