<h2>%%ReferenceStyle%%Australian Bureau Of Statistics</h2>
<hr>
<strong>WORKS CITED</strong>
<br><br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br><br>
When an organisation is both the author and the publisher, skip the author element and begin the entry with the title then include the organisation as the publisher. 
<br>
<blockquote class="ref-hang-indent">
	<em>Title</em>. Publisher, date or year of publication, URL. 
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<em><span class="hover" title="Title of Work">Use of the Internet by Householders, Australia</span></em>.
	<span class="hover" title="Publisher">Cat. no. 8147.0, Australian Bureau of Statistics</span>, 
	<span class="hover" title="Date or year of publication">Nov. 2000</span>,
	<span class="hover" title="URL">www.abs.gov.au/AUSSTATS/abs@.nsf/7d12b0f6763c78caca257061001cc588/ae8e67619446db22ca2568a9001393f8!OpenDocument</span>.
</blockquote>
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
In a parenthetical citation, include the title of the work in italics immediately following the cited material. Abbreviate the title if it is longer than a noun phrase. For example, <em>Faulkner&#8217;s Southern Novels</em> consists entirely of a noun phrase (a noun <em>Novels</em> preceded by two modifiers) and wouldn&#8217;t be shortened. By contrast <em>Faulkner&#8217;s Novels of the South</em> would be shortened to its noun phrase <em>Faulkner&#8217;s Novels</em>. The abbreviated title should begin with the word by which it is alphabetised in the Works Cited. If the title does not begin with a noun phrase, cite the first word if it is enough to direct the reader to the correct entry. For further information on abbreviating titles, see 3.2.1 in the <a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer">MLA Handbook (8th edition)</a>.
<br>
<blockquote class="in-text-citation">
	&hellip;was shown in the census information (<em>Use</em>). 
</blockquote>
<br><br>
Or include the title of the work in your sentence with the title spelled out in full. 
<br>
<blockquote class="in-text-citation">
	<em>Use of the Internet by Householders, Australia</em> found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
