<!-- <br>
<div style="text-align: right;">
	<a href="javascript:window.print()">
		Print this page
	</a>
</div>
<br> -->
<br>
<div style="text-align: center;" id="list">
	<strong>Works Cited</strong>
</div>
<br>
<br>
<div class="ref-hang-indent">
	Aoyama, Achiti, et al. "Thinking Critically in a Whole New World." <em>Language Learning in Higher Education</em>, vol. 24, no. 1, 2056, pp. 67-87. 
</div>
<br>
<div class="ref-hang-indent">
	Blearey, Naan. Personal interview. 31 Feb. 2057.
</div>
<br>
<div class="ref-hang-indent">
	Cooper, Agatha. "Appalachian Mountain Clog Dancing." <em>Society of Ethnomusicology and Dance Conference</em>, edited by Bert A. Brown, Society of Ethnomusicology and Dance, 2056, pp. 12-24.
</div>
<br>
<div class="ref-hang-indent">
	<em>Crosby’s Dictionary of Medical and Health Sciences</em>. Crosby-Williams, 2056. 
</div>
<br>
<div class="ref-hang-indent">
	Fortune, Albaraa. "High Speed Compression for Music Downloads." <em>Journal of Internet Engineering</em>, vol. 10, no. 2, 2056, pp. 154-65. <em>ProQuest</em>, doi: 10.8521/pmc.7896.3201.
</div>
<br>
<div class="ref-hang-indent">
	"Hong Kong braces for protests." <em>Melbourne Herald</em>, 15 Dec. 2056, p. A5. 
</div>
<br>
<div class="ref-hang-indent">
	Lal, Amy. “Kitchen Sink Daydreams.” <em>Contemporary Art in Aotearoa</em>. AUP, 2056, pp. 89-92. 
</div>
<br>
<div class="ref-hang-indent">
	Larsen, Arthur, et al. <em>The Decline and Fall of the Modern Generation</em>. New Media P, 2056.
</div>
<br>
<div class="ref-hang-indent">
	Mozart, Alex, and Beryl Brown. "Glamorizing Domesticity: Narratives of Marriage and Motherhood in Desperate Housewives." <em>Journal of Media Studies</em>, vol. 25, no. 2, 2056, pp. 110-23. 
</div>
<br>
<div class="ref-hang-indent">
	O’Carroll, Angela, and Buster Brown. "A Battle from the Beginning: The Life and Times of a Heavyweight Champion." <em>Sport and Fitness</em>, vol. 14, no. 2, 2056, pp. 25-37.
</div>
<br>
<div class="ref-hang-indent">
	Otto, Annabelle, and Bridget Brown. <em>Sustainability in Practice: Overcoming Energy Challenges in the 21st Century</em>. Northwoods P, 2056.
</div>
<br>
<div class="ref-hang-indent">
	<em>Outside the Lines</em>. Directed by Archie Smith, performance by Carrie Chan, Darryn Williams and Manu Tahatai, Upbeat Pictures, 2056. Film.
</div>
<br>
<div class="ref-hang-indent">
	Rima, Kura, and R. Anu. <em>Teaching and Learning in Higher Education</em>. U Books, 2056. 
</div>
<br>
<div class="ref-hang-indent">
	Russell, Apirana. "Twentieth Century New Zealand Composers." <em>Music of New Zealand</em>, U of Auckland P, 2057, pp. 125-152. <em>NZ History</em>, https://nzhistory.nz/page/twentieth-century-composers. exp. 
</div>
<br>
<div class="ref-hang-indent">
	Smith, Alice. "Pacific Islands Quilting." Women 110, 28 Mar. 2056, U of Auckland. Lecture.
</div>
<br>
<div class="ref-hang-indent">
	Smith, Andrea. "Synthetic Reactions and Strategies." <em>Principles of Organic Chemistry</em>, edited by Brian A. Brown, Wilton, 2056, pp. 123-47.
</div>
<br>
<div class="ref-hang-indent">
	Smith, Andrea. <em>Exploring Nanoscale Science</em>. Beck, 2050.
</div>
<br>
<div class="ref-hang-indent">
	Smith, Andrew. "Leading by Example." <em>Management Research International</em>, vol. 3, no. 4, 2056, pp. 45-48.
</div>
<br>
<div class="ref-hang-indent">
	The Wearshop. <em>Business Profile</em>. NZ Company Profiles, 2056, www.nzcompanyprofiles.com/the_wearshop.
</div>
<!--<br>
<div class="ref-hang-indent">
	&#34;The Whale Swimmer.&#34; 2056. 23 Oct. 2057. Web.
</div>-->
<br>
<div class="ref-hang-indent">
	Van der Linden, Azhu, et al. "Uneven Muscle Mass Growth Patterns in Extreme Athletes." <em>Asia-Pacific Journal of Injury Prevention</em>, vol. 8, no. 4, 2056, pp. 356-87.
</div>
<br>
<div class="ref-hang-indent">
	Wilson, Aroha, and Bridget Brown. "Dining Out: A History of Restaurant Eating in New Zealand." <em>Journal of New Zealand Historical Research</em>, vol. 3, no. 5, 2056, pp. 25-38. <em>EBSCOhost, Regional Business News</em>, ezproxy.uws.edu.au/login?url=http://search.ebscohost.com/login.aspx?direct=true&db=bwh&AN=123979215&site=ehost-live&scope=site.
</div>
<br>
<br>