<hr>
<span class="smaller">
	This citation guide is based on the 
	<a href="https://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA21186157620001571" target="_blank" rel="noopener noreferrer" title="opens a new window">
		MLA Handbook (8th edition)
	</a>.
	<br>
	For further support, consult the manual directly.
</span>
<div class="clear"></div>
