<h2>%%ReferenceStyle%%Book, two or three authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s), Author, Initial(s) &amp; Author, Initial(s) Year of publication, 
	<em>Title of book</em>, Publisher, Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
Within each entry author names should be listed in the order in which they appear on the source or 
as displayed on the title page.
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Schneider</span>,
	<span class="hover" title="Initial(s)">Z</span>,
	<span class="hover" title="Author">Whitehead</span>,
	<span class="hover" title="Initial(s)">D</span> &amp;
	<span class="hover" title="Author">Elliott</span>,
	<span class="hover" title="Initial(s)">D</span>
	<span class="hover" title="Year of publication">2007</span>,
	<em><span class="hover" title="Title of book">Nursing and midwifery research: methods and appraisal for evidence&#45;based practice</span></em>,
	<span class="hover" title="Publisher">Elsevier Australia Marrickville</span>,
	<span class="hover" title="Place of publication">NSW</span>.
</blockquote>
<br>
For a numbered edition, place the abbreviation after the book title. This part should not be italicised. 
Use rev. edn, for revised editions.
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Schneider</span>,
	<span class="hover" title="Initial(s)">Z</span>,
	<span class="hover" title="Author">Whitehead</span>,
	<span class="hover" title="Initial(s)">D</span> &amp;
	<span class="hover" title="Author">Elliott</span>,
	<span class="hover" title="Initial(s)">D</span>
	<span class="hover" title="Year of publication">2007</span>,
	<em><span class="hover" title="Title of book">Nursing and midwifery research: methods and appraisal for evidence&#45;based practice</span></em>,
	<span class="hover" title="Edition">3rd edn</span>,
	<span class="hover" title="Publisher">Elsevier Australia Marrickville</span>,
	<span class="hover" title="Place of publication">NSW</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Where a work has two authors, cite both names every time the reference occurs in the text. 
<br>
<blockquote class="in-text-citation">
	Schneider, Whitehead and Elliot (2007) showed that&hellip;
	<br>
	or
	<br>
	&hellip;is demonstrated (Schneider, Whitehead &amp; Elliot 2007).
</blockquote>
<br>
<br>
When the authors are referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Schneider, Whitehead and Elliot (2007) showed that&hellip; 
	Schneider, Whitehead and Elliot also found that&hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Schnieder, Whitehead and Elliot (2007, p. 34) observe that &#8216;our dependency on oil is a 
	growing concern&#8217;.
	<br>
	Alternatively: In terms of sustainability, &#8216;our dependency on oil is a growing concern&#8217; 
	(Schnieder, Whitehead &amp; Elliot 2007, p. 34).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>