<h2>%%ReferenceStyle%%Book, four to six authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">	
	Author, Initial(s), Author, Initial(s), Author, Initial(s) &amp; Author, Initial(s) 
	Year of publication, <em>Title of book</em>, Publisher, Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Belenky</span>,
	<span class="hover" title="Initial(s)">M</span>,
	<span class="hover" title="Author">Clinchy</span>,
	<span class="hover" title="Initial(s)">B</span>,
	<span class="hover" title="Author">Goldberger</span>,
	<span class="hover" title="Initial(s)">N</span> &amp;
	<span class="hover" title="Author">Tarule</span>,
	<span class="hover" title="Initial(s)">J</span>
	<span class="hover" title="Year of publication">1986</span>,
	<em><span class="hover" title="Title of book">Women&#8217;s ways of knowing</span></em>,
	<span class="hover" title="Publisher">Basic</span>,
	<span class="hover" title="Place of publication">New York</span>.
</blockquote>
<br>
For a numbered edition, place the abbreviation after the book title. This part should not be italicised. 
Use rev. edn, for revised editions.
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Belenky</span>,
	<span class="hover" title="Initial(s)">M</span>,
	<span class="hover" title="Author">Clinchy</span>,
	<span class="hover" title="Initial(s)">B</span>,
	<span class="hover" title="Author">Goldberger</span>,
	<span class="hover" title="Initial(s)">N</span> &amp;
	<span class="hover" title="Author">Tarule</span>,
	<span class="hover" title="Initial(s)">J</span>
	<span class="hover" title="Year of publication">1986</span>,
	<em><span class="hover" title="Title of book">Women&#8217;s ways of knowing</span></em>,
	<span class="hover" title="Edition">2nd edn</span>,
	<span class="hover" title="Publisher">Basic</span>,
	<span class="hover" title="Place of publication">New York</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When a work has more than three authors only the surname of the first listed author is used 
followed by et al. (Note the full stop after et al.).
<br>
<br>
<strong>First citation</strong>
<br>
<blockquote class="in-text-citation">
	Belenky et al. (1986) explains that knowing is&hellip;
	<br>
	or
	<br>
	&hellip;and therefore knowingness can be&hellip;(Belenky et al. 1986).
</blockquote>
<br>
<hr>
<br>
<strong>Subsequent citations</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Belenky et al. (1986) found that &hellip;
	<br>
	Alternatively: A recent study (Belenky et al. 1986) found that &hellip;
</blockquote>
<br>
<br>
When the work is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited. 
<br>
<blockquote class="in-text-citation">
	In a recent study, Belenky et al. (1986) showed that &hellip; 
	Belenky et al. also found that &hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Belenky et al. (1986, p. 92) observe that &#8216;conditions were right for the 
	Prime Mortgage collapse&#8217;. 
	<br>
	Alternatively: Therefore, &#8216;conditions were right for the Prime Mortgage collapse&#8217; 
	(Belenky et al. 1986, p. 92).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>