<h2>%%ReferenceStyle%%Book, no author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	<em>Book title</em> Year of publication, Publisher, Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<em><span class="hover" title="Book title">Guide to agricultural meteorological practices</span></em>
	<span class="hover" title="Year of publication">1981</span>, 
	<span class="hover" title="Publisher">Secretariat of the World Meteorological Organization</span>,
	<span class="hover" title="Place of publication">Geneva</span>.
</blockquote>
<br>
For a numbered edition, place the abbreviation, for a work that has no author, after the publication year. 
This part should not be italicised. Use rev. edn, for revised editions.
<br>
<blockquote class="ref">
	<em><span class="hover" title="Book title">Guide to agricultural meteorological practices</span></em>
	<span class="hover" title="Year of publication">1981</span>,
	<span class="hover" title="edition">2nd edn</span>,
	<span class="hover" title="Publisher">Secretariat of the World Meteorological Organization</span>, 
	<span class="hover" title="Place of publication">Geneva</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
If you are citing a work which has no author, the first few words of the title should be used. 
The title of the book is italicised.
<br>
<blockquote class="in-text-citation">
	<em>Guide to agricultural meteorological practices</em> (1981) provides&hellip;
	<br>
	or
	<br>
	This can be shown by&hellip;(<em>Guide to agricultural meteorological practices</em> 1981).
</blockquote>
<br>
If you are making a direct quotation fewer than 30 words, use single quotation marks and include page
numbers.
<br>
<blockquote class="in-text-citation">
	The <em>Guide to agricultural meteorological practices</em> (1981, p. 56) states that &#8216;chocolate 
	has several health benefits&#8217;.
	<br>
	Alternatively: Therefore, &#8216;chocolate has several health benefits&#8217; 
	(<em>Guide to agricultural meteorological practices</em> 1981, p. 56).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>