<h2>%%ReferenceStyle%%Book, chapter or article in an edited book</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
Where page range commences with same digit e.g. <u>1</u>75&#45;<u>1</u>88, abbreviate the page 
range: 175&#45;88
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) of chapter/article Year of publication, 
	&#8216;Title of chapter/article&#8217;, in Initial(s) Editor (ed.),
	<em>Title of book</em>, Publisher, Place of publication,
	pages of the chapter/article referred to.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author(s) of chapter/article">Ferres</span>,
	<span class="hover" title="Initial(s)">K</span>
	<span class="hover" title="Year of publication">2001</span>,
	<span class="hover" title="Title of chapter/article">&#8216;Idiot box: television, urban myths and ethical scenarios&#8217;</span>,
	in <span class="hover" title="Editor(s)">I Craven (ed.)</span>,
	<em><span class="hover" title="Title of book">Australian cinema in the 1990s</span></em>,
	<span class="hover" title="Publisher">Frank Cass</span>,
	<span class="hover" title="Place of publication">London</span>,
	<span class="hover" title="pages of the chapter/article referred to">pp. 175&#45;88</span>.
</blockquote>
<br>
<br>
For a number of Editors, place the abbreviation eds in parenthesis after the book title. This part 
should not be italicised. Use rev. edn, for revised editions.
<br>
<blockquote class="ref">
	<span class="hover" title="Author(s) of chapter/article">Ferres</span>,
	<span class="hover" title="Initial(s)">K</span>
	<span class="hover" title="Year of publication">2001</span>,
	<span class="hover" title="Title of chapter/article">&#8216;Idiot box: television, urban myths and ethical scenarios&#8217;</span>,
	in <span class="hover" title="Editor(s)">I Craven &amp; J Smith (eds)</span>,
	<em><span class="hover" title="Title of book">Australian cinema in the 1990s</span></em>,
	<span class="hover" title="Publisher">Frank Cass</span>,
	<span class="hover" title="Place of publication">London</span>,
	<span class="hover" title="pages of the chapter/article referred to">pp. 175&#45;88</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br> 
<br>
<blockquote class="in-text-citation">
	Ferres (2001) discussed the television episode&hellip;
	<br>
	or
	<br>
	The television episode&hellip; (Ferres 2001).
</blockquote>
<br>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Ferres (2001) demonstrated that&hellip; Ferres also found that&hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Ferres (2001, p. 56) observed that &#8216;the organism&#8217;s chemical defence was remarkable&#8217;. 
	<br>
	Alternatively: Tests showed that &#8216;the organism&#8217;s chemical defence was remarkable&#8217; 
	(Ferres 2001, p. 56).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>