<h2>%%ReferenceStyle%%Book, chapter or article in a book</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
You do not need to specify the chapter names from a book that is written in its entirety by the 
same authors, however if you wish to emphasise the use of one chapter it would be given in the 
above format. Please note that page numbers are not mandatory, however providing these can assist 
your reader to locate the source.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Year of publication, 
	&#8216;Title of chapter/article&#8217;, in <em>Title of book</em>, Publisher, 
	Place of publication, pages of the chapter/article referred to.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author(s) of chapter/article">Knowles</span>,
	<span class="hover" title="Initial(s)">MS</span>
	<span class="hover" title="Year of publication">2007</span>,
	<span class="hover" title="Title of chapter/article">&#8216;Independent study&#8217;</span>,
	in <em><span class="hover" title="Title of book">Using learning contracts</span></em>,
	<span class="hover" title="Publisher">Jossey&#45;Bass</span>,
	<span class="hover" title="Place of publication">San Francisco</span>,
	<span class="hover" title="pages of the chapter/article referred to">pp. 89&#45;96</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br> 
<br>
<blockquote class="in-text-citation">
	Knowles (1986) demonstrated that&hellip;
	<br>
	or
	<br>
	This independent study showed&hellip; (Knowles 1986)
</blockquote>
<br>
<br>
When the authors are referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Knowles (1986) demonstrated that&hellip; Knowles also found that&hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Knowles (1986, p. 56) observed that &#8216;the organism&#8217;s chemical defence was remarkable&#8217;. 
	<br>
	Alternatively: Tests showed that &#8216;the organism&#8217;s chemical defence was remarkable&#8217; 
	(Knowles 1986, p. 56).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>