<h2>%%ReferenceStyle%%Book, editor as &#8216;author&#8217;</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Editor, Initial(s) (ed.), Year of publication, <em>Title of book</em>, Publisher, 
	Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Editor">Craven</span>,
	<span class="hover" title="Initial(s)">I</span> (ed.)
	<span class="hover" title="Year of publication">2001</span>,
	<em><span class="hover" title="Title of book">Australian cinema in the 1990s</span></em>,
	<span class="hover" title="Publisher">Frank Cass</span>,
	<span class="hover" title="Place of publication">London</span>.
</blockquote>
<br>
Where there are more than two editors use the term (eds) instead of (ed.).
<br>
<blockquote class="ref">
	<span class="hover" title="Editor">Craven</span>,
	<span class="hover" title="Initial(s)">I</span> &amp;
	<span class="hover" title="Editor">Smith</span>,
	<span class="hover" title="Initial(s)">J</span> (eds) 
	<span class="hover" title="Year of publication">2001</span>,
	<em><span class="hover" title="Title of book">Australian cinema in the 1990s</span></em>,
	<span class="hover" title="Publisher">Frank Cass</span>,
	<span class="hover" title="Place of publication">London</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
If there is no author, use the editor&#8217;s name.
<br>
The abbreviation for two or more editors = (eds)
<br>
<blockquote class="in-text-citation">
	Craven (ed. 2001) discussed the successful&hellip;
	<br>
	or
	<br>
	The film starred actors&hellip; (ed. Craven 2001).
</blockquote>
<br>
<br>
When the editor is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited. 
<br>
<blockquote class="in-text-citation">
	Craven (ed. 2001) indicates that&hellip; Craven also illustrates that&hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Craven (ed. 2001, p. 75) observes that &#8216;the ants had an advanced chemical defence system&#8217;.
	<br>
	Alternatively: In terms of sustainability, &#8216;the ants had an advanced chemical defence 
	system&#8217; (ed. Craven 2001, p. 75).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>