<h2>%%ReferenceStyle%%Ebook</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
If an e&#45;book is publicly accessible via the Internet, include the URL instead of database name. 
e.g. viewed 4 April 2009,
<br>
&lt;http://www&hellip;&gt;.
<br>
If the e&#45;book is edited, include editor information &ndash; see 
<a href="%%ICiteURL%%/1/6?width=800&amp;height=600" class="colorbox-node">
	&#8216;Book, editor as &#8216;author&#8217;&#8217;
</a> example.

<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Year of publication, <em>Title of book</em>, Publisher, Place of publication, 
	Date viewed, Database name.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Storey</span>,
	<span class="hover" title="Initial(s)">KB</span>
	<span class="hover" title="Year of publication">2004</span>,
	<em><span class="hover" title="Title of book">Functional metabolism: regulation and adaptation</span></em>,
	<span class="hover" title="Publisher">John Wiley &amp; Sons</span>,
	<span class="hover" title="Place of publication">Hoboken, NJ</span>,
	<span class="hover" title="Date viewed">viewed 4 April 2009</span>,
	<span class="hover" title="Database name">NetLibrary database</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Storey (2004) stated that &hellip;
	<br>
	or
	<br>
	Functional metabolism is &hellip; (Storey 2004)
</blockquote>
<br>
<br>
When the author is referred to more than once in the same paragraph, do not include the date in 
subsequent references, as long as the work cannot be confused with others cited. 
<br>
<blockquote class="in-text-citation">
	In a recent study, Storey (2004) showed that &hellip; Storey also found that &hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote>
	Storey (2004, p. 26) observed that &#8216;hearing loss amongst adolescents is growing&#8217;. 
	<br>
	Alternatively: Unsurprisingly, &#8216;hearing loss amongst adolescents is growing&#8217; 
	(Storey 2004, p. 26).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>