<h2>%%ReferenceStyle%%Book, multiple books by same author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Different works by the same author(s) are listed in chronological (date) order.
<br>
If several works have the same date as well as the same author, works are distinguished by including
suffixes a, b, c, etc after the year. These are allocated in the reference list where they are ordered 
alphabetically by title. 
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Year of publication[suffix], <em>Title of book</em>, Publisher, 
	Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Jones</span>,
	<span class="hover" title="Initial(s)">C</span>
	<span class="hover" title="Year of publication">1999</span><span class="hover" title="Suffix">a</span>,
	<em><span class="hover" title="Title of book">Forming hypotheses</span></em>,	
	<span class="hover" title="Publisher">University of Western Sydney</span>,
	<span class="hover" title="Place of publication">Penrith</span>.
	<br>
	<br>
	<span class="hover" title="Author">Jones</span>,
	<span class="hover" title="Initial(s)">C</span>
	<span class="hover" title="Year of publication">1999</span><span class="hover" title="Suffix">b</span>,
	<em><span class="hover" title="Title of book">Assessing hypotheses</span></em>,
	<span class="hover" title="Publisher">University of Western Sydney</span>,
	<span class="hover" title="Place of publication">Penrith</span>.
	<br>
	<br>
	<span class="hover" title="Author">Jones</span>,
	<span class="hover" title="Initial(s)">C</span>
	<span class="hover" title="Year of publication">2008</span>,
	<em><span class="hover" title="Title of book">Developing hypotheses</span></em>,
	<span class="hover" title="Publisher">University of Western Sydney</span>,
	<span class="hover" title="Place of publication">Penrith</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br> 
<br>
<blockquote class="in-text-citation">
	Jones (1999a) indicated that&hellip;
	<br>
	Alternatively: A recent study (Jones 1999a) indicated that&hellip;
</blockquote>
<br>
<br>
Different authors with the same surname can be distinguished in&#45;text by initials e.g. J Brown 
(1997) and C Brown (1997).
<br>
If two or more sources are being cited for the same ideas or information, the author&#8217;s name 
should appear only once and the works are identified by the publication dates (and suffix).
<br>
<blockquote class="in-text-citation">
	Studies indicate that&hellip; (Jones 1999a).
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Jones (1999a, p. 34) observed that &#8216;the Higgs Boson particle still remains illusive&#8217;. 
	<br>
	Alternatively: Therefore, &#8216;the Higgs Boson particle still remains illusive&#8217; 
	(Jones 1999a, p. 34).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>