<h2>%%ReferenceStyle%%Book, seven or more authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s), Author, Initial(s), Author, Initial(s), Author, Initial(s), Author, 
	Initial(s), Author, Initial(s) et al. Year of publication, <em>Title of book</em>, Publisher, 
	Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
If a book has more than six authors, give the first six authors&#8217; names and abbreviate the 
remaining authors to et al. (meaning: &#34;and others&#34;).
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Davis</span>,
	<span class="hover" title="Initial(s)">M</span>,
	<span class="hover" title="Author">Charles</span>,
	<span class="hover" title="Initial(s)">L</span>,
	<span class="hover" title="Author">Curry</span>,
	<span class="hover" title="Initial(s)">MJ</span>,
	<span class="hover" title="Author">Shanti</span>,
	<span class="hover" title="Initial(s)">P</span>,
	<span class="hover" title="Author">Prasad</span>,
	<span class="hover" title="Initial(s)">S</span>,
	<span class="hover" title="Author">Hewings</span>,
	<span class="hover" title="Initial(s)">A</span> et al.
	<span class="hover" title="Year of publication">2003</span>,
	<em><span class="hover" title="Title of book">Challenging spatial norms</span></em>,
	<span class="hover" title="Publisher">Routledge</span>,
	<span class="hover" title="Place of publication">London</span>.
</blockquote>
<br>
For a numbered edition, place the abbreviation after the book title. This part should not be italicised. 
Use rev. edn, for revised editions.
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Davis</span>,
	<span class="hover" title="Initial(s)">M</span>,
	<span class="hover" title="Author">Charles</span>,
	<span class="hover" title="Initial(s)">L</span>,
	<span class="hover" title="Author">Curry</span>,
	<span class="hover" title="Initial(s)">MJ</span>,
	<span class="hover" title="Author">Shanti</span>,
	<span class="hover" title="Initial(s)">P</span>,
	<span class="hover" title="Author">Prasad</span>,
	<span class="hover" title="Initial(s)">S</span>,
	<span class="hover" title="Author">Hewings</span>,
	<span class="hover" title="Initial(s)">A</span> et al.
	<span class="hover" title="Year of publication">2003</span>,
	<em><span class="hover" title="Title of book">Challenging spatial norms</span></em>,
	<span class="hover" title="Edition">2nd edn</span>,
	<span class="hover" title="Publisher">Routledge</span>,
	<span class="hover" title="Place of publication">London</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When the work has seven or more authors, cite only the name of the first author followed by et al. 
and the date. (Note the full stop after et al.).  
<br>
<blockquote class="in-text-citation">
	Davis et al. (2003) found that&hellip;
	<br>
	Alternatively: A recent study (Davis et al. 2003) found that&hellip;
</blockquote>
<br>
<br>
When the work is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited. 
<br>
<blockquote class="in-text-citation">
	In a recent study, Davis et al. (2003) showed that&hellip; Davis et al. also found that&hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Davis et al. (2003, p. 21) observe that &#8216;we have an irreversible dependency upon digital 
	technology&#8217;. 
	<br>
	Alternatively: Subsequently, &#8216;we have an irreversible dependency upon digital 
	technology&#8217; (Davis et al. 2003, p. 21).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>