<h2>%%ReferenceStyle%%Newspaper article, one author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
Where page range commences with same digit e.g. 45&#45;49, abbreviate the page range: 45&#45;9.
Note: If authorship is unknown a reference list entry is not required, however more detail is 
required for the in&#45;text citation e.g. (<em>Sydney Morning Herald</em> 18 January 2009, p. 5) 
When citing a newspaper title frequently it can be abbreviated e.g. <em>SMH</em>
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Year of publication, &#8216;Title of article&#8217;, <em>Name of Newspaper</em>, 
	Date of article (excluding year), page numbers.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Berkovic</span>,
	<span class="hover" title="Initial(s)">N</span>
	<span class="hover" title="Year of publication">2009</span>,
	&#8216;<span class="hover" title="Title of article">Handouts may not be sent: tax office seeks quick resolution of High Court challenge</span>&#8217;,
	<em><span class="hover" title="Name of Newspaper">The Australian</span></em>,
	<span class="hover" title="Date of article (excluding year)">31 March</span>,
	<span class="hover" title="Page numbers">p. 5</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Berkovic (2009) explained that handouts&hellip;
	<br>
	or
	<br>
	It was suggested that handouts may not be sent (Berkovic 2009).
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>