<h2>%%ReferenceStyle%%Journal article, one author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
Where page range commences with same digit e.g. 45&#45;49, abbreviate the page range: 45&#45;9
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Year of publication, &#8216;Title of article&#8217;, <em>Name of Journal</em>, 
	volume, issue, page numbers.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Younger</span>,
	<span class="hover" title="Initial(s)">P</span>
	<span class="hover" title="Year of publication">2004</span>,
	<span class="hover" title="Title of article">&#8216;Using the internet to conduct a literature search&#8217;</span>,
	<em><span class="hover" title="Name of Journal">Nursing Standard</span></em>,
	<span class="hover" title="Volume">vol. 19</span>,
	<span class="hover" title="Issue">no. 6</span>,
	<span class="hover" title="Page numbers">pp. 45&#45;59</span>.
</blockquote>
<br>
<br>
Note: reference the source as an 
<a href="%%ICiteURL%%/3/1?width=800&amp;height=600" class="colorbox-node">
	Electronic Article, Library Database Article
</a> if it was accessed on&#45;line. 
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Younger (2004, p. 46) stated that the&hellip; 
	<br>
	or
	<br>
	The internet can be used to conduct a literature search (Younger 2004).
</blockquote>
<br>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited. 
<br>
<blockquote class="in-text-citation">
	In a recent study, Younger (2004) showed that&hellip; Younger also found that&hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Younger (2004, p. 56) observed that &#8216;variable bit&#45;rates were the most reliable&#8217;.
	<br>
	Alternatively: Therefore, &#8216;variable bit&#45;rates were the most reliable&#8217; 
	(Younger 2004, p. 56).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>