<h2>%%ReferenceStyle%%Newspaper article from database</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Publication year, &#8216;Title of article&#8217;, 
	<em>Title of Newspaper</em>, date issued (excluding year), page number, viewed date, 
	Name of Database
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Wentworth</span>,
	<span class="hover" title="Initial(s)">WC</span>
	<span class="hover" title="Publication year">1984</span>,
	&#8216;<span class="hover" title="Title of article">Why we need a permanent base on the moon</span>&#8217;,
	<em><span class="hover" title="Title of Newspaper">The Sydney Morning Herald</span></em>,
	<span class="hover" title="date issued (excluding year)">24 January</span>,
	<span class="hover" title="page number">p. 11</span>,
	viewed <span class="hover" title="viewed date">3 April 2009</span>,
	<span class="hover" title="Name of Database">The Sydney Morning Herald Archives database</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Wentworth (1984) stated that&hellip;
	<br>
	or
	<br>
	&hellip;and this demonstrates the need for a permanent base (Wentworth 1984).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>