<h2>%%ReferenceStyle%%Electronic article, library database article</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
An electronic article retrieved from an online source uses the same format as a printed journal 
article with the addition of the database name that it was retrieved from and, if available, a 
Digital Object Identifier (DOI). The 
<a href="http://www.crossref.org/guestquery" target="_blank" rel="noopener noreferrer">
	DOI resolver
</a> 
can be used to find a DOI from the citation details if it is not given on the publication.
<br>
<br>
<strong>Format for articles with a doi</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Year of publication, &#8216;Title of article&#8217;, <em>Title of Journal</em>, 
	volume number, issue number, page numbers, date viewed, database, DOI.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Jackson</span>,
	<span class="hover" title="Initial(s)">D</span>,
	<span class="hover" title="Author">Firtko</span>,
	<span class="hover" title="Initial(s)">A</span> &amp;
	<span class="hover" title="Author">Edenborough</span>,
	<span class="hover" title="Initial(s)">M</span>
	<span class="hover" title="Year of publication">2007</span>,
	<span class="hover" title="Title of article">&#8216;Personal resilience as a strategy for surviving and thriving in the face of workplace adversity: a literature review&#8217;</span>,
	<em><span class="hover" title="Title of Journal">Journal of Advanced Nursing</span></em>,
	<span class="hover" title="Volume">vol. 60</span>,
	<span class="hover" title="Issue">no. 1</span>,
	<span class="hover" title="Page numbers">pp. 1&#45;9</span>,
	<span class="hover" title="Date Viewed">viewed 2 April 2009</span>,
	<span class="hover" title="Database">Academic Search Complete database, EBSCOHost</span>,
	<span class="hover" title="DOI">DOI10.1111/j.1365&#45;2648.2007.04412.x</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Jackson, Firtko and Edenborough (2009) found that&hellip; 
	<br>
	or
	<br>
	&hellip;was therefore conclusive (Jackson, Firtko &amp; Edenborough 2009).
</blockquote>
<br>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Jackson, Firtko and Edenborough (2009) showed that&hellip; 
	Jackson, Firtko and Edenborough also found that&hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Jackson, Firtko and Edenborough (2009, p. 111) suggest that &#8216;the restaurant industry is on the 
	decline&#8217;.
	<br>
	Alternatively: It was suggested that &#8216;the restaurant industry is on the decline&#8217; 
	(Jackson, Firtko &amp; Edenborough 2009, p. 111).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
