<h2>%%ReferenceStyle%%Electronic article, Internet journal article</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
An Internet journal article is an article located on a web site and not published in print or 
available from a database.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Year of publication, &#8216;Title of article&#8217;, <em>Title of Website</em>, 
	date broadcast (excluding year), date viewed, &lt;URL&gt;.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Cooper</span>,
	<span class="hover" title="Initial(s)">D</span>
	<span class="hover" title="Year of publication">2009</span>,
	&#8216;<span class="hover" title="Title of article">Native ant may stop toad in its tracks</span>&#8217;,
	<em><span class="hover" title="Title of Website">ABC Science</span></em>,
	<span class="hover" title="Date broadcast (excluding year)">31 March</span>,
	<span class="hover" title="Date Viewed">viewed 2 April 2009</span>,
	<br>
	<span class="hover" title="URL">&lt;http://www.abc.net.au/science/articles/2009/03/31/2530686.htm?site=science&amp;topic=latest&gt;</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Cooper (2009) stated that a ferocious ant&hellip;
	<br>
	or
	<br>
	&hellip;that meat ants may be able to help control toad numbers (Cooper 2009).
</blockquote>
<br>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Cooper (2009) showed that&hellip; Cooper also found that&hellip;
</blockquote>
<br>
<br>
If you directly quote fewer than 30 words, enclose the quotation using single quotation marks and
include the page number(s).
<br>
<blockquote class="in-text-citation">
	Cooper (2009, p. 111) suggest that &#8216;the restaurant industry is on the decline&#8217;.
	<br>
	Alternatively: It was suggested that &#8216;the restaurant industry is on the decline&#8217; 
	(Cooper 2009, p. 111).
</blockquote>
<br>
If the quotation is greater than 30 words it should be displayed in a double&#45;spaced, indented block
(1.3cm) without quotation marks.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>