<h2>%%ReferenceStyle%%Web page / document on the Internet</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format for document on the Internet</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Publication year, <em>Title of webpage/document</em>,
	Name of sponsor of the source, viewed date, &lt;URL&gt;
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Este</span>,
	<span class="hover" title="Initial(s)">J</span>,
	<span class="hover" title="Author">Warren</span>,
	<span class="hover" title="Initial(s)">C</span>,
	<span class="hover" title="Author">Connor</span>,
	<span class="hover" title="Initial(s)">L</span>,
	<span class="hover" title="Author">Brown</span>,
	<span class="hover" title="Initial(s)">M</span>,
	<span class="hover" title="Author">Pollard</span>,
	<span class="hover" title="Initial(s)">R</span> &amp;
	<span class="hover" title="Author">O&#8217;Connor</span>,
	<span class="hover" title="Initial(s)">T</span>
	<span class="hover" title="Publication year">2008</span>,
	<em><span class="hover" title="Title of webpage/document">Life in the clickstream: the future of journalism</span></em>,
	<span class="hover" title="Name of sponsor of the source">Media Entertainment and Arts Alliance</span>,
	viewed <span class="hover" title="viewed date">27 May 2009</span>,
	<span class="hover" title="URL">&lt;http://www.alliance.org.au/documents/foj_report_final.pdf&gt;</span>.
</blockquote>
<br>
<strong>Format for document on the Internet, no author, no date</strong>
<br>
<br>
Note: n.d. = no date. Always include details of authorship and publication date when available. 
For websites with no author and/or date, carefully consider the reliability and authority of the 
source before including it as a reference.
<br>
<blockquote class="ref">
	<em>Title of webpage/document</em> n.d., viewed date, &lt;URL&gt;.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<em><span class="hover" title="Title of webpage/document">Developing an argument</span></em> n.d.,
	viewed <span class="hover" title="viewed date">30 March 2009</span>,
	<span class="hover" title="URL">&lt;http://web.princeton.edu/sites/writing/Writing_Center/WCWritingResources.htm&gt;</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Este et al. (2008) suggests that&hellip;
	<br>
	or
	<br>
	&hellip;it is necessary to develop an argument (<em>Developing an argument</em> n.d.).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>