<h2>%%ReferenceStyle%%Conference paper, published</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
Note: The title is capitalised here because it reproduces the title of the host organisation for 
the conference. Normally, in the titles of books of proceedings, only the first letter of the first 
word is capitalised.
<br>
<br>
<strong>Format (Book or CD)</strong>
<br>
<blockquote class="ref">
	Author of paper/chapter, Initial(s) Publication year, &#8216;Title of paper/chapter&#8217;, 
	<em>Title of proceedings</em>, Publisher, Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author of paper/chapter">Smith</span>,
	<span class="hover" title="Initial(s)">TM</span>
	<span class="hover" title="Publication year">2056</span>,
	&#8216;<span class="hover" title="Title of paper/chapter">Prognostic factors for survival in post operative care</span>&#8217;,
	<em><span class="hover" title="Title of proceedings">Proceedings of the 24<sup>th</sup> Annual Meeting of the International Nursing and Midwives Cooperative</span></em>,
	<span class="hover" title="Publisher">International Nursing and Midwives Cooperative</span>,
	<span class="hover" title="Place of publication">Atlanta, Georgia</span>.
</blockquote>
<br>
<br>
<strong>Format (regularly published proceedings)</strong>
<br>
<br>
If the conference paper is available in regularly published proceedings, the format of a 
book is used. 
<br>
<blockquote class="ref">
	Author of paper/chapter, Initial(s) Publication year, &#8216;Title of paper/chapter&#8217;, 
	<em>Title of proceedings</em>, Publisher, pages of the paper/chapter referred to, 
	Publisher, Database name, DOI: Digital Object Identifier.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref">
	<span class="hover" title="Author of paper/chapter">Smith</span>,
	<span class="hover" title="Initial(s)">TM</span>
	<span class="hover" title="Publication year">2056</span>,
	&#8216;<span class="hover" title="Title of paper/chapter">Prognostic factors for survival in post operative care</span>&#8217;,
	<em><span class="hover" title="Title of proceedings">Proceedings of the 24<sup>th</sup> Annual meeting of the International Nursing and Midwives Cooperative</span></em>,
	<span class="hover" title="Publisher">International Nursing and Midwives Cooperative, Atlanta, Georgia</span>,
	pp. <span class="hover" title="Pages of the paper/chapter referred to">25&#45;34</span>,
	<span class="hover" title="Database name">Academic Two database</span>, 
	DOI: <span class="hover" title="doi:Digital Object Identifier">10.1002/14651858.CD003741.pub4</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2056) stated that&hellip;
	<br>
	or
	<br>
	It has been found that&hellip; (Smith 2056)
</blockquote>
<br>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith (2056) showed that&hellip; 
	Smith also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>