<h2>%%ReferenceStyle%%Government report, online</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author Publication year, <em>Title of report</em>, Report number if available, 
	viewed date, &lt;URL&gt;.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
To eliminate ambiguity between other forms of report, add a description.
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Department of Health and Ageing</span>
	<span class="hover" title="Publication year">2008</span>,
	<em><span class="hover" title="Title of report">Ageing and aged care in Australia</span></em>,
	viewed <span class="hover" title="viewed date">10 November 2008</span>,
	<span class="hover" title="URL">&lt;http://www.health.gov.au/internet/main/publishing.nsf/Content/ageing&gt;</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	The Department of Health and Ageing (2008) reported that&hellip;
	<br>
	or
	<br>
	&hellip;was shown in the report (Department of Health and Ageing 2008).

</blockquote>
<br>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent report, Department of Health and Ageing (2008) showed&hellip; 
	Department of Health and Ageing also reported&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>