<h2>%%ReferenceStyle%%Government report, print</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author Publication year, <em>Title of report</em>, Report number if available,
	Government Department, Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">National Commission of Audit</span>
	<span class="hover" title="Publication year">1996</span>,
	<em><span class="hover" title="Title of report">Report to the Commonwealth Government</span></em>,
	<span class="hover" title="Government Department">Australian Government Publishing Service</span>,
	<span class="hover" title="Place of publication">Canberra</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	The National Commission of Audit (1996) reported that&hellip;
	<br>
	or
	<br>
	&hellip;was shown in the report (National Commission of Audit 1996)
</blockquote>
<br>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent report, National Commission of Audit (1996) showed&hellip; National Commission 
	of Audit also reported&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>