<h2>%%ReferenceStyle%%Lecture or lecture notes online</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
It is advisable to use published primary sources rather than lectures as references in your paper. 
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Publication year, &#8216;Title&#8217; <em>Unit number: Unit name</em>, 
	Day Month that lecture was delivered, online lecture, viewed date, 
	name of learning management system.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Smith</span>,
	<span class="hover" title="Initial(s)">A</span>
	<span class="hover" title="Publication year">2011</span>,
	&#8216;<span class="hover" title="Title">A model of nursing care</span>&#8217;,
	<em><span class="hover" title="Unit number">401001</span></em>:
	<em><span class="hover" title="Unit name">Primary Health Care</span></em>,
	<span class="hover" title="Day Month that lecture was delivered">23 March</span>, online lecture,
	viewed <span class="hover" title="viewed date">1 May 2011</span>,
	<span class="hover" title="name of learning management system">vUWS</span> learning management system.
</blockquote>
<br>
Note: For other online course material replace online lecture with the lecture notes or the 
type of file used e.g PowerPoint.
<br>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	&hellip;found that &#8216;primary health care was inadequate&#8217; (Smith 2056).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>