<h2>%%ReferenceStyle%%Image from the web</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	<em>Title of work</em> Publication year, medium of publication, Name of sponsor of the source, 
	date published (exclude year), date viewed, URL.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<em><span class="hover" title="Title of work">An offering to the ocean in La Punta, Peru</span></em>
	<span class="hover" title="Publication year">2009</span>,
	<span class="hover" title="medium of publication">image</span>,
	<span class="hover" title="Name of sponsor of the source">The Sydney Morning Herald</span>,
	<span class="hover" title="date published (exclude year)">19 May</span>,
	viewed <span class="hover" title="date viewed">25 May 2009</span>,
	<span class="hover" title="URL">&lt;http://www.smh.com.au/snapshots/&gt;</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	In the image (An offering to the ocean in La Punta, Peru 2009) it can be&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>