<h2>%%ReferenceStyle%%Radio or TV broadcast</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
Other information can be added at the end of the entry e.g. &hellip; New York Broadcasting Company. 
Directed by &hellip;
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	&#8216;Episode&#8217; Broadcast year, <em>Title of program</em>, broadcast medium, Network.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="&#8216;Episode&#8217;">&#8216;Rules of the game&#8217;</span>
	<span class="hover" title="Broadcast year">1991</span>,
	<em><span class="hover" title="Title of program">I&#8217;ll fly away</span></em>,
	<span class="hover" title="broadcast medium">television program</span>,
	<span class="hover" title="Network">New York Broadcasting Company</span>.
</blockquote>
<br>
If you accessed the recording online, add the viewed date and URL of the website.
<br>
<blockquote class="ref">
	<span class="hover" title="&#8216;Episode&#8217;">&#8216;Rules of the game&#8217;</span>
	<span class="hover" title="Broadcast year">1991</span>,
	<em><span class="hover" title="Title of broadcast">I&#8217;ll fly away</span></em>,
	<span class="hover" title="Broadcast medium">television program</span>,
	<span class="hover" title="Network">New York Broadcasting Company</span>,
	viewed <span class="hover" title="viewed date">5 April 2009</span>,
	<span class="hover" title="URL">&lt;http://tvnz.co.nz&gt;</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	&#8216;Rules of the game&#8217; (1991) examined the&hellip;
	<br>
	or
	<br>
	The game includes the rules&hellip; (&#8216;Rules of the game&#8217; 1991).
</blockquote>
<br>
	When the episode is referred to more than once in the same paragraph do not include the date 
	in subsequent references, as long as the study cannot be confused with others cited. 
<br>
<blockquote class="in-text-citation">
	In a recent study, &#8216;Rules of the game&#8217; (1991) showed that&hellip; 
	&#8216;Rules of the game&#8217; also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>