<h2>%%ReferenceStyle%%Australian Bureau of Statistics (Census information)</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">	
	Origin of data Year of issue, <em>Title of publication</em>, Release date (excluding year), 
	Date viewed, Name of Database.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Origin of data">Australian Bureau of Statistics</span>
	<span class="hover" title="Year of issue">2006</span>,
	<em><span class="hover" title="Title of publication">Voluntary work for an organisation or group by age by sex, postal area 2046</span></em>,
	<span class="hover" title="Release date (excluding year)">June 27</span>,
	viewed <span class="hover" title="Date viewed">19 May 2009</span>,
	<span class="hover" title="Name of Database">Australian Bureau of Statistics online</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	The Australian Bureau of Statistics (2006) found that&hellip;
	<br>
	or
	<br>
	&hellip;was shown in the census information (Australian Bureau of Statistics 2006).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>