<h2>%%ReferenceStyle%%Study guide</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing. 
It is advisable to use published primary sources rather than tutorial/lecture handouts as references 
in your paper.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">	
	Author, Initial(s) Publication year, <em>Title of study guide</em>, Session, 
	Publisher name, Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Hickson</span>,
	<span class="hover" title="Initial(s)">J</span>
	<span class="hover" title="Publication year">2009</span>,
	<em><span class="hover" title="Title of study guide">HCR56 images and the mind: study guide</span></em>,
	<span class="hover" title="Session">Spring</span> session,
	<span class="hover" title="Publisher name">Western Sydney University</span>,
	<span class="hover" title="Place of publication">Penrith</span>.
</blockquote>
<br>
When you don&#8217;t know the details of the author, use the details of the publisher as the author 
e.g.
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Western Sydney University</span>
	<span class="hover" title="Publication year">2009</span>,
	<em><span class="hover" title="Title of study guide">HCR56 images and the mind: study guide</span></em>,
	<span class="hover" title="Session">Spring</span> session,
	<span class="hover" title="Publisher name">Western Sydney University</span>,
	<span class="hover" title="Place of publication">Penrith</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Hickson (2009, p.60) found that &#34;images&hellip;&#34;.
	<br>
	or
	<br>
	<em>For unknown author:</em>
	<br>
	&hellip;as was found in the study (Western Sydney University 2009, p.6).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>