<h2>%%ReferenceStyle%%Acts of Parliament (includes bills)</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br> 
Acts of Parliament do not need to be added to the reference list unless there are details in the 
reference which are important to the understanding of your essay. Acts of Parliament should be 
listed separately under the heading &#8216;Legislation&#8217;.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	<em>Title of Act Year Act was made law</em> (Jurisdiction) Section and Subsections of Act, 
	viewed date, &lt;URL&gt;.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<em><span class="hover" title="Title of Act Year Act was made law">Corporations Act 2001</span></em>
	(<span class="hover" title="Jurisdiction">Commonwealth of Australia</span>)
	<span class="hover" title="Section and Subsections of Act">s. 3</span>,
	viewed <span class="hover" title="viewed date">19 May 2009</span>,
	<span class="hover" title="URL">&lt;http://www.comlaw.gov.au/ComLaw/Legislation/ActCompilation1.nsf<br>/framelodgmentattachments/32EF0670948528A2CA25756D007AA287&gt;</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Titles of Acts and other legislation should be cited exactly as they appear, and punctuation 
should not be altered to suit the reference style. After the first citation, the date can be 
omitted from the citation.
<br>
<blockquote class="in-text-citation">
	<em>Section 3 of the Corporations Act 2001</em> (Cwlth) states that&hellip;
	<br>
	or
	<br>
	Corporations must&hellip; (<em>Corporations Act 2001</em> (Cwlth), s.3)
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>