<h2>%%ReferenceStyle%%Tutorial / lecture handout</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing. 
It is advisable to use published primary sources rather than tutorial/lecture handouts as 
references in your paper.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author Year of issue, <em>Title of tutorial/lecture handout</em>, Date issued (excluding the 
	year), Number of tutorial/lecture format, Publisher, Place of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">University of Western Sydney</span>
	<span class="hover" title="Year of issue">2007</span>,
	<em><span class="hover" title="Title of tutorial/lecture handout">Madonna and child</span></em>,
	<span class="hover" title="Date issued (excluding the year)">18 January</span>,
	<span class="hover" title="Number of tutorial/lecture format">H0379 tutorial handout</span>,
	<span class="hover" title="Publisher">UWS</span>,
	<span class="hover" title="Place of publication">Penrith</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	The University of Western Sydney &#8216;Madonna and Child&#8217; handout (2007) explained that&hellip;
	<br>
	or
	<br>
	It can be seen that&hellip; (University of Western Sydney 2007).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>