<h2>%%ReferenceStyle%%Video or audio (from the Internet)</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">	
	Author, Initial(s) Publication year, <em>Title of video or audio</em>, 
	Date issued (excluding the year), format, Date viewed, &lt;URL&gt;.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Norton</span>,
	<span class="hover" title="Initial(s)">R</span>
	<span class="hover" title="Publication year">2006</span>,
	<em><span class="hover" title="Title of video or audio">How to train a cat to operate a light switch</span></em>,
	<span class="hover" title="Date issued (excluding the year)">4 November</span>,
	<span class="hover" title="format">online video</span>,
	viewed <span class="hover" title="Date viewed">5 April 2009</span>,
	<span class="hover" title="URL">&lt;http://www.youtube.com/watch?v=Vja83KLQXZs&gt;</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Norton (2006) showed that a cat can be trained&hellip;
	<br>
	or
	<br>
	Training a cat requires&hellip; (Norton 2006).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>