<h2>%%ReferenceStyle%%Legal authorities (cases)</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
A legal case is only included in your references if it is important to the understanding of your 
essay. Cases should be listed separately under the heading &#8216;Legal authorities&#8217;.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">	
	<em>Name of case</em>/ (Year)/ Volume number/ Abbreviated name of law report series/ 
	Page on which report begins
</blockquote>
<br>
When there is no volume number, place the year in square brackets.
<br>
<blockquote class="ref">	
	<em>Name of case</em> [Year] Abbreviated name of law report series/ 
	Page on which report begins
</blockquote>
<br>
<strong>Examples</strong>
<br>
Case with volume number:
<br>
<blockquote class="ref">
	<em><span class="hover" title="Name of case">Wik Peoples v. Queensland</span></em>
	(<span class="hover" title="Year">1996</span>)
	<span class="hover" title="Volume number">187</span>
	<span class="hover" title="Abbreviated name of law report series">CLR</span>
	<span class="hover" title="Page on which report begins">1</span>
</blockquote>
<br>
Case without volume number:
<br>
<blockquote class="ref">
	<em><span class="hover" title="Name of case">Jones v. Sherlock </span></em>
	[<span class="hover" title="Year">2009</span>]
	<span class="hover" title="Abbreviated name of law report series">NSWSC</span>
	<span class="hover" title="Page on which report begins">246</span>
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	The case, <em>Wik Peoples v. Queensland</em> (1996) 187 CLR 1&hellip;
	<br>
	<br>
	<em>Jones v. Sherlock</em> [2009] NSWSC 246, showed that&hellip;
</blockquote>
<br>
On first mention in text, use the full citation. An abbreviated form or commonly known name can be given
in parentheses after the full citation. After that, use the abbreviated form only. e.g.
<br>
<blockquote class="in-text-citation">
	&hellip; <em>Wik Peoples v. Queensland</em> (1996) 187 CLR 1 (<em>the Wik case</em>)&hellip;
	<br>
	<br>
	<em>Jones v. Sherlock</em> [2009] NSWSC 246 (<em>Jones v. Sherlock</em>)
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>