<h2>%%ReferenceStyle%%Australian Bureau of Statistics</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author Publication year, <em>Title of publication</em>, catalogue number, 
	Release month, viewed date, &lt;URL&gt;.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Australian Bureau of Statistics</span>
	<span class="hover" title="Publication year">2000</span>,
	<em><span class="hover" title="Title of publication">Use of the internet by householders</span></em>,
	<span class="hover" title="catalogue number">cat no. 8147.0</span>,
	<span class="hover" title="Release month">November</span>,
	viewed <span class="hover" title="viewed date">19 May 2009</span>,
	<span class="hover" title="URL">&lt;http://www.abs.gov.au/ausstats/abs@.nsf/mf/8147.0/&gt;</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	The Australian Bureau of Statistics (2000) found that&hellip;
	<br>
	or
	<br>
	&hellip;was shown in the census information (Australian Bureau of Statistics 2000).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>