<h2>%%ReferenceStyle%%Standard</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<br>
For standards not retrieved from an electronic database, replace online database information with 
publisher information statements.
<br>
<blockquote class="ref">	
	Name of standards organisation Publication year, <em>Title of standard</em>, 
	Standard number and year, date amended (if relevant), 
	date viewed, Name of database.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Name of standards organisation">Standards Australia Online</span>
	<span class="hover" title="Publication year">2006</span>,
	<em><span class="hover" title="Title of standard">Glass in buildings: selection and installation</span></em>,
	<span class="hover" title="Standard number and year">AS 1288-2006</span>,
	amended <span class="hover" title="date amended (if relevant)">31 January 2008</span>,
	viewed <span class="hover" title="Date viewed">19 May 2009</span>,
	<span class="hover" title="Name of Database">SAI Global database</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	The standard published by Standards Australia Online (2006) entitled <em>Glass in buildings: 
	selection and installation</em> states that&hellip;
	<br>
	or
	<br>
	&hellip;stated that glass in buildings must be…(Standards Australia Online 2006).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>