<h2>%%ReferenceStyle%%Patent</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<br>
Complete URLs should be given for publicly accessible databases. For databases requiring login, 
use the database name.
<br>
For patents or trademarks not retrieved from an electronic database, replace electronic database 
information with publisher information.
<br>
<blockquote class="ref">
	Author, Initial(s) Year of issue, <em>Patent name</em>, application number, 
	publication date (without year), date viewed, URL.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Smith</span>,
	<span class="hover" title="Initial(s)">PS</span>
	<span class="hover" title="Year of issue">2002</span>,
	<em><span class="hover" title="Patent name">A pump for use in windmill assembly</span></em>,
	application <span class="hover" title="application number">no. 2008230011</span>,
	<span class="hover" title="Publication date (without year)">17 October</span>,
	viewed <span class="hover" title="Date viewed">15 May 2009</span>,
	<span class="hover" title="URL">&lt;http://pericles.ipaustralia.gov.au/ols/auspat/applicationDetails.do?applicationNo=2008230011&gt;</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2002) holds a patent for a windmill pump&hellip;
	<br>
	or
	<br>
	The patent for a windmill pump which&hellip; (Smith 2002).
</blockquote>
<br>
	When the patent is referred to more than once in the same paragraph do not include the date 
	in subsequent references, as long as the patent cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	A windmill pump designed by Smith (2002) enables&hellip; However, Smith does not&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>