<h2>%%ReferenceStyle%%Thesis or dissertation</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing. 
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">
	Author, Initial(s) Publication year, <em>Title of thesis</em>, medium, University, viewed date, 
	Database name.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Gale</span>,
	<span class="hover" title="Initial(s)">L</span>
	<span class="hover" title="Publication year">2000</span>,
	<em><span class="hover" title="Title of thesis">The relationship between leadership and employee empowerment for successful total quality management</span></em>,
	<span class="hover" title="medium">thesis</span>,
	<span class="hover" title="University">Penrith, University of Western Sydney</span>,
	viewed <span class="hover" title="view date">31 March 2009</span>,
	<span class="hover" title="Database name">Australasian Digital Thesis database</span>.
</blockquote>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Gale (2000) showed that&hellip;
	<br>
	or
	<br>
	&hellip;that this can empower employees (Gale 2000).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Gale (2000) showed that&hellip; Gale also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>