<h2>%%ReferenceStyle%%Lecture (unpublished) / personal communication</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
When you cite information spoken about in a lecture or excerpt that has gone unpublished it is 
treated as a personal communication and you do not need to provide a reference list entry because 
there is no recoverable data. All details are provided in the text. Ensure that you have the 
author&#8217;s permission to include the citation. It is advisable to use published primary 
sources rather than lectures as references in your paper.
<br>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Give the initials and surname of the communicator and be as precise as you can with the date.
<br>
<br>
<strong>Source: Lecture by Helen Dwyer.</strong>
<br>
<blockquote class="in-text-citation">
	&hellip;found that &#8216;neutrons are dangerous&#8217; (H Dwyer [University of Western Sydney] 
	2009, H0379 lecture, 10 January).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>