<h2>%%ReferenceStyle%%Microfische / microfilm document</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref">	
	Author, Initial(s) Publication year, <em>Name of document</em>, format, Publisher, 
	Place of publication, ERIC number, Report number.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref">
	<span class="hover" title="Author">Mead</span>,
	<span class="hover" title="Initial(s)">JV</span>
	<span class="hover" title="Publication year">1992</span>,
	<em><span class="hover" title="Name of document">Looking at old photographs: investigating the teacher tales that novice teachers bring with them</span></em>,
	<span class="hover" title="format">microfiche</span>,
	<span class="hover" title="Publisher">National Center for Research on Teacher Learning</span>,
	<span class="hover" title="Place of publication">East Lansing, MI</span>,
	<span class="hover" title="ERIC number">ED346082</span>,
	Rep. no. <span class="hover" title="Report number">NCRTL-RR-92-4</span>.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Mead (1992) showed that&hellip;
	<br>
	or
	<br>
	&hellip;found by investigating teacher tales (Mead 1992).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/4?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>