<hr>
<br>
<span class="smaller">
	This guide is based on the author&#45;date system used in the
	<br>
	<a href="https://west-sydney-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlDisplay.do?docId=UWS-ALMA2161743600001571&vid=UWS-ALMA" target="_blank" rel="noopener noreferrer" title="opens a new window">
		Style manual for authors, editors and printers (Commonwealth of Australia, 2002)
	</a>.
	<br>
	For further support, consult the manual directly.
</span>
<div class="clear"></div>
