<!-- <br>
<br>
<div class="no-print" style="text-align: right;">
	<a href="javascript:window.print()">
		Print this page
	</a>
</div>
<br> -->
<br>
<div style="text-align: center;" id="list">
	<strong>References</strong>
</div>
<br>
<br>
<div class="ref">
	Andreasen, NC 2001, <em>Brave new brain: conquering mental illness in the era of the genome</em>, 
	Oxford University Press, Oxford.
</div>
<br>
<div class="ref">
	Copstead, L &amp; Banasik, J 2005, <em>Pathophysiology</em>, 3rd edn, Saunders, Philadelphia.
</div>
<br>
<div class="ref">
	Davis, M, Charles, L, Curry, MJ, Shanti, P, Prasad, S, Hewings, A et al. 2003, 
	<em>Challenging spatial norms</em>, Routledge, London
</div>
<br>
<div class="ref">
	Este, J, Warren, C, Connor, L, Brown, M, Pollard &amp; R, O&#8217;Connor, T 2008, 
	<em>Life in the clickstream: the future of journalism</em>, Media Entertainment and Arts Alliance, 
	viewed 27 May 2009, &lt;http://www.alliance.org.au/documents/foj_report_final.pdf&gt;. 
</div>
<br>
<div class="ref">
	Ferres, K 2001, &#8216;Idiot box: television, urban myths and ethical scenarios&#8217;, 
	in I Craven (ed.), <em>Australian cinema in the 1990s</em>, Frank Cass, London, pp. 175&#45;88.
</div>
<br>
<div class="ref">
	Smith, TM 2003, &#8216;Prognostic factors for survival in post operative care&#8217;, 
	<em>Proceedings of the 24<sup>th</sup> Annual meeting of the International Nursing and Midwives 
	Cooperative</em>, International Nursing and Midwives Cooperative, Atlanta, Georgia, 
	pp. 25&#45;34, Academic Two database, DOI: 10.1002/14651858.CD003741.pub4.
</div>
<br>
<div class="ref">
	Storey, KB 2004, <em>Functional metabolism regulation and adaptation</em>, John Wiley &amp; Sons, 
	Hoboken, NJ, viewed 4 April 2009, NetLibrary database.
</div>
<br>
<div class="ref">
	Wentworth, WC 1984, &#8216;Why we need a permanent base on the moon&#8217;, 
	<em>The Sydney Morning Herald</em> 24 January, p. 11, viewed 3 April 2009, 
	The Sydney Morning Herald Archives database.
</div>
<br>
<br>