<h2>%%ReferenceStyle%%Edited book</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body 
of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Editor&#8217;s Name, ed. <em>Title of Book</em>. Place of Publication: Publisher, year of 
	publication. Medium of publication.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Editor&#8217;s Name">Smith, Amy</span>, 
	ed. <em><span class="hover" title="Title of Book">Invertebrate Taxonomy</span></em>. 
	<span class="hover" title="Place of Publication">Wellington</span>: 
	<span class="hover" title="Publisher">Kowhai P</span>, 
	<span class="hover" title="year of publication">2056</span>. 
	<span class="hover" title="Medium of publication">Print</span>.
</blockquote>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Editor&#8217;s Name">Smith, Amy, and Bridget Brown</span>, 
	eds. <span class="hover" title="Title of Book">Sustainability in Practice: Overcoming Energy Challenges in the 21st Century</span>. 
	<span class="hover" title="Place of Publication">Vancouver</span>: 
	<span class="hover" title="Publisher">Northwoods</span>, 
	<span class="hover" title="year of publication">2056</span>. 
	<span class="hover" title="Medium of publication">Print</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When you use another person&#8217;s ideas or words in your writing, include their name and any relevant 
page number(s), in parentheses, immediately following the cited material. (There is no need to include 
the abbreviation ed.).
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26).
</blockquote>
<br>
Or include their name(s) in your sentence, with the relevant page number(s) in parentheses.<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (23).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed 
for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26). In addition&hellip; was a common feature (28).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>