<h2>%%ReferenceStyle%%Ebook</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of 
your writing.
<br>
<br>
The reference is as for any other book, but with the overall website/database (italicised) and date 
of access included, and &#34;Web&#34; rather than &#34;Print&#34; as the medium of publication. You 
may include print publication data if necessary.
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s Name. <em>Title of Book</em>. 
	<em>Website/database</em>. Medium of Publication. Day, month and year of access.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Name">Whitman, Walt</span>. 
	<em><span class="hover" title="Title of Book">Leaves of Grass</span></em>. 
	<em><span class="hover" title="Website/database">Project Gutenberg</span></em>. 
	<span class="hover" title="Medium of Publication">Web</span>. 
	<span class="hover" title="Day, month and year of access">4 Feb. 2010</span>.
</blockquote>
<br>
Or with the print publication included &hellip;
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Name">Author&#8217;s Name</span>. 
	<em><span class="hover" title="Title of Book">Title of Book</span></em>. 
	<span class="hover" title="Place of Publication / date of publication">Place of publication, date of publication</span>. 
	<em><span class="hover" title="Website/database">Website/database</span></em>. 
	<span class="hover" title="Medium of Publication">Medium of Publication</span>. 
	<span class="hover" title="Day, month and year of access">Date of access</span>.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Name">Whitman, Walt</span>. 
	<em><span class="hover" title="Title of Book">Leaves of Grass</span></em>. 
	<span class="hover" title="Place of Publication / date of publication">Brooklyn, 1855</span>. 
	<em><span class="hover" title="Website/database">Project Gutenberg</span></em>. 
	<span class="hover" title="Medium of Publication">Web</span>. 
	<span class="hover" title="Day, month and year of access">4 Feb. 2010</span>.
</blockquote>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
The in&#45;text citation for an electronic book uses the same format as a printed book.
<br>
<em>
	<strong>To view these details:</strong> select &#8216;Books&#8217; from the second drop&#45;down 
	selection list then select the number of authors in the third drop-down selection list.
</em>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>