<h2>%%ReferenceStyle%%Book, one source quoted in another</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Avoid where possible!
<br>
<br>
It is better to refer back to the original source yourself so you can check the accuracy of the 
quoted material. If the original source is unavailable, use <strong>quoted in</strong> (or qtd. in). 
The original authors are named in your text, but only the source you actually read goes in the list of 
works cited. For example, if material by Jones and Chan was quoted in a work that you read by Smith, 
you would only list Smith in your Works Cited.
<br>
<br>
<strong>Format</strong><br>
<blockquote class="ref-hang-indent">
	Author&#8217;s Name. <em>Title of Book (that you read)</em>. 
	Place of Publication: Publisher, year of publication. Medium of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s Name">Smith, Anu R.</span> 
	<em><span class="hover" title="Title of Book (that you read)">Teaching and Learning in Higher Education</span></em>. 
	<span class="hover" title="Place of Publication">Auckland</span>: 
	<span class="hover" title="Publisher">University Books</span>, 
	<span class="hover" title="year of publication">2056</span>. 
	<span class="hover" title="Medium of publication">Print</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Name the original authors, followed by <strong>quoted in</strong> (or qtd. in), and then the 
author and relevant page numbers from the secondary work you read. For example, material by Jones 
and Chan was quoted in a work by Smith, but you did not read the work by Jones and Chan.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Jones and Chan quoted in Smith 25&#45;26).
</blockquote>
<br>
Or include the original authors in your sentence, with the secondary author and relevant page number(s) 
in parentheses.
<br>
<blockquote class="in-text-citation">
	Jones and Chan suggested that &#34;the default position is markedly affected&#34; 
	(quoted in Smith 23).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>