<h2>%%ReferenceStyle%%Journal article, three or more authors</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the 
body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s names. &#34;Title of Article.&#34; <em>Name of Publication</em> volume.issue 
	(year of publication): page numbers. Medium of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s names">Smith, Azhu, et al</span>. 
	&#34;<span class="hover" title="Title of Article">Uneven Muscle Mass Growth Patterns in Extreme Atheletes</span>.&#34; 
	<em><span class="hover" title="Name of Publication">Asia&#45;Pacific Journal of Injury Prevention</span></em> 
	<span class="hover" title="volume">8</span>.<span class="hover" title="issue">4</span> 
	(<span class="hover" title="year of publication">2056</span>): 
	<span class="hover" title="page numbers">356&#45;87</span>. 
	<span class="hover" title="Medium of publication">Print</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When you use another person&#8217;s ideas or words in your writing, include the first author&#8217;s name 
followed by <strong>et al.</strong> and the relevant page number(s), in parentheses, immediately 
following the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith et al. 380&#45;82).
</blockquote>
<br>
Or include the first author&#8217;s name followed by <strong>et al.</strong> in your sentence, 
with any relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (385).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed 
for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith et al. 380&#45;82). In addition&hellip; was a common 
	feature (385).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>