<h2>%%ReferenceStyle%%Journal article, similar information from multiple works</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
<strong>Format</strong>
<br>
Works are referenced in the list of works cited using the standard form, according to the source and 
number of authors.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When information or ideas are sourced from two or more different works, cite each work as you 
normally would, with the works listed in alphabetical order and separated by a semi&#45;colon.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Brown 34; Jones 123).
	<br>
	&hellip;is widely supported (Smith, &#34;Teaming with Wildlife&#34; 123; Tahatai and Chan 67).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>