<h2>%%ReferenceStyle%%Journal article, one author</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body 
of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s name. &#34;Title of Article.&#34; <em>Name of Publication</em> 
	volume.issue (year of publication): page numbers. Medium of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s name">Smith, Albaraa</span>. 
	&#34;<span class="hover" title="Title of Article">High Speed Compression for Music Downloads</span>.&#34; 
	<em><span class="hover" title="Name of Publication">Journal of Internet Engineering</span></em> 
	<span class="hover" title="volume">10</span>.<span class="hover" title="issue">2</span> 
	(<span class="hover" title="year of publication">2056</span>): 
	<span class="hover" title="page numbers">154&#45;165</span>. 
	<span class="hover" title="Medium of publication">Print</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When you use another person&#8217;s ideas or words in your writing, include their name and 
any relevant page number(s), in parentheses, immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 160&#45;63).
</blockquote>
<br>
Or include their name in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (163).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is 
needed for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 160&#45;63). In addition&hellip; was a common 
	feature (163).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>