<h2>%%ReferenceStyle%%Electronic articles, library database article / internet journal article</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of 
your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s Names. &#34;Title of Article.&#34; <em>Title of Publication</em> 
	volume.number (date of publication): page numbers. <em>Name of Database</em>. 
	Medium of publication. Date of access.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span title="Author&#8217;s Names">Smith, Alex, and Beryl Brown</span>. 
	&#34;<span title="Title of Article">Glamorizing Domesticity: Narratives of Marriage and Motherhood in Desperate Housewives</span>.&#34; 
	<em><span title="Title of Publication">Media Studies</span></em> 
	<span title="volume.number">46.3</span> 
	(<span title="date of publication">Mar. 2056</span>): 
	<span title="page numbers">110&#45;23</span>. 
	<em><span title="Name of Database">Expanded Academic</span></em>. 
	<span title="Medium of publication">Web</span>. 
	<span title="Date of access">23 Oct. 2057</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When you use another person&#8217;s ideas or words in your writing, include their name and any relevant 
page number(s), in parentheses, immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith and Brown 112&#45;13).
</blockquote>
<br>
Or include their names in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith and Brown suggest that &#34;the default position is markedly affected&#34; (121).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed 
for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith and Brown 112&#45;13). In addition&hellip; was a 
	common feature (121).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>