<h2>%%ReferenceStyle%%Electronic source, Webpage &#45; no author</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of 
your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	&#34;Title of the page.&#34; <em>Title of the web site.</em> Version (if known). Publisher or 
	sponsor of the site (if known), date of publication or last update (if known). Medium of 
	publication. Date of access.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<em><span class="hover" title="Title of the web site">Statistics New Zealand</span>.</em> 
	<span class="hover" title="Publisher or sponsor of the site">New Zealand Government</span>, 
	<span class="hover" title="date of publication">26 Sep. 2044</span>. 
	<span class="hover" title="Medium of publication">Web</span>. 
	<span class="hover" title="Date of access">8 Aug. 2045</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<strong>Note:</strong> Although the <em>MLA Handbook</em> suggests that &#34;Home page&#34; 
(without quotation marks) is used instead of the title of the page when citing a Web site, if 
the author or editor&#8217;s name is unknown, this looks awkward and makes the reference difficult 
to locate in a list of works cited. Instead, begin the reference with the title of the overall 
Web site (as above) or use the title of the home page if it begins with the title of the overall 
website.
<br>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When the author is anonymous, include the title of the work (shortened if necessary) in italics 
and parentheses, immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (<em>Statistics New Zealand</em>).
</blockquote>
<br>
Or include the title in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	The data presented from <em>Statistics New Zealand</em> displays &#34;a trend towards an 
	ageing population&#34;.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>