<h2>%%ReferenceStyle%%Electronic source, Webpage &#45; known author</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body 
of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author or editor&#8217;s Name. &#34;Title of the page.&#34; <em>Title or owner of site</em>. 
	Publisher or sponsor of the site (if known), date of publication or last update (if known). 
	Medium of publication. Date of access.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author or editor&#8217;s Name">Andrew Smith</span>. 
	&#34;<span class="hover" title="Title of the page">Core Retail Electronic Card Spending Flat</span>.&#34; 
	<em><span class="hover" title="Title or owner of site">Statistics New Zealand</span></em>. 
	<span class="hover" title="Publisher or sponsor of the site">New Zealand Government</span>, 
	<span class="hover" title="date of publication">26 Sept. 2044</span>. 
	<span class="hover" title="Medium of publication">Web</span>. 
	<span class="hover" title="Date of access">8 Aug. 2057</span>.
</blockquote>
<br>
If your reader is unlikely to locate the webpage quickly you can include the URL, enclosed in 
brackets, immediately following the date of access.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author or editor&#8217;s Name">Eaves, Morris, Robert Essick, and Joseph Viscomi, eds.</span> 
	<span class="hover" title="Title of the page"></span>
	<em><span class="hover" title="Title or owner of site">The William Blake Archive</span></em>. 
	<span class="hover" title="Publisher or sponsor of the site">Lib. of Cong.</span>, 
	<span class="hover" title="date of publication">28 Sept. 2007</span>. 
	<span class="hover" title="Medium of publication">Web</span>. 
	<span class="hover" title="Date of access">20 Nov. 2007</span>. 
	<span class="hover" title="URL">&lt;http://www.blakearchive.org/blake/&gt;</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When you use another person&#8217;s ideas or words in your writing, include their name immediately 
following the cited material. The author&#8217;s name should lead the reader to the respective entry 
in your &#34;Works cited&#34; entry.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith).
</blockquote>
<br>
If your &#34;Works cited&#34; list includes two authors with the same surname, include the 
first initial.
<br>
<blockquote class="in-text-citation">
	&hellip; was found to be the case (A. Smith).
</blockquote>
<br>
Or include the author&#8217;s name in your sentence.
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34;.
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>