<h2>%%ReferenceStyle%%Lecture (unpublished) / personal communication</h2>
<hr>
Avoid where possible!
<br>
<br>
It is better to do the research and refer back to the original source yourself. Ask the lecturer 
for a reference list for their lecture if necessary. If the lecture material is available in 
electronic format, for example, on Cecil, follow the format for the citation of electronic 
sources. (If you do choose to cite lectures or lecture notes, follow the format for the citation of 
conference presentations.)
<br>
<br>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the 
body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s name. &#34;Title of Lecture.&#34; Course name. Location. Day, month and  year. 
	Type of presentation.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s name">Smith, Alice</span>. 
	&#34;<span class="hover" title="Title of Lecture">Pacific Island Quilting</span>.&#34; 
	<span class="hover" title="Course name">WOMEN 110</span>. 
	<span class="hover" title="Location">The University of Auckland</span>. 
	<span class="hover" title="Day, month and  year">28 Mar. 2056</span>. 
	<span class="hover" title="Type of presentation">Lecture</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When you use ideas or words from a lecture, spoken address or personal communication in your 
writing, it is preferable to include their full name in your sentence rather than in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith suggested in a recent lecture that contemporary quilting has developed a hybrid form.
</blockquote>
<br>
<div style="text-align:right">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>