<h2>%%ReferenceStyle%%Film or video recording</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body 
of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	<em>Title of Work</em>. Name(s) of Director(s). Name(s) of Performer(s). Publisher, 
	year of publication. Medium of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<em><span class="hover" class="hover" title="Title of Work">Outside the Lines</span></em>. 
	<span class="hover" title="Name(s) of Director(s)">Dir. Archie Smith</span>. 
	<span class="hover" title="Name(s) of Performer(s)">Perf. Carrie Chan, Darryn Williams, and Manu Tahatai</span>. 
	<span class="hover" title="Publisher">Upbeat Pictures</span>, 
	<span class="hover" title="year of publication">2056</span>. 
	<span class="hover" title="Medium of publication">Film</span>.
</blockquote>
<br>
If you are citing the contribution of a particular individual (here the director), begin with 
that person&#8217;s name.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Contributor&#8217;s name">Archie Smith, dir</span>. 
	<em><span class="hover" title="Title of Work">Outside the Lines</span></em>. 
	<span class="hover" title="Name(s) of Director(s)">Perf. Carrie Chan, Darryn Williams, and Manu Tahatai</span>. 
	<span class="hover" title="Name(s) of Performer(s)">Upbeat Pictures</span>, 
	<span class="hover" title="Publisher">2056</span>. 
	<span title="year of publication">Film</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When a work is listed by title in the Works Cited, include in your text the title of the work 
(shortened if necessary), italicised within parentheses, immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;a sense of heightened emotion (<em>Outside the Lines</em>).
</blockquote>
<br>
Since page numbers cannot be given to direct your reader, when referring to a specific part of the 
film, describe the scene as accurately and concisely as possible.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>