<h2>%%ReferenceStyle%%Thesis or dissertation</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body of 
your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s name. &#34;Title of Thesis.&#34; Type of thesis or dissertation. University, year. 
	Medium of publication.
	</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s name">Smith, Amelia</span>. 
	&#34;<span class="hover" title="Title of Thesis">The Influence of Bible Studies on New Zealand Primary School Children, 1945&#45;1982</span>.&#34; 
	<span class="hover" title="Type of thesis or dissertation">Diss</span>. 
	<span class="hover" title="University">University of Auckland</span>, 
	<span class="hover" title="year">2056</span>. 
	<span class="hover" title="Medium of publication">Print</span>.
</blockquote>
<br>
Most theses and dissertations are unpublished. If the one you are citing is published in print or 
on the Web, add publication details in the format for the citation of a book or Web page.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s name">Smith, Amelia</span>. 
	&#34;<span class="hover" title="Title of Thesis">The Influence of Bible Studies on New Zealand Primary School Children, 1945&#45;1982</span>.&#34; 
	<span class="hover" title="Type of thesis or dissertation">Diss</span>. 
	<span class="hover" title="University">University of Auckland</span>, 
	<span class="hover" title="year">2056</span>. 
	<span class="hover" title="Medium of publication">Web</span>. 
	<span class="hover" title="Day, month and year of access">7 Jan. 2057</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When you use another person&#8217;s ideas or words in your writing, include their name and any 
relevant page number(s) in parentheses immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26).
</blockquote>
<br>
Or include their name in your sentence, with the relevant page number(s) in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith suggests that &#34;the default position is markedly affected&#34; (23).
</blockquote>
<br>
When the author is referred to more than once in the same paragraph only the page number is needed 
for subsequent citations, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	&hellip;was found to be the case (Smith 25&#45;26). In addition &hellip;was a 
	common feature (28).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>