<h2>%%ReferenceStyle%%Artwork</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body 
of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Artist&#8217;s Name(s). <em>Title of Work</em>. Date of work (if known). Medium. Gallery, City.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Artist&#8217;s Name(s)">Smith, Amy</span>. 
	<em><span class="hover" title="Title of Work">Kitchen Sink Daydreams</span></em>. 
	<span class="hover" title="Date of work">2047</span>. 
	<span class="hover" title="Medium">Oil on canvas</span>. 
	<span class="hover" title="Gallery">Waiheke Art Gallery</span>, 
	<span class="hover" title="City">Auckland</span>.
</blockquote>
<br>
In the case of a reproduction, cite complete publication details for the source of the reproduction, 
including the relevant page, slide, figure, or plate number.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When referring to an artwork in your writing, it may be useful to include the title as well as the 
author&#8217;s name. (Note: when referring to a whole work, page numbers are not needed).
<br>
<br>
<blockquote class="in-text-citation">
	In <em>Kitchen Sink Daydreams</em>, Smith conveys a sense of heightened emotion&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>