<h2>%%ReferenceStyle%%Radio or TV broadcast</h2>
<hr>
<strong>WORKS CITED</strong>
<br>
<br>
Add a &#8216;Works Cited&#8217; entry at the end of your essay citing all sources used in the body 
of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	&#34;Title of episode (if appropriate).&#34; Name(s) particular to episode (if appropriate). 
	<em>Title of Work</em>. Name(s) particular to the work. Name of network (publisher). 
	Date of broadcast. Medium of broadcast.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	&#34;<span class="hover" title="Title of episode (if appropriate)">Six of One</span>.&#34; 
	<span class="hover" title="Name(s) particular to episode (if appropriate)">Auth. Michael Angeli. Dir. Anthony Hemingway</span>. 
	<em><span class="hover" title="Title of Work">Battlestar Galactica</span></em>. 
	<span class="hover" title="Name(s) particular to the work">Prod. Ronald D. Moore</span>. 
	<span class="hover" title="Name of network (publisher)">Sci Fi Channel</span>. 
	<span class="hover" title="Date of broadcast">11 Apr. 2008</span>. 
	<span class="hover" title="Medium of broadcast">Television</span>.
</blockquote>
<br>
If you are citing a particular performer, include that person&#8217;s name before the title of 
episode/work.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Name of performer">Walters, Julie M. perf.</span> 
	&#34;<span class="hover" title="Title of episode (if appropriate)">Episode 3</span>.&#34; 
	<em><span class="hover" title="Title of Work">The Secret Diary of Adrian Mole Aged 13 3/4</span></em>. 
	<span class="hover" title="Name(s) particular to the work">By Sue Townsend. Prod. Peter Sasdy</span>. 
	<span class="hover" title="Name of network (publisher)">Thames Television</span>, 
	<span class="hover" title="Date of broadcast">30 Sept. 1985</span>. 
	<span class="hover" title="Medium of broadcast">Television</span>.
</blockquote>
<br>
If you accessed the recording online, add the title of the website, date accessed and 
<a href="%%ICiteURL%%/4/1?width=800&amp;height=600" class="colorbox-node">
	URL if difficult to find
</a>.
<br>
<blockquote>
	<div class="ref-hang-indent">
		&#34;<span class="hover" title="Title of episode (if appropriate)">Six Charged in Alleged N.J. Terror Plot</span>.&#34; 
		<em><span class="hover" title="Title of archive or website">WNBC.com</span></em>. 
		<span class="hover" title="Name of publisher">WNBC</span>. 
		<span class="hover" title="Medium of publication">Web</span>. 
		<span class="hover" title="Date accessed">9 May 2007</span>.
	</div>
	<br>
	<div class="ref-hang-indent">
		&#34;<span class="hover" title="Title of episode (if appropriate)">Season 1 Episode 10</span>.&#34; 
		<span class="hover" title="Name(s) particular to episode (if appropriate)">Auth. Fiona Samuel and Rachael Lang</span>. 
		<em><span class="hover" title="Title of Work">The Blue Rose</span></em>. 
		<span class="hover" title="Name(s) particular to the work">Prod. Chris Bailey</span>. 
		<em><span class="hover" title="Title of archive or website">TV3 On Demand</span></em>. 
		<span class="hover" title="Name of publisher">MediaWorks TV</span>. 
		<span class="hover" title="Medium of publication">Web</span>. 
		<span class="hover" title="Date accessed">15 April 2013</span>.
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When a work is listed by episode/title in the Works Cited, include in your text the episode/title 
of the work (shortened if necessary), within parentheses, immediately following the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;a sense of heightened emotion (&#34;Six of One&#34;).
</blockquote>
<br>
Since page numbers cannot be given to direct your reader, when referring to a specific part of a 
TV broadcast, describe the scene as accurately and concisely as possible.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>