<h2>%%ReferenceStyle%%Lecture or lecture notes online</h2>
<hr>
Avoid where possible!
<br>
<br>
It is better to do the research and refer back to the original source yourself. Ask the lecturer 
for a reference list for their lecture if necessary. If the lecture material is available in 
electronic format, for example, on Cecil, follow the format for the citation of electronic 
sources. (If you do choose to cite lectures or lecture notes, follow the format for the citation of 
conference presentations.)
<br>
<br>
<strong>WORKS CITED</strong>
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#8217;s name, Initial(s) Year, &#34;Title of Lecture.&#34; Course name. 
	Location. URL
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author&#8217;s name">Smith</span>,
	<span class="hover" title="Initial(s)">A</span>
	<span class="hover" title="Year">2056</span>,
	&#34;<span class="hover" title="Title of Lecture">Pacific Island Quilting</span>,&#34; 
	<span class="hover" title="Course name">WOMEN 110</span>. 
	Retrieved from <span class="hover" title="Location">The University of Auckland web site</span>: 
	<span class="hover" title="URL">https://learning.griffith.edu.au/@@11F0F4DC6CD3AFBB8C1<br>CDC875741FF3D/courses/1/1004CCJ_3075_MG/content/_332905_1/<br>intelligence%20</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/2/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		A &#8216;Works Cited&#8217; example
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When you use ideas or words from a lecture or spoken address in your writing, it is preferable 
to include their full name in your sentence rather than in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith suggested in a recent lecture that contemporary quilting has developed a hybrid form.
</blockquote>
<br>
<div style="text-align:right">
	<a href="%%ICitePopUpURL%%/2?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>