<h2>%%ReferenceStyle%%Book, chapter or article in a book</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Add a reference at the end of your essay citing all relevant sources used in your research. 
List author&#8217;s names in the order they appear in the text. Capitalise only the first letter 
of the first word of a title or subtitle (as well as words that would normally begin with a 
capital letter). Commonly used words in publisher names may be abbreviated. For example: Dept. 
for Department. Place of publication: If the publisher is located in more than one city, cite 
the city that is printed first. For US and Canadian cities include the two letter abbreviation for the 
state or province, following the city name in parentheses (see 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7254/" target="_blank" rel="noopener noreferrer">
	Citing medicine, appendix E</a>). 
Cities in other countries are followed by either the two letter ISO country code (see 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7249/" target="_blank" rel="noopener noreferrer">
	Citing medicine, appendix D</a>) 
or the country name written out in full. For example: Melbourne (Australia) OR Melbourne (AU).
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="19" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Author Initial(s). Title of book. Place of publication: Publisher; Year of publication.
			Chapter number, Title of chapter; chapter page numbers.
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="19" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Author Initial(s)">Knowles MS</span>.
			<span class="hover" title="Title of book">Using learning contracts</span>. 
			<span class="hover" title="Place of publication">San Francisco (CA)</span>:
			<span class="hover" title="Publisher">Jossey&#45;Bass</span>;
			<span class="hover" title="Year of publication">1986</span>.
			<span class="hover" title="Chapter number">Chapter 4</span>,
			<span class="hover" title="Title of chapter">Independent study</span>;
			p. <span class="hover" title="chapter page numbers">73&#45;90</span>.
		</li>
	</ol>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	Knowles <sup>19</sup> demonstrated that&hellip;
	<br>
	or
	<br>
	This independent study showed&hellip; <sup>19</sup>
</blockquote>
<br>
This number directs your reader to the full reference in the reference list.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
