<h2>%%ReferenceStyle%%Book, no author</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Add a reference at the end of your essay citing all relevant sources used in your research. 
If no author or editor can be identified, begin the reference with the title of the book. Capitalise 
only the first letter of the first word of a title (as well as words that would normally begin with a 
capital letter). Include edition if not the first (unless citing a first edition where 
subsequent editions exist). Commonly used words in publisher names may be abbreviated. For example: 
Dept. for Department. Place of publication: If the publisher is located in more than one city, cite 
the city that is printed first. For US and Canadian cities include the two letter abbreviation for the 
state or province, following the city name in parentheses (see 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7254/" target="_blank" rel="noopener noreferrer">
	Citing medicine, appendix E</a>). 
Cities in other countries are followed by either the two letter ISO country code (see 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7249/" target="_blank" rel="noopener noreferrer">
	Citing medicine, appendix D</a>) 
or the country name written out in full. For example: Melbourne (Australia) OR Melbourne (AU). 
Pagination is optional.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="4" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Title of book: subtitle. Edition. Place of publication: Publisher; Year of publication.
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="4" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Title of book">Merriam&#45;Webster&#8217;s collegiate dictionary</span>. 
			<span class="hover" title="Edition">10th ed</span>. 
			<span class="hover" title="Place of publication">Springfield (MA)</span>:
			<span class="hover" title="Publisher">Merriam Webster</span>;
			<span class="hover" title="Year of publication">1993</span>.
		</li>
	</ol>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	The Merriam&#45;Webster&#8217;s Collegiate Dictionary <sup>4</sup> defines&hellip;
	<br>
	or
	<br>
	This can be defined as&hellip; <sup>4(p11)</sup>
</blockquote>
<br>
This number directs your reader to the full reference in the reference list.
<br>
<br>
If you are using a direct quote from the source, enter the page number or numbers in parentheses 
after the reference number.
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
