<h2>%%ReferenceStyle%%Print articles, newspaper article, one author</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Add a reference at the end of your essay citing all relevant sources used in your research. 
The title of the newspaper is not abbreviated although &#8216;The&#8217; may be dropped. If a 
newspaper title does indicate the location, add the location either in or after the title. Refer 
to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7261/box/A41813/?report=objectonly" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 8</a>, 
for further information and examples. If the article is unsigned, meaning that the article does not 
have an author, begin the reference with the title of the article. Note abbreviations: Sect. for Section. 
If no section letter, number, or name is found, end date information with a colon and the pagination.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="7" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Author Initial(s). Title of article. Title of Newspaper. Date of publication:page number.
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="7" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Author">Berkovic</span>
			<span class="hover" title="Initial(s)">N</span>.
			<span class="hover" title="Title of article">Handouts may not be sent: tax office seeks quick resolution of High Court challenge</span>. 
			<span class="hover" title="Title of Newspaper">The Australian</span>.
			<span class="hover" title="Date of publication">2009 Mar 31</span>:<span class="hover" title="Page Number">5</span>.
		</li>
	</ol>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	Berkovic <sup>7</sup> explained that handouts&hellip;
	<br>
	or
	<br>
	It was suggested that handouts may not be sent <sup>7</sup>.
</blockquote>
<br>
This number directs your reader to the full reference in the reference list.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
