<h2>%%ReferenceStyle%%Electronic articles, Internet journal article</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Add a reference at the end of your essay citing all relevant sources used in your research. 
Internet journals should be cited the same as a print journal with the following 
additions: Medium = [Internet], Date cited, URL. Where pagination is not provided, calculate the 
length of the document in terms of print pages, screens or paragraphs and place this information in 
square brackets. For further information and examples, refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7281/#A55804" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 23</a>. 
To abbreviate journal titles that are not indexed in the 
<a href="https://www.ncbi.nlm.nih.gov/nlmcatalog/journals" target="_blank" rel="noopener noreferrer">
	NLM Catalog</a>, 
please refer to the 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7281/box/A56438/?report=objectonly" target="_blank" rel="noopener noreferrer">
	abbreviation rules for journal titles</a>.
<br>
<br>
When URLs are longer than one line, if necessary, break a URL at a slash. For further information, 
refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7269/box/A55019/?report=objectonly" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 22</a>.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="3" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Author Initial(s). Title of article. Journal title abbreviation [Medium]. Date of publication 
			[Date cited];Volume(Issue):Page numbers. Available from: URL
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="3" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Author">Thierstein</span>
			<span class="hover" title="Initial(s)">J</span>.
			<span class="hover" title="Title of article">Education in the digital age</span>. 
			<span class="hover" title="Journal title abbreviation">Educ Rev</span>
			<span class="hover" title="Medium">[Internet]</span>.
			<span class="hover" title="Date of publication">2009 Mar 1</span>
			<span class="hover" title="Date cited">[cited 2010 Jan 5]</span>;<span class="hover" title="Volume(Issue)">31(5)</span>:<span class="hover" title="Page numbers">135&#45;9</span>.
			Available from: <span class="hover" title="URL">http://net.educause.edu/ir/library/pdf/ERM0918.pdf</span>
		</li>
	</ol>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	Thierstein <sup>3</sup> found that&hellip;
	<br>
	or
	<br>
	&hellip;has been recently identified <sup>3</sup>.
</blockquote>
<br>
This number directs your reader to the full reference in the reference list.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
