<h2>%%ReferenceStyle%%Electronic articles, newspaper article (from database)</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Add a reference at the end of your essay citing all relevant sources used in your research. Add the 
location where published in or at the end of the newspaper title if it is not included. For further 
information and examples, please refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7261/#A41540" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 8</a>. 
Add the homepage URL for the database at the end of the reference list. When URLs are longer 
than one line, if necessary, break a URL at a slash. For further information, refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7269/box/A55019/?report=objectonly" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 22</a>.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="11" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Author Initial(s). Article title. Title of Newspaper [Medium]. 
			Date of Publication [Date cited]:Page numbers. Available from: URL
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="11" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Author">Wentworth</span>
			<span class="hover" title="Initial(s)">WC</span>.
			<span class="hover" title="Article title">Why we need a permanent base on the moon</span>.
			<span class="hover" title="Title of Newspaper">The Sydney Morning Herald</span>
			[<span class="hover" title="Medium">Internet</span>].
			<span class="hover" title="Date of Publication [Date cited]">1984 Jan 24 [cited 2008 Dec 19]</span>:<span class="hover" title="Page number(s)">11</span>.
			Available from: <span class="hover" title="Available from">https://archives.smh.com.au</span>
		</li>
	</ol>
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	Wentworth <sup>11</sup> stated that&hellip;
	<br>
	or
	<br>
	&hellip;the engineered apple <sup>11</sup>.
</blockquote>
<br>
This number directs your reader to the full reference in the reference list.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
