<h2>%%ReferenceStyle%%Electronic articles, library database article</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Add a reference at the end of your essay citing all relevant sources used in your research. 
The month and day (or the season) may be omitted from the date of publication if the journal is 
continuously paginated throughout the volume. However, the month and day (or the season) must be 
included when citing a journal that has no volume or issue number. See 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7281/#A55718" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 23</a>, 
for examples. An electronic article retrieved from a database uses the same format as a printed 
journal article with the addition of a Digital Object Identifier (DOI). The 
<a href="http://www.crossref.org/guestquery" title="CrossRef &#45; Look up DOIs" target="_blank" rel="noopener noreferrer">
	DOI resolver</a>
can be used to find a DOI from the citation details if it is not given on the publication. If the 
journal article is from a publicly accessible database online, give the URL. e.g. Available 
from: http://www&hellip; When URLs are longer than one line, if necessary, break a URL at a slash. 
For further information, refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7269/box/A55019/?report=objectonly" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 22</a>.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="10" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Author Initial(s), Author Initial(s), Author Initial(s). Article title: subtitle.  
			Journal title abbreviation [Medium]. Year of publication [cited date];Volume(Issue):Page numbers. 
			Available from: URL doi:
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="10" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Author">Jackson</span>
			<span class="hover" title="Initial(s)">D</span>,
			<span class="hover" title="Author">Firtko</span>
			<span class="hover" title="Initial(s)">A</span>,
			<span class="hover" title="Author">Edenborough</span>
			<span class="hover" title="Initial(s)">M</span>.
			<span class="hover" title="Article title">Personal resilience as a strategy for surviving and thriving in the face of workplace adversity: a literature review</span>.
			<span class="hover" title="Journal title abbreviation">J Adv Nurs</span>
			<span class="hover" title="Medium">[Internet]</span>.
			<span class="hover" title="Year of publication [cited date]">2007 [cited 2009 Apr 2]</span>;<span class="hover" title="Volume(Issue)">60(1)</span>:<span class="hover" title="Page numbers">1&#45;9</span>.
			Available from: <span class="hover" title="Available from">https://onlinelibrary.wiley.com</span>
			doi: <span class="hover" title="doi">10.1111/j.1365&#45;2648.2007.04412.x</span>
		</li>
	</ol>
</blockquote>
<br>
Where no DOI number is available give the database homepage URL:
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="10" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Author">Jackson</span>
			<span class="hover" title="Initial(s)">D</span>,
			<span class="hover" title="Author">Firtko</span>
			<span class="hover" title="Initial(s)">A</span>,
			<span class="hover" title="Author">Edenborough</span>
			<span class="hover" title="Initial(s)">M</span>.
			<span class="hover" title="Article title">Personal resilience as a strategy for surviving and thriving in the face of workplace adversity: a literature review</span>.
			<span class="hover" title="Journal title abbreviation">J Adv Nurs</span>
			<span class="hover" title="Medium">[Internet]</span>.
			<span class="hover" title="Year of publication [cited date]">2007 [cited 2009 Apr 2]</span>;<span class="hover" title="Volume(Issue)">60(1)</span>:<span class="hover" title="Page numbers">1&#45;9</span>.
			Available from: <span class="hover" title="Available from">https://onlinelibrary.wiley.com/</span>
		</li>
	</ol>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words. This number 
directs your reader to the full reference in the reference list.
<br>
<br>
If the author name is included in the text, if the source has more than 3 authors, provide the first 
author name followed by et al.
<br>
<blockquote class="in-text-citation">
	Jackson et al. <sup>10</sup> found that&hellip; 
	<br>
	or
	<br>
	&hellip;was therefore conclusive <sup>10</sup>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
