<h2>%%ReferenceStyle%%Document on the Internet, two or more authors</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Add a reference at the end of your essay citing all relevant sources used in your research. When 
citing the place of publication, for US and Canadian cities, include the two letter abbreviation for 
the state or province, followed the city name in parentheses (see 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7254/" target="_blank" rel="noopener noreferrer">
	Citing medicine, appendix E</a>). 
Cities in other countries are followed by either the two letter ISO country code (see 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7249/" target="_blank" rel="noopener noreferrer">
	Citing medicine, appendix D</a>) 
or the country name written out in full. For example: Melbourne (Australia) OR Melbourne (AU).
<br>
<br>
When URLs are longer than one line, if necessary, break a URL at a slash. For further information, refer 
to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7269/box/A55019/?report=objectonly" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 22</a>.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="22" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Author Initial(s), Author Initial(s), Author Initial(s), Author Initial(s), 
			Author Initial(s), Author Initial(s). Title of document [Medium]. Place of publication: Publisher; 
			Year of publication [Date cited]. Available from: URL
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="22" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Author">Este</span>
			<span class="hover" title="Initial(s)">J</span>,
			<span class="hover" title="Author">Warren</span>
			<span class="hover" title="Initial(s)">C</span>,
			<span class="hover" title="Author">Connor</span>
			<span class="hover" title="Initial(s)">L</span>,
			<span class="hover" title="Author">Brown</span>
			<span class="hover" title="Initial(s)">M</span>,
			<span class="hover" title="Author">Pollard</span>
			<span class="hover" title="Initial(s)">R</span>,
			<span class="hover" title="Author">O&#8217;Connor</span>
			<span class="hover" title="Initial(s)">T</span>,
			<span class="hover" title="Title of document">Life in the clickstream: the future of journalism</span>
			[<span class="hover" title="Medium">Internet</span>].
			<span class="hover" title="Place of publication">Redfern (AU)</span>:
			<span class="hover" title="Publisher">Media Entertainment and Arts Alliance</span>;
			<span class="hover" title="Year of publication">2008</span>
			[cited <span class="hover" title="Date cited">2009 May 27</span>].
			Available from: <span class="hover" title="Available from">http://www.alliance.org.au/documents/foj_report_final.pdf</span>
		</li>
	</ol>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words. This number 
directs your reader to the full reference in the reference list.
<br>
<br>
If the author name is included in the text, if the source has more than 3 authors, provide the first 
author name followed by et al.
<br>
<blockquote class="in-text-citation">
	Este et al. <sup>22</sup> suggest that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
