<h2>%%ReferenceStyle%%Conference paper, published</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Add a reference at the end of your essay citing all relevant sources used in your research.
For US and Canadian cities include the two letter abbreviation for the state or province, following 
the city name in parentheses (see 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7254/" target="_blank" rel="noopener noreferrer">
	Citing medicine, appendix E</a>). 
Cities in other countries are followed by either the two letter ISO country code (see 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7249/" target="_blank" rel="noopener noreferrer">
	Citing medicine, appendix D</a>) 
or the country name written out in full. For example: Melbourne (Australia) OR Melbourne (AU). 
For further information, refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7272/#A37022" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 3</a>.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="6" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Author Initial(s), Author Initial(s). Title of Paper. In: Editor Initial(s), Editor Initial(s), 
			Editor Initial(s), Editor Initial(s), editors. Book title: subtitle. Conference title; 
			Conference date; Place of conference. Place of publication: Publisher; Date of publication. 
			Conference title; Date of conference; Place of conference. Place of publication: Publisher; 
			Year of Publication. Page numbers.
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="6" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Author">Ilias</span>
			<span class="hover" title="Initial(s)">I</span>,
			<span class="hover" title="Author">Pacak</span>
			<span class="hover" title="Initial(s)">K</span>.
			<span class="hover" title="Title of Paper">Anatomical and functional imaging of metastatic pheochromocytoma</span>.
			In: <span class="hover" title="Editor(s)">Pacak</span>
			<span class="hover" title="Initial(s)">K</span>,
			<span class="hover" title="Editor(s)">Aguilera</span>
			<span class="hover" title="Initial(s)">G</span>,
			<span class="hover" title="Editor(s)">Sabban</span>
			<span class="hover" title="Initial(s)">E</span>,
			<span class="hover" title="Editor(s)">Kvetnansky</span>
			<span class="hover" title="Initial(s)">R</span>, editors.
			<span class="hover" title="Book title">Stress</span>: 
			<span class="hover" title="subtitle">current neuroendocrine and genetic approaches</span>.
			<span class="hover" title="Conference title">8th Symposium on Catecholamines and Other Neurotransmitters in Stress</span>;
			<span class="hover" title="Conference Date">2003 Jun 28&#45; Jul 3</span>;
			<span class="hover" title="Place of conference">Smolenice Castle, Slovakia</span>.
			<span class="hover" title="Place of publication">New York (NY)</span>:
			<span class="hover" title="Publisher">New York Academy of Sciences</span>;
			<span class="hover" title="Year of Publication">2004</span>.
			p. <span class="hover" title="Page numbers">495&#45;504</span>.
		</li>
	</ol>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	Ilias and Pacak <sup>6</sup> stated that&hellip;
	<br>
	or
	<br>
	It has been found that&hellip; <sup>6</sup>
</blockquote>
<br>
This number directs your reader to the full reference in the reference list.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
