<h2>%%ReferenceStyle%%Government report, online</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Add a reference at the end of your essay citing all relevant sources used in your research. When citing 
authors and publishers that are government agencies, if a nationality is not part of the name, place 
the two letter country code in parentheses after the name. For further information, refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7271/box/A35114/?report=objectonly" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 2 </a>
and 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7269/box/A54847/?report=objectonly" target="_blank" rel="noopener noreferrer">
	chapter 22</a>. 
If the place of publication is not known, use &#8216;place unknown&#8217; within square brackets.
<br>
<br>
When URLs are longer than one line, if necessary, break a URL at a slash. For further information, 
refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7269/box/A55019/?report=objectonly" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 22</a>.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="20" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Name of Government and Department. Title of report [Medium]. Place of publication: Publisher;
			Year of publication [Date cited]. Available from: URL
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="20" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Name of Government">Australian Government</span>,
			<span class="hover" title="Name of Government Department">Department of Health and Ageing</span>.
			<span class="hover" title="Title of report">Ageing and aged care in Australia</span>
			[<span class="hover" title="Medium">Internet</span>].
			<span class="hover" title="Place of publication">[place unknown]</span>:
			<span class="hover" title="Publisher">Australian Government, Department of Health and Ageing</span>; 	
			<span class="hover" title="Year of publication">2008</span>
			[cited <span class="hover" title="Date cited">2008 Nov 10</span>].
			Available from: <span class="hover" title="Available from">http://www.health.gov.au/internet/main/publishing.nsw/Content/ageing</span>
		</li>
	</ol>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	The Australian Government, Department of Health and Ageing <sup>20</sup> reported that&hellip;
	<br>
	or
	<br>
	&hellip;was shown in the report <sup>20</sup>.
</blockquote>
<br>
This number directs your reader to the full reference in the reference list. 
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
