<h2>%%ReferenceStyle%%Lecture (unpublished) / personal communication</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
When you cite information spoken about in a lecture that has not been published it is treated as a 
personal communication and you do not need to provide a reference list entry. Provide all information 
in text. Include the nature and source of the information followed by the term &#8216;unreferenced&#8217; 
in parentheses. For further information, refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7242/" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 13</a>. 
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	 &hellip;H. Dwyer stated that &#34;neutrons are dangerous&#34; (H0379 Lecture, University of 
	 Western Sydney, 2009 January 10; unreferenced).
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
