<h2>%%ReferenceStyle%%Lecture or lecture notes online</h2>
<hr>
<strong>REFERENCE ENTRY</strong>
<br>
<br>
Avoid where possible!
<br>
<br>
It is better to do the research and refer back to the original source yourself. Ask your lecturer 
for a list of the sources referred to in the lecture, if necessary.
<br>
<br>
When URLs are longer than one line, if necessary, break a URL at a slash. For further information, 
refer to 
<a href="https://www.ncbi.nlm.nih.gov/books/NBK7269/box/A55019/?report=objectonly" target="_blank" rel="noopener noreferrer">
	Citing medicine, chapter 22</a>.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="17" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			Author Initial(s). Unit number and title of lecture [Medium]. Place of publication: Publisher; 
			Date of lecture [Date cited]. Available from: URL
		</li>
	</ol>
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref" style="padding-left: 0px;">
	<ol start="17" style="margin-left: 0px;">
		<li class="ref-pad-0-13cm">
			<span class="hover" title="Author">Dwyer</span>
			<span class="hover" title="Initial(s)">H</span>.
			<span class="hover" title="Unit number and title of lecture">1004CCJ Introduction to human behaviour week 9 lecture: intelligence.</span>
			[<span class="hover" title="Medium">Internet</span>].
			<span class="hover" title="Place of publication">Penrith (AU)</span>:
			<span class="hover" title="Publisher">Western Sydney University</span>;
			<span class="hover" title="Date of lecture">2009 Jan 5</span>
			[cited <span class="hover" title="Date cited">2009 Jan 10</span>].
			Available from: <span class="hover" title="URL">https://vuws.westernsydney.edu.au/</span>
		</li>
	</ol>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	 &hellip;Dwyer <sup>17</sup> stated that &#34;neutrons are dangerous&#34;
</blockquote>
<br>
This number directs your reader to the full reference in the reference list. 
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/5?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
