<!-- <br>
<br>
<div class="no-print" style="text-align: right;">
	<a href="javascript:window.print()">
		Print this page
	</a>
</div>
<br> -->
<br>
<div style="text-align: center;" id="list">
	<strong>Reference List</strong>
</div>
<br>
<br>
<ol>
	<li class="ref">
		Andreasen NC. Brave new brain: conquering mental illness in the era of the genome. Oxford (GB): 
		Oxford University Press; 2001.
		<br>
		<br>
	</li>
	<li class="ref">
		Schneider Z, Whitehead D, Elliott D. Nursing and midwifery research: methods and appraisal 
		for evidence&#45;based practice. 3rd ed. Marrickville (AU): Elsevier Australia; 2007.
		<br>
		<br>
	</li>
	<li class="ref">
		Thierstein J. Education in the digital age. Edu Rev [Internet]. 2009 Mar 1 
		[cited 2010 Jan 5];31(5):135&#45;9. Available from: http://net.educause.edu/ir/library/pdf/ERM0918.pdf
		<br>
		<br>
	</li>
	<li class="ref">
		Merriam&#45;Webster&#8217;s collegiate dictionary. 10th ed. Springfield (MA): Merriam Webster; 
		1993.
		<br>
		<br>
	</li>
	<li class="ref">
		Craven I, editor. Australian cinema in the 1990s. London (GB): Frank Cass; 2001.
		<br>
		<br>
	</li>
	<li class="ref">
		Chang SS, Liaw L, Ruppenhofer J, editors. Proceedings of the Twenty-Fifth Annual Meeting of the 
		Berkeley Linguistics Society, February 12-15, 1999: General Session and Parasession on Loan Word 
		Phenomena; University of California. Berkeley (CA): Berkeley Linguistics Society; 2000.
		<br>
		<br>
	</li>
	<li class="ref">
		Berkovic N. Handouts may not be sent: tax office seeks quick resolution of High Court challenge. 
		The Australian. 2009 Mar 31:5.
		<br>
		<br>
	</li>
	<li class="ref">
		Gale L. The relationship between leadership and employee empowerment for successful total 
		quality management [PhD thesis]. [Penrith (AU)]: University of Western Sydney; 2000.
		<br>
		<br>
	</li>
	<li class="ref">
		Younger P. Using the internet to conduct a literature search. Nurs Stand. 
		2004 Oct 20;19(6):45&#45;51.
		<br>
		<br>
	</li>
	<li class="ref">
		Jackson D, Firtko A, Edenborough M. Personal resilience as a strategy for surviving and thriving 
		in the face of workplace adversity: a literature review. J Adv Nurs [Internet]. 
		2007 [cited 2009 Apr 2];60(1):1&#45;9. Available from: https://onlinelibrary.wiley.com 
		doi: 10.1111/j.1365&#45;2648.2007.04412.x
		<br>
		<br>
	</li>
	<li class="ref">
		Wentworth WC. Why we need a permanent base on the moon. The Sydney Morning Herald [Internet]. 
		1984 Jan 24 [cited 2008 Dec 19]:11. Available from: https://archives.smh.com.au
		<br>
		<br>
	</li>
	<li class="ref">
		Cooper D. Native ant may stop toad in its tracks. ABC Science [Internet]. 2009 Mar 31 
		[cited 2009 Apr 2]. Available from: http://www.abc.net.au/science/articles/2009/03/31/2530686.htm?site=science&amp;topic=latest
		<br>
		<br>
	</li>
	<li class="ref">
		Cox SW, editor. Proceedings of the 2nd European Conference on Precision Livestock Farming; 
		2005 Jun 9&#45;12, Uppsala, SE. Netherlands (NL): Wageningen Academic; 2005.
		<br>
		<br>
	</li>
	<li class="ref">
		Von Der Luhe I. I without guarantees: Ingeborg Bachmann&#8217;s Frankfurt lectures on poetics. 
		Kraus MT, translator. New Ger Crit. 1982;8(27):31&#45;56.
		<br>
		<br>
	</li>
	<li class="ref">
		Storey KB. Functional metabolism regulation and adaptation [Internet]. Hoboken (NJ): 
		John Wiley &amp; Sons; 2004 [cited 2009 Apr 2]. Available from: https://www.proquest.com/
		<br>
		<br>
	</li>
	<li class="ref">
		Ferres K. Idiot box: television, urban myths and ethical scenarios. In: Craven I, editor. 
		Australian cinema in the 1990s. London (GB): Frank Cass; 2001. p. 175&#45;188.
		<br>
		<br>
	</li>
		<li class="ref">
		Dwyer H. 1004CCJ Introduction to human behaviour week 9 lecture: intelligence [Internet]. 
		Penrith (AU): University of Western Sydney; 2009 Jan 5 [cited 2009 Jan 10]. Available from: 
		https://vuws.westernsydney.edu.au/
		<br>
		<br>
	</li>
	<li class="ref">
		Knowles MS. Independent study. In: Using learning contracts. San Francisco (CA): 
		Jossey&#45;Bass; 1986:73&#45;90.
		<br>
		<br>
	</li>
	<li class="ref">
		Australian Government, Department of Health and Ageing. Ageing and aged care in Australia 
		[Internet]. [place unknown]: Australian Government, Department of Health and Ageing; 
		2008 [cited 2008 Nov 10]. Available from: 
		http://www.health.gov.au/internet/main/publishing.nsw/Content/ageing
		<br>
		<br>
	</li>
	<li class="ref">
		Developing an argument [Internet]. New Jersey (NJ): Princeton Writing Center; 
		[cited 2009 Mar 30]. Available from: 
		http://web.princeton.edu/sites/writing/Writing_Center/WCWritingResources.htm
		<br>
		<br>
	</li>
	<li class="ref">
		Este J, Warren C, Connor L, Brown M, Pollard R, O&#8217;Connor T. Life in the clickstream: 
		the future of journalism [Internet]. Redfern (AU): Media Entertainment and Arts Alliance; 
		2008 [cited 2009 May 27]. Available from: 
		http://www.alliance.org.au/documents/foj_report_final.pdf
		<br>
		<br>
	</li>
</ol>
<br>
<br>