<hr>
<span class="smaller">
	This citation guide is based on the 
	<a href="http://www.ncbi.nlm.nih.gov/books/NBK7256/" target="_blank" rel="noopener noreferrer" title="opens a new window">
		Citing medicine: the NLM Style Guide for authors, editors, and publishers (online)
	</a>.
	<br>
	For further support, consult the manual directly.
</span>
<div class="clear"></div>
