<h2>%%ReferenceStyle%%Book, translated</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author. (Year of publication). <em>Title of book</em>. (Translator&#8217;s name, Trans.). 
	Place of publication: Publisher. (Original work published Year of publication).
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Johnson, Y.</span> 
	(<span class="hover" title="Year of publication">2020</span>). 
	<em><span class="hover" title="Title of book">Current thinking on learning theories</span></em> 
	(<span class="hover" title="Translator&#8217;s name, Trans.">K. L. Goodwin, Trans.</span>). 
	<span class="hover" title="Place of publication">Parramatta, Australia</span>: 
	<span class="hover" title="Publisher">Adams Books</span>. 
	(Original work published <span class="hover" title="Year of publication">1984</span>). 
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Cite the original publication date and the date of the translation.
<br>
<blockquote class="in-text-citation">
	Johnson (1984/2020) indicated that&hellip;
	<br>
	Alternatively: A recent study (Johnson, 1984/2020) indicated that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Johnson (1984/2020) showed that&hellip; Johnson also found that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Johnson (1984/2020) observed that generally, &#34;technology&#45;assisted learning has grown in 
	popularity with adolescents&#34; (p. 34).
	<br>
	Alternatively: We can observe that generally, &#34;technology&#45;assisted learning has grown in 
	popularity with adolescents&#34; (Johnson, 1984/2020, p. 34).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>