<h2>%%ReferenceStyle%%Book, multiple books by same author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Different works by the same author(s) are listed in chronological (date) order.
<br>
If several works have the same date as well as the same author, works are distinguished by suffixes 
a, b, c, etc. These are allocated in the reference list where they are ordered alphabetically by title.
<br>
References with the same first author and a different second or third author are listed alphabetically.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author(s). (Year of publication [suffix]). <em>Title of book</em>. Place of publication: Publisher.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote>
	<div class="ref-hang-indent">
		<span class="hover" title="Author">Smith, A.</span> 
		(<span class="hover" title="Year of publication">2050</span>). 
		<em><span class="hover" title="Title of book">Exploring nanoscale science</span></em>. 
		<span class="hover" title="Place of publication">San Francisco, CA</span>: 
		<span class="hover" title="Publisher">Beck</span>.
	</div>
	<div class="ref-hang-indent">
		Smith, A. (2056). <em>Amid fifty thousand flaming devils</em>. Baghdad, Iraq: Etoile Press.
	</div>
	<div class="ref-hang-indent">
		Smith, A., &amp; Brown, B. W. (2056a)&hellip;
	</div>
	<div class="ref-hang-indent">
		Smith, A., &amp; Brown, B. W. (2056b)&hellip;
	</div>
	<div class="ref-hang-indent">
		Smith, A., &amp; Chan, C. (2056)&hellip;
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2056a) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith &amp; Brown, 2056a) indicated that&hellip;
</blockquote>
<br>
If two or more sources are being cited for the same ideas or information, the author&#8217;s name(s) 
should appear only once and the works are identified by the publication dates (and suffix).
<br>
<blockquote class="in-text-citation">
	Studies indicate that&hellip; (Smith &amp; Brown, 2056a, 2056b).
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2056a) observe that &#34;the Higgs Boson particle still remains illusive&#34; 
	(p. 34).
	<br>
	Alternatively: Therefore, &#34;the Higgs Boson particle still remains illusive&#34; 
	(Smith &amp; Brown, 2056a, p. 34).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>