<h2>%%ReferenceStyle%%Book, six or more authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Authors. (Year of publication). <em>Title of book</em>. Place of publication: Publisher.
</blockquote>
<br>
<strong>Examples</strong>
<br>
When authors number up to and including seven, include all the authors&#8217; names.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Smith, A., Brown, B., Chan, C., Williams, D., Tahatai, M., &amp; Singh, R.</span> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<em><span class="hover" title="Title of book">The decline and fall of the modern generation</span></em>. 
	<span class="hover" title="Place of publication">Parramatta, Australia</span>: 
	<span class="hover" title="Publisher">New Media Press</span>.
</blockquote>
<br>
When authors number eight or more, include the first six authors&#8217; names, then insert three 
ellipses (full stops/periods), and add the last author&#8217;s name.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Smith, A., Brown, B., Chan, C., Williams, D., Tahatai, M., Jones, A., &hellip; Singh, R.</span> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<em><span class="hover" title="Title of book">The decline and fall of the modern generation</span></em>. 
	<span class="hover" title="Place of publication">Parramatta, Australia</span>:  
	<span class="hover" title="Publisher">New Media Press</span>.
</blockquote>
<br>
For a numbered edition, place the abbreviation in parenthesis after the book title. This part should 
not be italicised. Use (Rev. ed.) for revised editions.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Smith, A., Brown, B., Chan, C., Williams, D., Tahatai, M., Jones, A., &hellip; Singh, R.</span> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<em><span class="hover" title="Title of book">The decline and fall of the modern generation</span></em> 
	(<span class="hover" title="edition">2nd ed.</span>). 
	<span class="hover" title="Place of publication">Parramatta, Australia</span>: 
	<span class="hover" title="Publisher">New Media Press</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When the work has six or more authors, cite only the name of the first author followed by et al. and 
the date. (Note the full stop after et al.).
<br>
<blockquote class="in-text-citation">
	Smith et al. (2056) found that&hellip;
	<br>
	Alternatively: A recent study (Smith et al., 2056) found that&hellip;
</blockquote>
<br>
When the work is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith et al. (2056) showed that&hellip; Smith et al. also found 
	that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith et al. (2056) observe that &#34;we have an irreversible dependency upon digital technology&#34; 
	(p. 21).
	<br>
	Alternatively: Subsequently, &#34;we have an irreversible dependency upon digital technology&#34; 
	(Smith et al., 2056, p. 21).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>