<h2>%%ReferenceStyle%%Book, no author or editor</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	<em>Book title.</em> (Year of publication). Place of publication: Publisher.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent">
	<em><span class="hover" title="Book title">Illustrated dictionary of medical and health sciences</span>.</em> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<span class="hover" title="Place of publication">Cambridge, England</span>: 
	<span class="hover" title="Publisher">Crosby&#45;Williams</span>.
</blockquote>
<br>
For a numbered edition, place the abbreviation in parenthesis after the book title. This part should 
not be italicised. Use (Rev. ed.) for revised editions.
<br>
<blockquote class="ref-hang-indent">
	<em><span class="hover" title="Book title">Illustrated dictionary of medical and health sciences</span></em> 
	(<span class="hover" title="edition">2nd ed.</span>). 
	(<span class="hover" title="Year of publication">2056</span>). 
	<span class="hover" title="Place of publication">Cambridge, England</span>: 
	<span class="hover" title="Publisher">Crosby&#45;Williams</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
If you are citing a work which has no author, the first few words of the title should be used. The 
title of the book is italicised.
<br>
<blockquote class="in-text-citation">
	A recent study (<em>Illustrated Dictionary</em>, 2056) suggests that&hellip;
	<br>
	Alternatively: &hellip;as pictured in the book <em>Illustrated Dictionary</em> (2056).
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	The <em>Illustrated dictionary</em> (2056) states that &#34;chocolate has several health benefits&#34; 
	(p. 56).
	<br>
	Alternatively: Therefore, &#34;chocolate has several health benefits&#34; 
	(<em>Illustrated dictionary</em>, 2056, p. 56).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>