<h2>%%ReferenceStyle%%Ebook</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
In lieu of publisher information, include the book&#39;s DOI or (if there is no DOI) the URL from which you downloaded the e&#45;book. 
If access to the book is via an online library (e.g Proquest Ebook Central, Safari books online, eBook Collection EBSCO), provide the homepage URL. 
Provide the direct URL for other books available on the web.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote>
	Authors. (Publication date). <em>Title of book</em>. doi:Digital Object Identifier
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Brown, R</span>. 
	(<span class="hover" title="Publication date">2032</span>). 
	<em><span class="hover" title="Title of book">The death of CDs: Impact of the MP3 player</span></em>. 
	doi:<span class="hover" title="Digital Object Identifier">12.1036/0071393756</span>
</blockquote>
<br>
Otherwise
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author&#47;s. (Publication date). <em>Title of book</em>. Retrieved from http://xxxxx
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Jones, G</span>. 
	(<span class="hover" title="Publication date">2036</span>). 
	<em><span class="hover" title="Title of e&#45;book">Coffee: Memoirs of an addict</span></em>. 
	Retrieved from <span class="hover" title="Database name or URL">http://ebookcentral.proquest.com</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Brown (2032) indicated that&hellip;
	<br>
	Alternatively: A recent study (Brown, 2032) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph, do not include 
the date in subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Brown (2032) showed that&hellip; Brown also found that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Brown (2032) observed that &#34;hearing loss amongst adolescents is growing&#34; (p. 26).
	<br>
	Alternatively: Unsurprisingly, &#34;hearing loss amongst adolescents is growing&#34; 
	(Brown, 2032, p. 26).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>