<h2>%%ReferenceStyle%%Journal article, six or more authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Authors. (Year of publication). Title of article. <em>Name of Publication, volume</em>(issue), 
	page numbers. doi:Digital Object Identifier (if assigned)
</blockquote>
<br>
<strong>Examples</strong>
<br>
When authors number up to and including seven, include all the authors&#8217; names.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Smith, A., Brown, B., Chan, C., Williams, D., Tahatai, M., Manalo, E., &hellip; Singh, R.</span> 
	(<span class="hover" title="Year of publication">2056</span>).&nbsp;
	<span class="hover" title="Title of article">Uneven muscle mass growth patterns in extreme athletes</span>. 
	<em><span class="hover" title="Name of Publication">Asia&#45;Pacific Journal of Injury Prevention</span>, 
	<span class="hover" title="volume">8</span></em>(<span class="hover" title="issue">4</span>), 
	<span class="hover" title="page numbers">356&#45;387</span>. 
	doi:<span class="hover" title="Digital Object Identifier">12:3456789012</span>
</blockquote>
<br>
When authors number eight or more, include the first six authors&#8217; names, then insert three ellipses 
(full stops/periods), and add the last author&#8217;s name.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Smith, A., Brown, B., Chan, C., Williams, D., Tahatai, M., Manalo, E., &hellip; Singh, R.</span> 
	(<span class="hover" title="Year of publication">2056</span>).&nbsp;
	<span class="hover" title="Title of article">Uneven muscle mass growth patterns in extreme athletes</span>. 
	<em><span class="hover" title="Name of Publication">Asia&#45;Pacific Journal of Injury Prevention</span>, 
	<span class="hover" title="volume">8</span></em>(<span class="hover" title="issue">4</span>), 
	<span class="hover" title="page numbers">356&#45;387</span>. 
	doi:<span class="hover" title="Digital Object Identifier">12:3456789012</span>
</blockquote>
<br>
Note: reference the source as an 
<a href="%%ICiteURL%%/3/1?width=800&amp;height=600" class="colorbox-node">
	Electronic Article, Library Database Article
</a> if it was accessed on&#45;line.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When the work has six or more authors, cite only the name of the first author followed by et al. 
and the date, both the first time the work is cited and in subsequent citations. (Note the full 
stop after and lack of italics for et al.).
<br>
<br>
If the names of the authors are included in the sentence, only the date is in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith et al. (2056) found that&hellip;
</blockquote>
<br>
Otherwise, both authors and date should be included in parentheses.
<br>
<blockquote class="in-text-citation">
	A recent study (Smith et al., 2056) found that&hellip;
</blockquote>
<br>
When the work is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith et al. (2056) showed that&hellip; Smith et al. also found that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith et al. (2056) observe that &#34;chocolate production has risen over the last five years&#34; 
	(p. 21).
	<br>
	Alternatively: &#34;Chocolate production has risen over the last five years&#34; 
	(Smith et al., 2056, p. 21).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>