<h2>%%ReferenceStyle%%Journal article, no author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Title of article. (Year of publication). <em>Title of Publication, volume</em>(issue), 
	page numbers. doi:Digital Object Identifier (if assigned)
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Title of article">Study smarter, not harder: Setting goals to improve your academic performance</span>. 
	(<span class="hover" title="Year of publication">2056</span>).&nbsp;
	<em><span class="hover" title="Title of Publication">Student Review</span>, 
	<span class="hover" title="volume">25</span></em>(<span class="hover" title="issue">5</span>),  
	<span class="hover" title="page numbers">10&#45;12</span>. 
	doi:<span class="hover" title="Digital Object Identifier">12.3456789012</span>
</blockquote>
<br>
Note: reference the source as an 
<a href="%%ICiteURL%%/3/1?width=800&amp;height=600" class="colorbox-node">
	Electronic Article, Library Database Article
</a> 
if it was accessed on&#45;line.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
If you are citing a work which has no author, the first few words of the title should be used. 
The title of a journal is italicised. Quotation marks are used around the title of an article.
<br>
<blockquote class="in-text-citation">
	&#34;Study smarter&#34; (2056) outlined the benefits of&hellip;
	<br>
	Alternatively: &hellip;according to a recent study (&#34;Study smarter&#34;, 2056).
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	&#34;Study smarter&#34; (2056) observed that &#34;students are able to improve their 
	performance by&hellip;&#34; (p. 11).
	<br>
	Alternatively: &#34;Students are able to improve their performance by&hellip;&#34; 
	(&#34;Study smarter&#34;, 2056, p. 11).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>