<h2>%%ReferenceStyle%%Newspaper article, no author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Title of article. (Year, month and day of publication). 
	<em>Title of Publication</em>, page number(s).
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Title of article">Hong Kong braces for protests</span>. 
	(<span class="hover" title="Year, month and day of publication">2056, December 15</span>). 
	<em><span class="hover" title="Title of Publication">Melbourne Herald</span></em>, 
	<span class="hover" title="page number">p. A5</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
If you are citing a work which has no author, the first few words of the title should be used. 
Quotation marks are used around the title of an article or report.
<br>
<blockquote class="in-text-citation">
	The author&#8217;s report &#34;Hong Kong braces for protests&#34; (2056) revealed that&hellip;
	<br>
	Alternatively: &hellip;revealed the author&#8217;s report (&#34;Hong Kong braces for protests&#34;, 
	2056).
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	A <em>Melbourne Herald</em> report &#45; &#34;Hong Kong braces for protests&#34; (2056) &#45; 
	revealed that &#34;rubbish collection is costing the country millions&#34; (p. A5).
	<br>
	Alternatively: &#34;Rubbish collection is costing the country millions&#34; (&#34;
	Hong Kong braces for protests&#34;, 2056, p. A5).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>