<h2>%%ReferenceStyle%%Journal article, one author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author. (Year of publication). Title of article. <em>Name of Publication, volume</em>(issue), 
	page numbers. doi:Digital Object Identifier (if assigned)
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<span class="hover" title="Title of article">High speed compression for music downloads</span>. 
	<em><span class="hover" title="Name of Publication">Journal of Internet Engineering</span>, 
	<span class="hover" title="volume">10</span></em>(<span class="hover" title="issue">2</span>), 
	<span class="hover" title="page numbers">154&#45;165</span>. 
	doi:<span class="hover" title="Digital Object Identifier">12:3456789012</span>
</blockquote>
<br>
Note: reference the source as an
<a href="%%ICiteURL%%/3/1?width=800&amp;height=600" class="colorbox-node">
	Electronic Article, Library Database Article
</a> 
if it was accessed on&#45;line.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2056) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith, 2056) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith (2056) showed that&hellip; Smith also found that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith (2056) observed that &#34;variable bit&#45;rates were the most reliable&#34; (p. 56).
	<br>
	Alternatively: Therefore, &#34;variable bit&#45;rates were the most reliable&#34; 
	(Smith, 2056, p. 56).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>