<h2>%%ReferenceStyle%%Journal article, one source quoted in another</h2>
<hr>
<br>
Avoid where possible!
<br>
<br>
It is better to refer back to the original source yourself so you can check the accuracy of 
the quoted material. If the original source is unavailable, use <strong>as cited in</strong>. 
The original authors are named in your text, but only the source you actually read goes in the 
reference list. For example, if a study by Jones and Chan was quoted in a work that you read by 
Smith, you would only list Smith in your reference list.
<br>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author. (Year of publication). Title of article (that you read). 
	<em>Name of Publication, volume</em>(issue), page numbers. 
	doi:Digital Object Identifier (if assigned)
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<span class="hover" title="Title of article (that you read)">High speed compression for music downloads</span>. 
	<em><span class="hover" title="Name of Publication">Journal of Internet Engineering</span>, 
	<span class="hover" title="volume">10</span></em>(<span class="hover" title="issue">2</span>), 
	<span class="hover" title="page numbers">154&#45;165</span>. 
	doi:<span class="hover" title="Digital Object Identifier">12:3456789012</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Name the original authors and use &#8216;as cited in&#8217; to refer to the secondary work you read. 
For example, a study by Jones and Chan was quoted in a work by Smith, but you did not read the 
study by Jones and Chan.
<br>
<br>
If the name of the original author is included in the sentence, the name and date of the secondary 
source you read is in parentheses.
<br>
<blockquote class="in-text-citation">
	Jones and Chan (as cited in Smith, 2056) indicated that&hellip;
</blockquote>
<br>
Otherwise, the original authors and the secondary author and date should be included in parentheses.
<br>
<blockquote class="in-text-citation">
	A recent study (Jones &amp; Chan, as cited in Smith, 2056) showed that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Jones and Chan (as cited in Smith, 2056) observed that &#34;chocolate has several health benefits&#34; 
	(p. 56).
	<br>
	Alternatively: &#34;Chocolate has several health benefits&#34; (Jones &amp; Chan, as cited in 
	Smith, 2056, p. 56).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>