<h2>%%ReferenceStyle%%Journal article, multiple articles by same author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Different works by the same author(s) are listed in chronological (date) order. If several works 
have the same date as well as the same author, works are distinguished by suffixes a, b, c, etc. 
These are allocated in the reference list where they are ordered alphabetically by title. 
References with the same first author and a different second or third author are listed alphabetically.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Authors. (Year of publication [suffix]). Title of article. 
	<em>Name of Publication, volume</em>(issue), page numbers. doi:Digital Object Identifier 
	(if assigned)
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote>
	<div class="ref-hang-indent">
		<span class="hover" title="Authors">Smith, A.</span> 
		(<span class="hover" title="Year of publication">2050</span>). 
		<span class="hover" title="Title of article">Teaming with wildlife: Promoting team development through volunteer service at Auckland Zoo</span>. 
		<em><span class="hover" title="Name of Publication">New Zealand Business Review</span>, 
		<span class="hover" title="volume">17</span></em>(<span class="hover" title="issue">4</span>), 
		<span class="hover" title="page numbers">230&#45;240</span>. 
		doi:<span class="hover" title="Digital Object Identifier">12:3456789012</span>
	</div>
	<div class="ref-hang-indent">
		<span class="hover" title="Authors">Smith, A.</span> 
		(<span class="hover" title="Year of publication">2056</span>). 
		<span class="hover" title="Title of article">Leading by example.</span> 
		<em><span class="hover" title="Name of Publication">Management Research International</span>, 
		<span class="hover" title="volume">3</span></em>(<span class="hover" title="issue">4</span>), 
		<span class="hover" title="page numbers">45&#45;48</span>. 
		doi:<span class="hover" title="Digital Object Identifier">23:4567890123</span>
	</div>
	<div class="ref-hang-indent">
		<span class="hover" title="Authors">Smith, A., &amp; Brown, B. W.</span> 
		(<span class="hover" title="Year of publication">2056</span>a) &hellip;
	</div>
	<div class="ref-hang-indent">
		<span class="hover" title="Authors">Smith, A., &amp; Brown, B. W.</span> 
		(<span class="hover" title="Year of publication">2056</span>b) &hellip;
	</div>
	<div class="ref-hang-indent">
		<span class="hover" title="Authors">Smith, A., &amp; Chan, C.</span> 
		(<span class="hover" title="Year of publication">2056</span>) &hellip;
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
If the name of the author is included in the sentence, only the date is in parentheses.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2056a) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith &amp; Brown, 2056a) found that&hellip;
</blockquote>
<br>
If two or more sources are being cited for the same ideas or information, the author&#8217;s name(s) 
should appear only once and the works are identified by the publication dates and suffix.
<br>
<blockquote class="in-text-citation">
	Studies indicate that this is indeed the case (Smith &amp; Brown, 2056a, 2056b).
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2056a) observe that &#34;chocolate has grown in popularity with adolescents&#34; 
	(p. 34).
	<br>
	Alternatively: A recent study suggests that &#34;chocolate is growing in popularity with 
	adolescents&#34; (Smith &amp; Brown, 2056a, p. 34).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>