<h2>%%ReferenceStyle%%Journal article, three to five authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Authors. (Year of publication). Title of article. <em>Name of Publication, volume</em>(issue), 
	page numbers. doi:Digital Object Identifier (if assigned)
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Smith, A., Brown, B., &amp; Chan, C.</span> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<span class="hover" title="Title of article">Thinking critically in a whole new world</span>. 
	<em><span class="hover" title="Name of Publication">Language Learning in Higher Education</span>, 
	<span class="hover" title="volume">24</span></em>(<span class="hover" title="issue">1</span>), 
	<span class="hover" title="page numbers">67&#45;87</span>. 
	doi:<span class="hover" title="Digital Object Identifier">12:3456789012</span>
</blockquote>
<br>
Note: reference the source as an 
<a href="%%ICiteURL%%/3/1?width=800&amp;height=600" class="colorbox-node">
	Electronic Article, Library Database Article
</a> 
if it was accessed on&#45;line.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When a work has three, four or five authors, the authors must all be named the first time the 
work is cited but subsequently, only the surname of the first listed author is used followed 
by et al. (Note the full stop after et al.).
<br>
<br>
<strong>First citation</strong>
<br>
<blockquote class="in-text-citation">
	Smith, Brown and Chan (2056) found that&hellip;
	<br>
	Alternatively: A recent study (Smith, Brown &amp; Chan, 2056) found that&hellip;
</blockquote>
<br>
<strong>Subsequent citations</strong>
<br>
<blockquote class="in-text-citation">
	Smith et al. (2056) found that&hellip;
	<br>
	Alternatively: A recent study (Smith et al., 2056) found that&hellip;
</blockquote>
<br>
When the work is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith, Brown and Chan (2056) showed that&hellip; Smith et al. also found 
	that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith, Brown, and Chan (2056) observe that &#34;students were learning faster in groups&#34; (p. 92).
	<br>
	Alternatively: So generally, &#34;students were learning faster in groups&#34; 
	(Smith, Brown, &amp; Chan, 2056, p. 92).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>