<h2>%%ReferenceStyle%%Electronic article, library database article</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
An electronic article retrieved from an online source uses the same format as a printed journal 
article with either the addition of a Digital Object Identifier (DOI), or the URL of the journal 
homepage. The 
<a href="http://www.crossref.org/guestquery" title="CrossRef &#45; Look up DOIs" target="_blank" rel="noopener noreferrer" title="opens a new window">
	DOI resolver
</a>
can be used to find a DOI from the citation details if it is not given on the publication. When 
no DOI number is available, do a web search to locate the journal home page or give the exact URL 
if freely available on the Internet. If a journal is only available via an archive database e.g. 
a discontinued journal available from JSTOR, give the home page URL of the database.
<br>
<br>
<strong>Format for articles with a doi</strong>
<br>
<blockquote class="ref-hang-indent">
	Authors. (Publication date). Title of article. 
	<em>Title of Journal, volume number</em>(issue number), page numbers. Digital Object Identifier
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Bailey, N., Madden, C., &amp; Krashen, S.</span> 
	(<span class="hover" title="Publication date">1974</span>). 
	<span class="hover" title="Title of article">Is there a &#34;natural sequence&#34; in adult second language learning?</span> 
	<em><span class="hover" title="Title of Journal">Language Learning</span>, 
	<span class="hover" title="volume number">24</span></em>(<span class="hover" title="issue number">2</span>), 
	<span class="hover" title="page numbers">235&#45;243</span>. 
	<span class="hover" title="Digital Object Identifier">http://dx.doi.org/10.1111/j.1467&#45;1770.1974.tb00505.x</span>
</blockquote>
<br>
When the URL is not included as part of the doi, use &#8216;doi:&#8217; as a prefix:
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Smith, A., &amp; Brown, B.</span> 
	(<span class="hover" title="Publication date">2056</span>). 
	<span class="hover" title="Title of article">Dining out: A history of restaurant eating in Australia</span>. 
	<em><span class="hover" title="Title of Journal">Journal of Australian Historical Research</span>, 
	<span class="hover" title="volume number">3</span></em>(<span class="hover" title="issue number">5</span>), 
	<span class="hover" title="page numbers">110&#45;123</span>. 
	doi:<span class="hover" title="Digital Object Identifier">10.1108/13522750710740855</span>
</blockquote>
<br>
If there is no DOI assigned, use the URL of the homepage for the journal.
<br>
<br>
<strong>Format for articles with no doi</strong>
<br>
<blockquote class="ref-hang-indent">
	Authors. (Publication date). Title of article. <em>Title of Journal, volume number</em>
	(issue number), page numbers. Retrieved from URL of journal homepage
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Smith, A., &amp; Brown, B.</span> 
	(<span class="hover" title="Publication date">2056</span>). 
	<span class="hover" title="Title of article">Glamorizing domesticity: Narratives of marriage and motherhood in Desperate Housewives</span>. 
	<em><span class="hover" title="Title of Journal">Journal of Media Studies</span>, 
	<span class="hover" title="volume number">25</span></em>(<span class="hover" title="issue number">4</span>), 
	<span class="hover" title="page numbers">110&#45;123</span>. 
	Retrieved from 
	<span class="hover" title="URL of journal homepage">http://www.jms.edu.pk/<span>
</blockquote>
<br>
<br>
<strong>Format for articles freely available on the Internet</strong>
<br>
<br>
When an article is freely available on the Internet and if the URL is stable provide the direct 
URL in the reference.
<br>
<blockquote class="ref-hang-indent">
	Author. (Publication date). Title of article. <em>Title of Website</em>. Retrieved from URL of 
	article on the Internet
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Cooper, D</span>. 
	(<span class="hover" title="Publication date">2009, March 31</span>). 
	<span class="hover" title="Title of article">Native ant may stop toad in its tracks</span>. 
	<em><span class="hover" title="Title of Website">ABC Science</span></em>. 
	Retrieved from <span class="hover" title="Retrieved from URL of article on the Internet">http://www.abc.net.au/science/articles/2009/03/31/2530686.htm?site=science&amp;topic=latest</span>
</blockquote>
<br>
<br>
<strong>Format for articles from archived database</strong>
<br>
<br>
<blockquote class="ref-hang-indent">
	Author. (Publication date). Title of article. <em>Title of Journal</em>. Retrieved from URL of 
	database home page
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Ramaley, R</span>. 
	(<span class="hover" title="Publication date">1916</span>). 
	<span class="hover" title="Title of article">Mushroom fairy rings of Tricholoma Praemagnum</span>. 
	<em><span class="hover" title="Title of Journal">Torreya</span></em>. 
	16(9) 193&#45;196. 
	Retrieved <span class="hover" title="Retrieved from URL of database home page">from http://www.jstor.org</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2056) found that&hellip;
	<br>
	Alternatively: Recent research (Smith &amp; Brown, 2056) supports this view&hellip;
</blockquote>
<br>
When the authors are referred to more than once in the same paragraph do not include the date 
in subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith and Brown (2056) showed that&hellip; Smith and Brown also found 
	that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2056) suggest that &#34;the restaurant industry is on the decline&#34; (p. 111).
	<br>
	Alternatively: It was suggested that &#34;the restaurant industry is on the decline&#34; 
	(Smith &amp; Brown, 2056, p. 111).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
