<h2>%%ReferenceStyle%%Electronic article, Internet journal article</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
An Internet journal article is an article located on a web site and not published in print or available 
from a database. Note that there is no full stop after a URL in reference list entries.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Authors. (Publication date). Title of article. 
	<em>Title of Journal, volume number</em>(issue number), page numbers. Retrieved from 
	URL of journal home page
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Smith, A., &amp; Brown, B.</span> 
	(<span class="hover" title="Publication date">2056</span>). 
	<span class="hover" title="Title of article">Dining out: A history of restaurant eating in New Zealand</span>.&nbsp;
	<em><span class="hover" title="Title of Journal">Journal of the Royal Australian Historial Society</span>, 
	<span class="hover" title="volume number">3</span></em>(<span class="hover" title="issue number">5</span>), 
	<span class="hover" title="page numbers">110&#45;123</span>. Retrieved from 
	<span class="hover" title="URL of journal home page">http://www.rahs.org.au/publications/rahs&#45;journal/</span>
</blockquote>
<br>
If the content being cited is likely to change over time, e.g. an article in progress, also include 
a retrieval date. Check whether the final, peer reviewed article has been made available just 
prior to the release of your own work.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Authors">Chan, C.</span> 
	(<span class="hover" title="Publication date">2056</span>). 
	<span class="hover" title="Title of article">Calming the waters: An historical account of New Zealand&#8217;s right to protest at sea</span>. 
	<em><span class="hover" title="Title of Journal">Journal of the Royal Australian Historial Society</span>, 
	<span class="hover" title="volume number">3</span></em>(<span class="hover" title="issue number">15</span>), 
	<span class="hover" title="page numbers">10&#45;13</span>.&nbsp;
	Retrieved&nbsp;<span class="hover" title="retrieval date">October 13, 2057</span>, from 
	<span class="hover" title="URL of journal home page">http://www.rahs.org.au/publications/rahs&#45;journal/</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2056) found that&hellip;
	<br>
	Alternatively: Recent research (Smith &amp; Brown, 2056) supports this view&hellip;
</blockquote>
<br>
When the authors are referred to more than once in the same paragraph do not include the date 
in subsequent references, as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith and Brown (2056) showed that&hellip; Smith and Brown also found 
	that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2056) suggest that &#34;the restaurant industry is on the decline&#34; (p. 111).
	<br>
	Alternatively: It was suggested that &#34;the restaurant industry is on the decline&#34; 
	(Smith &amp; Brown, 2056, p. 111).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>