<h2>%%ReferenceStyle%%Electronic source, Web page &#45; no author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Title of page. (Publication date). Retrieved from URL.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Title of page">Swim with whales: An unforgettable wildlife encounter</span>. 
	(<span class="hover" title="Publication date">2056</span>). 
	Retrieved from <span class="hover" title="URL">http://en.whales.org/encounters/big_whales</span>
</blockquote>
<br>
Note: this example differs from referencing an 
<a href="%%ICiteURL%%/3/2?width=800&amp;height=600" class="colorbox-node">
	Internet journal article
</a>.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When citing a work that has no author, use the first few words of the reference list entry, usually 
a short version of the title.
<br>
<blockquote class="in-text-citation">
	<em>Swim with Whales</em> (2056) suggests that&hellip;
	<br>
	Alternatively: &hellip;are among the activities (<em>Swim with Whales</em>, 2056).
</blockquote>
<br>
If you are making a direct quotation, use quotation marks.
<br>
<blockquote class="in-text-citation">
	<em>Swim with Whales</em> (2056) observed that &#34;Australian Orca whales are largely unaffected&#34;.
	<br>
	Alternatively: Fortunately, &#34;Australian Orca whales are largely unaffected&#34; 
	(<em>Swim with Whales</em>, 2056).
</blockquote>
<br>
If you wish to cite an <strong>entire website</strong> it is not necessary to include the website 
in your Reference List. Just add the URL for the site in text.
<br>
<blockquote class="in-text-citation">
	Workcover is a useful work health and safety website for information and documents about 
	addiction (http://www.workcover.nsw.gov.au/newlegislation2012/Pages/default.aspx)
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>