<h2>%%ReferenceStyle%%Electronic source, Web page &#45; quotation</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
<strong>Format</strong>
<br>
Works are referenced in the reference list using the standard form.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
For direct quotations, where page numbers are not available, use a paragraph number, a section 
heading, or just quotation marks (the exact position of the quotation can be found by typing the 
exact phrase into the search function on the website).
<br>
<br>
<strong>Paragraph numbers</strong>
<br>
<blockquote class="in-text-citation">
	&#34;Restaurant dining was an important aspect of tourism in nineteenth century Australia&#34; 
	(Smith &amp; Brown, 2056, para. 5).
</blockquote>
<br>
<strong>Section headings provided</strong>
<br>
<blockquote class="in-text-citation">
	&#34;Restaurant dining was an important aspect of tourism in nineteenth century Australia&#34; 
	(Smith &amp; Brown, 2056, Background section, para. 5).
</blockquote>
<br>
<strong>Quotation marks only</strong>
<br>
<blockquote class="in-text-citation">
	&#34;Restaurant dining was an important aspect of tourism in nineteenth century Australia&#34; 
	(Smith &amp; Brown, 2056).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>