<h2>%%ReferenceStyle%%Electronic source, Web page &#45; created by organisation</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Do not italicize the titles of blog posts, online forums messages, comments, status updates, etc.<br> 
Italicize titles of reports and other documents that stand alone.<br> 
If the distinction is unclear err on the side of not italicizing.<br> 
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Organisation. (Publication date). Title of web page. Retrieved from URL
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Organisation">The Turning Page Bookshop</span>. 
	(<span class="hover" title="Publication date">2056</span>). 
	<span class="hover" title="Title of web page">Business profile</span>.  
	Retrieved from <span class="hover" title="URL">http://www.theturningpagebookshop.com.au/</span>
</blockquote>
<br>
Note: this example differs from referencing an 
<a href="%%ICiteURL%%/3/2?width=800&amp;height=600" class="colorbox-node">
	Electronic Article, Internet Journal Article
</a>.
<br>
For more information on referencing websites see the <a href='http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA5196906240001571'>APA guide to electronic 
References</a>.
<br> 
See also the online APA style blog entry: <a href='http://blog.apastyle.org/apastyle/2010/11/how-to-cite-something-you-found-on-a-website-in-apa-style.html'>How to cite something you found on a website in APA Style</a>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Use the organisation&#8217;s name as the author name (organisations include private companies, 
government agencies and institutions).
<br>
<blockquote class="in-text-citation">
	The Turning Page Bookshop (2056) explains that&hellip;
	<br>
	Alternatively: &hellip;outlined in their business profile (The Turning Page Bookshop, 2056).
</blockquote>
<br>
Where it is possible to abbreviate the organisation&#8217;s name, in the first citation write the 
organisation name in full, including the abbreviation in square brackets. After that, use 
the abbreviation.
<br>
<strong>First in&#45;text citation</strong>
<br>
<blockquote class="in-text-citation">
	&hellip;as a recent study has shown (Department of Education, Employment and Workplace Relations
	[DEEWR], 2056).
</blockquote>
<br>
<strong>Subsequent in&#45;text citations</strong>
<br>
<blockquote class="in-text-citation">
	&hellip;as recent evidence suggests (DEEWR, 2056).
</blockquote>
<br>
The name of the University of Western Sydney should be written out in full.
<br>
<strong>All text citations</strong>
<br>
<blockquote class="in-text-citation">
	(The University of Western Sydney, 2056)
</blockquote>
<br>
If you are making a direct quotation, use quotation marks.
<br>
<blockquote class="in-text-citation">
	The Department of Education, Employment and Workplace Relations [DEEWR] (2056) reports that 
	&#34;government funding has been reduced by 15%&#34;.
	<br>
	Alternatively: As a result, &#34;government funding has been reduced by 15%&#34; 
	(Department of Education, Employment and Workplace Relations [DEEWR], 2056).
</blockquote>
<br>
If you wish to cite an <strong>entire website</strong> it is not necessary to include the website 
in your Reference List. Just add the URL for the site in text.
<br>
<blockquote class="in-text-citation">
	Workcover is a useful work health and safety website for information and documents about 
	addiction (http://www.workcover.nsw.gov.au/newlegislation2012/Pages/default.aspx)
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>