<h2>%%ReferenceStyle%%Electronic source, Web page &#45; no publication date</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author. (n.d.). Title of page. Retrieved from URL
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Smith, A.</span> (n.d.). 
	<span class="hover" title="Title of page">Australian composers</span>. 
	Retrieved from <span class="hover" title="URL">http://australia.gov.au/about&#45;australia/australian-story/austn&#45;composers</span>
</blockquote>
<br>
Note: this example differs from referencing an 
<a href="%%ICiteURL%%/3/2?width=800&amp;height=600" class="colorbox-node">
	Electronic Article, Internet Journal Article
</a>.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Use (n.d.) when the publication date is not available.
<br>
<blockquote class="in-text-citation">
	Smith (n.d.) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith, n.d.) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph, do not include &#8216;n.d.&#8217; 
in subsequent references as long as the work cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith (n.d.) showed that&hellip; Smith also found that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks.
<br>
<blockquote class="in-text-citation">
	Smith (n.d.) observed that &#34;Australian composers are being recognised on the international 
	stage&#34;.
	<br>
	Alternatively: In recent times, &#34;Australian composers are being recognised on the 
	international stage&#34; (Smith, n.d.).
</blockquote>
<br>
If you wish to cite an <strong>entire website</strong> it is not necessary to include the website 
in your Reference List. Just add the URL for the site in text.
<br>
<blockquote class="in-text-citation">
	Workcover is a useful work health and safety website for information and documents about 
	addiction (http://www.workcover.nsw.gov.au/newlegislation2012/Pages/default.aspx)
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>