<h2>%%ReferenceStyle%%Electronic source, Social media</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Note: this example specifies the method of referencing posts to social networks such as Twitter, 
Facebook, blogs etc. The title of the post is not italicised.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author(s). (Publication date). Title of post [Format description]. Retrieved from URL
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author(s)">NHS Evidence.</span> 
	(<span class="hover" title="Publication date">2011, February 26</span>). 
	<span class="hover" title="Title of post">NHS Evidence consults on revised accreditation process manual. http://bit.ly/fPyVXQ</span> 
	[<span class="hover" title="Format description">Twitter post</span>]. 
	Retrieved from 
	<span class="hover" title="URL">http://twitter.com/NHS_Evidence</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	NHS Evidence (2011) indicated that&hellip;
	<br>
	Alternatively: A recent study (NHS Evidence, 2011) showed that&hellip;
</blockquote>
<br>
When the source is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the study cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, NHS Evidence (2011) showed that&hellip; NHS Evidence also found 
	that&hellip;
</blockquote>
<br>
If you are making a direct quotation, use quotation marks.
<br>
<blockquote class="in-text-citation">
	NHS Evidence (2011) suggested that &#34;patients are being discharged in error&#34;.
	<br>
	Alternatively: Consequently, &#34;patients are being discharged in error&#34; (NHS Evidence, 2011).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>