<h2>%%ReferenceStyle%%Conference paper, unpublished</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Note: The title is capitalised here because it reproduces the title of the host organisation for 
the conference. Normally, in the titles of books of proceedings, only the first word is capitalised.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author(s). (Publication date). <em>Title of paper</em>. Paper presented at the Name of Conference, 
	location.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Publication date">2056, January</span>). 
	<em><span class="hover" title="Title of paper">Appalachian mountain clog dancing</span></em>. 
	Paper presented at the <span class="hover" title="Name of conference">Society of Ethnomusicology and Dance Conference</span>, 
	<span class="hover" title="location">Parramatta, Australia</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2056) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith, 2056) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the study cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith (2056) showed that&hellip; Smith also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>