<h2>%%ReferenceStyle%%Conference paper, published</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Note: The title is capitalised here because it reproduces the title of the host organisation for 
the conference. Normally, in the titles of books of proceedings, only the first word is capitalised.
<br>
<br>
<strong>Format (book or CD)</strong>
<br>
If the conference paper is available in a book or on a CD, the format for referencing an edited book 
with chapters by different authors is used.
<br>
<blockquote class="ref-hang-indent">
	Author(s) of paper/chapter. (Year of publication). Title of paper/chapter. In Name(s) of 
	editor(s) [place initials first] (Ed[s].), <em>Title of proceedings</em> 
	(pages of the chapter referred to). Place of publication: Publisher.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author(s)">Smith, A.</span> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<span class="hover" title="Title of paper/chapter">Appalachian mountain clog dancing</span>. In 
	<span class="hover" title="Name(s) of editor(s)">B. A. Brown</span> (Ed.), 
	<em><span class="hover" title="Title of proceedings">Proceedings of the Society of Ethnomusicology and Dance</span></em> 
	(<span class="hover" title="pages of the chapter referred to">pp. 123&#45;147</span>). 
	<span class="hover" title="Place of publication">Parramatta, Australia</span>: 
	<span class="hover" title="Publisher">Society of Ethnomusicology and Dance</span>.
</blockquote>
<br>
<strong>Format (regularly published proceedings)</strong>
<br>
If the conference paper is available in a regularly published proceedings, the format of a journal 
is used.
<br>
<blockquote class="ref-hang-indent">
	Author(s) of paper/chapter. (Year of publication). Title of paper/chapter. In Name(s) of 
	Editor(s) [place initials first] (Ed[s].), <em>Title of proceedings</em>, volume 
	(pages of the paper/chapter referred to). Place of publication: Publisher. 
	doi:Digital Object Identifier
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author(s)">Smith, A.</span> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<span class="hover" title="Title of paper/chapter">Appalachian mountain clog dancing</span>. In 
	<span class="hover" title="Name(s) of editor(s)">B. A. Brown</span> (Ed.), 
	<em><span class="hover" title="Title of proceedings">Proceedings of the Society of Ethnomusicology and Dance Conference</span>, 
	<span class="hover" title="volume">10</span></em>(<span class="hover" title="pages of the chapter referred to">123&#45;147</span>). 
	<span class="hover" title="Place of publication">Parramatta, Australia</span>: 
	<span class="hover" title="Publisher">Society of Ethnomusicology and Dance</span>. 
	doi:<span class="hover" title="Digital Object Identifier">10.1108/13522750710740855</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2056) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith, 2056) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph do not include the date 
in subsequent references, as long as the study cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith (2056) showed that&hellip; Smith also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>