<h2>%%ReferenceStyle%%Report, online</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Organisation. (Year of publication). <em>Title of report</em> (Report No. or additional 
	information about report) [Description of form]. Place of publication: Author. Retrieved 
	from URL
</blockquote>
<br>
<strong>Example</strong>
<br>
When the publisher is the author, use the word &#34;Author&#34; in place of a publisher&#8217;s name.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Organisation">The Turning Page Bookshop</span>. 
	(<span class="hover" title="Year of publication">2056</span>). 
	<em><span class="hover" title="Title of report">2055 Annual report</span></em>. 
	<span class="hover" title="Place of publication">Parramatta, Australia</span>: Author. 
	Retrieved from <span class="hover" title="URL">http://www.theturningpagebookshop.com.au/annualreports/2055.html</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	The Turning Page Bookshop (2056) indicated that&hellip;
	<br>
	Alternatively: A recent report (The Turning Page Bookshop, 2056) indicated that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the study cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent report, The Turning Page Bookshop (2056) showed&hellip; The Turning Page Bookshop also 
	reported&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>