<h2>%%ReferenceStyle%%Government report, online</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author. (Year of publication). <em>Title of report</em> (Report No). 
	Name of Government Department if not the author. Retrieved from URL.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Department of Health and Ageing</span>. 
	(<span class="hover" title="Year of publication">2008</span>). 
	<em><span class="hover" title="Title of report">Ageing and aged care in Australia</span></em> 
	(<span class="hover" title="Report No.">Publication No. P3&#45;4147</span>). 
	Retrieved from <span class="hover" title="Retrieved from URL">http://www.health.gov.au/internet<br>/main/publishing.nsf/Content/BFE46F21A3241ECBCA2574BE001A6E06/$File<br>/Ageing_and_Aged_Care.pdf</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	A recent report by the Department of Health and Ageing (2008) indicated that&hellip;
	<br>
	Alternatively: A recent report (Department of Health and Ageing, 2008) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph, do not include the date in 
subsequent references, as long as the study cannot be confused with others cited. If you provide the 
abbreviation the first time you can use it instead of the full name subsequently.
<br>
<blockquote class="in-text-citation">
	In a recent report the Department of Health and Ageing (DEHA) (2008) showed&hellip; DEHA also reported&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>