<h2>%%ReferenceStyle%%Government report, print</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author. (Year of publication). <em>Title of report</em> (Report No. or additional information 
	about report). Place of publication: Government 
	Department.
</blockquote>
<br>
<strong>Examples</strong>
<br>
To eliminate ambiguity between other forms of report, add a description within square brackets
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Smith, G. P.</span> 
	(<span class="hover" title="Year of publication">2056</span>). 
	<em><span class="hover" title="Title of report">Improving outcomes in early childhood education</span></em> 
	(<span class="hover" title="Report No. or additional information about report">Publication No. P3&#45;2055</span>). 
	<span class="hover" title="Place of publication">Parramatta, Australia</span>: 
	<span class="hover" title="Government Department">Department of Education, Employment and Workplace Relations</span>.
</blockquote>
<br>
When the publisher is the author, use the word &#34;Author&#34; in place of a publisher&#8217;s name.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Government department">Department of Education, Employment and Workplace Relations</span>. 
	(<span class="hover" title="Year of publication">2056</span>). 
	<em><span class="hover" title="Title of report">2055 Annual report</span></em>. 
	<span class="hover" title="Place of publication">Parramatta, Australia</span>: Author.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2056) indicated that&hellip;
	<br>
	Alternatively: A recent report (Smith, 2056) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the study cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent report, Smith (2056) showed&hellip; Smith also reported&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>