<h2>%%ReferenceStyle%%Thesis or dissertation</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author (Publication date). <em>Title of thesis</em> (Thesis type). University, Location.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Publication date">2056</span>). 
	<em><span class="hover" title="Title of thesis">The influence of bible studies on Australian primary school children, 1945&#45;1982</span></em> 
	(<span class="hover" title="Thesis type">Unpublished master&#8217;s thesis</span>). 
	<span class="hover" title="University">University of Western Sydney</span>, 
	<span class="hover" title="Location">Parramatta, Australia</span>.
</blockquote>
<br>
If the thesis is available in electronic format, add the URL from which it was retrieved 
(note the different arrangement of the parentheses).
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Publication date">2056</span>). 
	<em><span class="hover" title="Title of thesis">The influence of bible studies on Australian primary school children, 1945&#45;1982</span></em> 
	(<span class="hover" title="Thesis type">Unpublished master&#8217;s thesis</span>, 
	<span class="hover" title="University">University of Western Sydney</span>, 
	<span class="hover" title="Location">Parramatta, Australia</span>). 
	Retrieved from <span class="hover" title="URL">http://hdl.handle.net/123/abc</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2056) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith, 2056) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once in the same paragraph do not include the date in 
subsequent references, as long as the study cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith (2056) showed that&hellip; Smith also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>