<h2>%%ReferenceStyle%%Film or video recording</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Producer(s). (Publication date). <em>Title of work</em> [Medium of publication]. Country of 
	origin: Studio.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Producer(s)">Jones, A. (Producer), &amp; Smith, A. (Director)</span>. 
	(<span class="hover" title="Publication date">2056</span>). 
	<em><span class="hover" title="Title of work">Outside the lines</span></em> 
	[<span class="hover" title="Medium of publication">Motion picture</span>]. 
	<span class="hover" title="Country of origin">Parramatta, Australia</span>: 
	<span class="hover" title="Studio">Upbeat Pictures</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Jones and Smith (2056) indicated that&hellip;
	<br>
	Alternatively: A recent study (Jones &amp; Smith, 2056) showed that&hellip;
</blockquote>
<br>
When the producer is referred to more than once in the same paragraph do not include the date 
in subsequent references, as long as the study cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Jones &amp; Smith (2056) showed that&hellip; Jones &amp; Smith 
	also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>