<h2>%%ReferenceStyle%%Radio or TV broadcast</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Producer(s). (Broadcast date). Title of broadcast [Medium of publication]. In 
	Producer, Title of program/series. Country of broadcast: Network.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Producer(s)">Tennant, D. (Narrator)</span>. 
	(<span class="hover" title="Broadcast date">2013, April 14</span>). 
	<span class="hover" title="Title of broadcast">Flying high</span> 
	[<span class="hover" title="Medium of publication">Television documentary</span>]. 
	In <span class="hover" title="Producer">J. Downer</span>, 
	<em><span class="hover" title="Title of program/series">Earthflight</span></em>. 
	<span class="hover" title="Country of broadcast">Parramatta, Australia</span>: 
	<span class="hover" title="Network">Prime Television</span>.
</blockquote>
<br>
If you accessed the recording online, add the website address.
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Producer(s)">Curran, J. (Producer), &amp; Offwood, C., &amp; Backlund, B. (Directors)</span>. 
	(<span class="hover" title="Broadcast date">2012, Jan. 17</span>). 
	<em><span class="hover" title="Title of broadcast">Primeval Australia</span></em> 
	[<span class="hover" title="Medium of publication">Television documentary</span>]. 
	<span class="hover" title="Country of broadcast">Parramatta, Australia</span>: 
	<span class="hover" title="Network">TVOZ Ondemand</span>. 
	Retrieved from <span class="hover" title="URL">http://tvoz.com.au</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Tennant (2013) observed that&hellip;
	<br>
	Alternatively: A recent observation (Tennant, 2013) showed that&hellip;
</blockquote>
<br>
When the producer is referred to more than once in the same paragraph do not include the date 
in subsequent references, as long as the study cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	In a recent study, Tennant (2013) showed that&hellip; Tennant also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>