<h2>%%ReferenceStyle%%Image from the web</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author/artist(s). (Publication date). <em>Title of work</em> [Medium of publication]. 
	Retrieved from URL.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author/artist(s)">McKenna, D</span>. 
	(<span class="hover" title="Publication date">2056</span>). 
	<em><span class="hover" title="Title of work">Birds at dawn</span></em> 
	[<span class="hover" title="Medium of publication">Photograph</span>]. 
	Retrieved from <span class="hover" title="Retrieved from URL">http://commons.wikimedia.org</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Provide an italicised numbered caption immediately underneath your image. Include a description 
or title of the image, plus the author and date in parentheses.
<br>
<blockquote class="in-text-citation">
	<em>Figure 1</em>: Birds at dawn (Source: McKenna, D. 2056)
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>