<h2>%%ReferenceStyle%%Statistics and numeric data</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Origin of data. (abbreviation for &#8216;no date&#8217;). <em>Title of data set</em> 
	[Data file, descriptive information]. Date of retrieval, 
	from Retrieved from.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Origin of data">Statistics Australia</span>. 
	(<span class="hover" title="abbreviation for &#8216;no date&#8217;">n.d.</span>). 
	<em><span class="hover" title="Title of data set">Statistics for ethnic group by age</span></em> 
	[Data file, <span class="hover" title="descriptive information">Ethnic group, by age, 2006 Census</span>]. 
	Retrieved <span class="hover" title="Date of retrieval">April 4, 2011</span>,&nbsp;
	from <span class="hover" title="Retrieved from">Table Builder http://www.stats.gov.au/tools_and_services/tools/tablebuilder.aspx</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Statistics Australia (n.d.) indicated that&hellip;
	<br>
	Alternatively: A recent study (Statistics Australia, n.d.) showed that&hellip;
</blockquote>
<br>
When the data set is referred to more than once in the same paragraph do not include n.d. in 
subsequent references, as long as the study cannot be confused with others cited.
<br>
<br>
<blockquote class="in-text-citation">
	In a recent study, Statistics Australia (n.d.) showed that&hellip; Statistics 
	Australia also found that1&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>