<h2>%%ReferenceStyle%%Lecture or lecture notes online</h2>
<hr>
<br>
It is better to do the research and refer back to the original source yourself. Ask the lecturer 
for a reference list for their lecture if necessary.
<br>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Author. (Date). <em>Title of lecture: Unit number Unit name</em>. [Video file or Lecture notes]. 
	Retrieved from https://vuws.uws.edu.au/
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Date">2056, May 31</span>). 
	<em><span class="hover" title="Title of lecture">A model of nursing care</span></em>:
	<em><span class="hover" title="Unit number Unit name">401025 Primary health care</span></em>.
	[<span class="hover" title="Video file or Lecture notes">Video file</span>].
	Retrieved from <span class="hover" title="Retrieved from">https://vuws.uws.edu.au/</span>
</blockquote>
<br>
Note: If there is no individual author use University Western Sydney as a corporate author.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2056) suggests&hellip;
	<br>
	Alternatively: &hellip;to all participants (Smith, 2056).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>