<h2>%%ReferenceStyle%%Patent</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Inventor(s). (Issue date). <em>Patent number</em>. Source.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Inventor">Smith, A.</span> 
	(<span class="hover" title="Issue date">2056</span>). 
	<em><span class="hover" title="Patent number">Patent No. 123,456</span></em>. 
	<span class="hover" title="Source">Washington, DC: U.S. Patent and Trademark Office</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	U.S. Patent No. 123,456 (2056) provides a new design&hellip;
	<br>
	Alternatively: A recent design (U.S. Patent No. 123,456, 2056) enables&hellip;
</blockquote>
<br>
When the patent is referred to more than once in the same paragraph do not include the date 
in subsequent references, as long as the patent cannot be confused with others cited.
<br>
<blockquote class="in-text-citation">
	A recent design, U.S. Patent No. 123,456 (2056) enables&hellip; However, 
	U.S. Patent No. 123,456 does not&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>