<h2>%%ReferenceStyle%%Lecture (unpublished) / personal communication</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
References to something someone said need an in&#45;text citation, but do not appear in your 
reference list because they cannot be retrieved by anyone else. When you cite information spoken 
about in a lecture that has gone unpublished, it is treated as a personal communication and you 
do not need to provide a reference list entry because there is no recoverable data. All details 
are provided in the text. It is advisable to consider using published primary sources before using 
class/lecture notes as references in your paper.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Give the initials and surname of the communicator and be as precise as you can with the date.
<br>
<br>
<strong>Source: email message from Professor Alan Smith</strong>
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="in-text-citation">
	A. Smith (personal communication, August 15, 2056) believes that the risks are greater before dawn.
	<br>
	Alternatively: The risks are greater before dawn (A. Smith, personal communication, 
	August 15, 2056).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>