<h2>%%ReferenceStyle%%Podcast (from the Internet)</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<br>
Make sure the Name of Sponsor or Segment has capitalisation for the first letter of each word, with all 
others in lower case, and is italicised.
<br>
<br>
<blockquote class="ref-hang-indent">
	Reporter&#8217;s Surname, Initial. (Reporter) (Year, month day). Title of podcast [Audio podcast]. 
	<em>Name of Sponsor or Segment</em>. Retrieved from: URL address
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent">
	<span class="hover" title="Reporter&#8217;s Surname">Atkin</span>,
	<span class="hover" title="Initial">M</span>. (Reporter).
	(<span class="hover" title="Year, month day">2008, November 13</span>). 
	<span class="hover" title="Title of podcast">Bermagui forest disputed turf</span> [Audio podcast].
	<em><span class="hover" title="Name of Sponsor or Segment">The Hack Half Hour</span></em>.
	Retrieved from <span class="hover" title="Retrieved from">http://www.abc.net.au/triplej/hack/notes/</span>
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Atkin (2008) found that&hellip;
	<br>
	Alternatively: It was found&hellip;(Atkin, 2008).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>