<hr>
<br>
<span class="smaller">
	This guide is based on the publication
	<a href="http://west-sydney-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlDisplay.do?docId=UWS-ALMA2170754590001571&vid=UWS-ALMA" target="_blank" rel="noopener noreferrer" title="opens a new window">
		Manual of the American Psychological Association (6th edition)
	</a>.
	<br>
	For further support, consult the manual directly.
</span>
<div class="clear"></div>
