<!-- <br>
<br>
<div class="no-print" style="text-align: right;">
	<a href="javascript:window.print()">
		Print this page
	</a>
</div>
<br> -->
<br>
<div style="text-align: center;" id="list">
	<strong>Reference List</strong>
</div>
<br>
<br>
<div class="ref-hang-indent">
	Aoyama, A., Brown, B., &amp; Chan, C. (2056). Thinking critically in a whole new world. 
	<em>Language Learning in Higher Education, 24</em>(1), 67&#45;87. doi:12:3456789012
</div>
<br>
<div class="ref-hang-indent">
	Atkin, M. (Reporter). (2008, November 13). Bermagui forest disputed turf [Audio podcast]. 
	<em>The Hack Half Hour</em>. Retrieved from http://www.abc.net.au/triplej/hack/notes/
</div>
<br>
<div class="ref-hang-indent">
	Bailey, N., Madden, C., &amp; Krashen, S. (1974). Is there a &#34;natural sequence&#34; in 
	adult second language learning? <em>Language Learning</em>, 
	24(2), 235&#45;243.http://dx.doi.org/10.1111/j.1467&#45;1770.1974.tb00505.x
</div>
<br>
<div class="ref-hang-indent">
	Cooper, D. (2009, March 31). Native ant may stop toad in its tracks. <em>ABC Science</em>. 
	Retrieved from 
	http://www.abc.net.au/science/articles/2009/03/31/2530686.htm?site=science&amp;topic=latest
</div>
<br>
<div class="ref-hang-indent">
	Fortune, A. (2056). High speed compression for music downloads. 
	<em>Journal of Internet Engineering, 10</em>(2), 154&#45;165. doi:23:4567890123
</div>
<br>
<div class="ref-hang-indent">
	Hong Kong braces for protests. (2056, December 15). <em>Melbourne Herald</em>, p.A5.
</div>
<br>
<div class="ref-hang-indent">
	<em>Illustrated dictionary of medical and health sciences</em>. (2056). 
	Cambridge, England: Crosby&#45;Williams.
</div>
<br>
<div class="ref-hang-indent">
	Larsen, A., Brown, B., Chan, C., Williams, D., Tahatai, M., &amp; Singh, R. (2056). 
	<em>The decline and fall of the modern generation</em>. Parramatta, Australia: New Media Press.
</div>
<br>
<div class="ref-hang-indent">
	Mozart, A., &amp; Brown, B. (2056). Glamorizing domesticity: Narratives of marriage and 
	motherhood in Desperate Housewives. <em>Journal of Media Studies, 25</em>(1), 110&#45;123. 
	Retrieved from http://www.jms.edu.pk/
</div>
<br>
<div class="ref-hang-indent">
	O&#8217;Carroll, A., &amp; Brown, B. (2056). A battle from the beginning: The life and times of 
	a heavyweight champion. <em>Sport and Fitness, 14</em>(2), 25&#45;37.
</div>
<br>
<div class="ref-hang-indent">
	Otto, A., &amp; Brown, B. (2056). 
	<em>Sustainability in practice: Overcoming energy challenges in the 21st century</em>. 
	Vancouver, Canada: Northwoods Press.
</div>
<br>
<div class="ref-hang-indent">
	Reading, A. (2056, December 15). Something went wrong in plane crash, experts say. 
	<em>Herald Tribune</em>, p. A5.
</div>
<br>
<div class="ref-hang-indent">
	Rimu Kura, A. R. (2056). <em>Teaching and learning in higher education</em>. 
	Parramatta, Australia: University Books.
</div>
<br>
<div class="ref-hang-indent">
	Russell, A. (n.d.). <em>Twentieth century Australian composers</em>. 
	Retrieved from http://australia.gov.au/about-australia/australian-story/austn-composers
</div>
<br>
<div class="ref-hang-indent">
	Smith, A. (2056, January). Appalachian mountain clog dancing. Paper presented at the 
	Society of Ethnomusicology and Dance Conference, Victoria, Canada. Retrieved from 
	http://www.sed.org/conf2056/agathasmith.html
</div>
<br>
<div class="ref-hang-indent">
	Smith, A. (2056a). <em>Exploring nanoscale science</em>. San Francisco, CA: Beck.
</div>
<br>
<div class="ref-hang-indent">
	Smith, A. (2056b). Synthetic reactions and strategies. In B. A. Brown (Ed.), 
	<em>Principles of organic chemistry</em> (pp. 123&#45;147). Washington, DC: Wilton.
</div>
<br>
<div class="ref-hang-indent">
	Smith, A. B. (2050). Teaming with wildlife: Promoting team development through volunteer 
	service at Taronga Zoo. <em>Australian Business Review, 17</em>(4), 230&#45;240.
</div>
<br>
<div class="ref-hang-indent">
	Smith, A., &amp; Brown, B. (2056). Glamorizing domesticity: Narratives of marriage and 
	motherhood in Desperate Housewives. Journal of Media Studies, 25(4), 110&#45;123. Retrieved 
	from http://www.jms.edu.pk/
</div>
<br>
<div class="ref-hang-indent">
	Taylor, A. (Producer), &amp; Noamunga, B. (Director). (2056). <em>Outside the lines</em> 
	[Motion Picture]. Australia: Upbeat Pictures.
</div>
<br>
<div class="ref-hang-indent">
	The Turning Page Bookshop (2056). <em>Business profile</em>. Retrieved from 
	http://www.theturningpagebookshop.com.au/
</div>
<br>
<div class="ref-hang-indent">
	The Whale Swimmer. (2056). Retrieved from http://en.hikipedia.org/wiki/Whale_Swimmer
</div>
<br>
<div class="ref-hang-indent">
	Van der Linden, A., Brown, B., Chan, C., Williams, D., Tahatai, M., &amp; Singh, R. (2056). 
	Uneven muscle mass growth patterns in extreme athletes. 
	<em>Asia&#45;Pacific Journal of Injury Prevention, 8</em>(4), 356&#45;387. doi:45:6789012345
</div>
<br>
<div class="ref-hang-indent">
	Wilson, A., &amp; Brown, B. (2056). Dining out: A history of restaurant eating in Australia. 
	<em>Journal of Royaly Australian Historial Society, 3</em>(5), 110&#45;123. Retrieved from 
	http://www.rahs.org.au/publications/rahs-journal/
</div>
<br>
<br>