<h2>%%ReferenceStyle%%Book, classical author</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
References to classical authors normally appear only in footnotes or in&#45;text citations. Include them in the bibliography only if a specific modern translation is important or if different translations are being used.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<em>Title of Book</em>. Translated by Translator&#8217;s given name and surname. Place of publication:	Publisher, year of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<em><span class="hover" title="Title of Book">Beowulf</span></em>. 
	<span class="hover" title="Translator&#8217;s name">Translated by Seamus Heaney</span>. 
	<span class="hover" title="Place of publication">London</span>: 
	<span class="hover" title="Publisher">Faber</span>, 
	<span class="hover" title="year of publication">1999</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Place a footnote number in your text immediately after the cited material. This number directs your reader to a footnote at the bottom of your page containing details of the classical reference.
<br>
<blockquote>
	<div class="in-text-citation">
		Seamus Heaney translates the opening lines of Beowulf &#34;So. The Spear&#45;Danes in days gone by and the kings who ruled them had courage and greatness.&#34;<sup>1</sup>
	</div>
	<br>
	<div class="in-text-citation">
		The poet Ovid describes a statue coming to life.<sup>2</sup>
	</div>
	<br>
	<div class="in-text-citation">
		For Irenaeus the end of humanity consists in beholding God.<sup>3</sup>
	</div>
</blockquote>
<br>
<strong>FOOTNOTES</strong>
<br><br>
<blockquote>
	<div class="footnotes ref-indent-1-27cm">
		1. <em>Beowulf</em>, trans. Seamus Heaney. (London: Faber, 1999).
	</div>
	<div class="footnotes ref-indent-1-27cm">
		2. Ovid, Met. 10.6.270.
	</div>
	<div class="footnotes ref-indent-1-27cm">
		3. Irenaeus, <em>Adversus haereses</em>. 4.34.5&#45;7.
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
Classical citations frequently use abbreviations. These are listed in 
<a href="http://west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA51100931270001571" target="_blank" rel="noopener noreferrer" title="opens a new window">
	The Oxford Classical Dictionary
</a>.
<br>
