<h2>%%ReferenceStyle%%Book, editor as &#8216;author&#8217;</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Editor&#8217;s surname, given name, ed. <em>Title of Book</em>. Place of publication: Publisher, year of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Editor&39;s name">Smith, Amy</span>, ed. 
	<em><span class="hover" title="Title of Book">Invertebrate Taxonomy: A Guide to Big Names</span></em>. 
	<span class="hover" title="Place of publication">Wellington</span>: 
	<span class="hover" title="Publisher">Kowhai Press</span>, 
	<span class="hover" title="year of publication">2056</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains detailed information about the work you are citing.
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes are placed in numerical order at the bottom of the page. In the case of most assignment papers and essays where footnotes and a bibliography are used, the footnote citation details can be quite brief (Example B) because the full details are found in the bibliography. However, if you are instructed by your tutor or lecturer to provide a full reference in the footnote the first time a work is cited, see Example A. If the work is cited again, use the short form (Example B).
<br>
When a book has no author name, the name of the editor, compiler or translator can be treated like the author&#8217;s name. In a short citation, omit the abbreviation &#8216;ed.&#8217; and shorten the title if more than four words (Example B).
<br>
When shortened references to the same work follow each other with no other references in-between, replace the editor&#8217;s name and title with <strong>ibid</strong> (Example C) and the page number if it differs from the previous citation (Example D). 
<br>
<br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Amy Smith, ed., <em>Invertebrate Taxonomy: A Guide to Big Names</em> (Wellington: Kowhai Press, 2056), 78.</span>
</blockquote>
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">7. Smith, <em>Invertebrate Taxonomy</em>, 43.</span>
</blockquote>
<br>
<strong>Example C</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">8. Ibid.</span>
</blockquote>
<br>
<strong>Example D</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">9. Ibid., 25&#45;6.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>