<h2>%%ReferenceStyle%%Book, similar information from multiple works</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
<strong>Format</strong>
<br>
Works are referenced in the bibliography using the standard form, according to the source types you have used.
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When similar ideas or information come from two or more different works, group them within one footnote. Put a footnote number in your text after the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip;has been discussed by Samuel Smith, Larry Larsen et al. and Anu Kura.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains information about the works you are citing, including the author&#8217;s names, details of the works, and relevant page number(s).
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Cite each work as you normally would, with the works separated by a semi&#45;colon. List the different works in the same order as they were cited in your text.
<br>
<blockquote class="footnotes ref-indent-1-27cm double-line-spacing">
	<span class="smaller">1. Smith, <em>Amid Fifty Thousand Flaming Devils</em>, 125; Larsen et al., <em>The Decline and Fall of the Modern Generation</em>, 105; Kura, <em>Teaching and Learning in Higher Education</em>, 78.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>