<h2>%%ReferenceStyle%%Book, one volume in a multivolume work</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
<strong>Format</strong>
<br>
For a <strong>named volume</strong> with an individual author:
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author&#8217;s surname, given name. <em>Title of Volume</em>. Vol. number of <em>Title of Multivolume Work</em>. Place of publication: Publisher, year of publication. 
</blockquote>
<br>
For a <strong>numbered volume</strong>:
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author&#8217;s surname, given name. <em>Title of Multivolume Work</em>. Vol. number. Place of publication: Publisher, year of publication. 
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote>
	<div class="ref-hang-indent double-line-spacing">
		<span title="Author&#8217;s surname, given name">Brown, Zoe</span>. 
		<em><span title="Title of Volume">Proverbs: Introduction and Commentary</span></em>. 
		<span title="Vol. number">Vol. 8</span> of 
		<em><span title="Title of Multivolume Work">The Goodman Companion to the Bible</span></em>. 
		<span title="Place of publication">London</span>: 
		<span title="Publisher">Goodman Institute of Bible Studies</span>, 
		<span title="year of publication">2056</span>.
	</div>
	<div class="ref-hang-indent double-line-spacing">
		<span title="Author&#8217;s surname, given name">Smith, Claire</span>. 
		<em><span title="Title of Multivolume Work">Myths and Legends of the World</span></em>. 
		<span title="Vol. number">Vol. 1</span>. 
		<span title="Place of publication">Sydney</span>: 
		<span title="Publisher">Universal Press</span>, 
		<span title="year of publication">2056</span>.
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains detailed information about the work you are citing.
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
For a <strong>named volume</strong>, begin the footnote with the author and title for the particular volume. Then give the volume number, multivolume title, publication details and relevant page number(s) (Example A).
<br><br>
For a <strong>numbered volume</strong> with no specific author or title, begin the footnote with the author/editor and title of the whole multivolume work. The volume number is given after the publication details. Page numbers follow after a colon (Example B).
<br><br>
If the work is referred to again later, use a shortened form (Example C).
<br>
When shortened references to the same work follow each other with no other references in&#45;between, replace the author&#45;s name, and title and publication details with <strong>ibid</strong> (Example D) and the page number if it differs from the previous citation (Example E).
<br><br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Zoe Brown, <em>Proverbs: Introduction and Commentary</em>, vol. 8 of <em>The Goodman Companion to the Bible</em> (London: Goodman Institute of Bible Studies, 2056), 78.</span>
</blockquote>
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">2. Claire Smith, <em>Myths and Legends of the World</em> (Sydney: Universal Press, 2056), 1:23.</span>
</blockquote>
<br>
<strong>Example C</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">7. Brown, <em>Proverbs</em>, 43.</span>
</blockquote>
<br>
<strong>Example D</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">8. Ibid.</span>
</blockquote>
<br>
<strong>Example E</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">9. Ibid., 25&#45;6.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>