<h2>%%ReferenceStyle%%Book, one source quoted in another</h2>
<hr>
Avoid where possible!
<br><br>
It is better to refer back to the original source yourself so you can check the accuracy of the quoted material. If the original source is unavailable, cite it as <strong>quoted in</strong>. You can find reference details for the original source in the bibliography of the book that you read.
<br><br>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author&#8217;s surname, given name. <em>Title of Book (quoted)</em>. Place of publication: Publisher, year of publication. Quoted in Author&#8217;s name (name in normal order). <em>Title of Book (that you read)</em>. Place of publication: Publisher, year of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author&#8217;s surname, given name">Peep, Bo</span>. 
	<em><span class="hover" title="Title of Book (quoted)">Search through the High Country</span></em>. 
	<span class="hover" title="Place of publication">Wellington</span>: 
	<span class="hover" title="Publisher">Kowhai Press</span>, 
	<span class="hover" title="year of publication">2025</span>. Quoted in 
	<span class="hover" title="Author&#8217;s name">Boyd Blue</span>. 
	<em><span class="hover" title="Title of Book (that you read)">Free Range: A History of Farming Practice in New Zealand</span></em>. 
	<span class="hover" title="Place of publication">Auckland</span>: 
	<span class="hover" title="Publisher">University Books</span>, 
	<span class="hover" title="year of publication">2056</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains detailed information about the work you are citing.
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
In the footnote, provide all known details of the primary source (as given by the secondary source) followed by <strong>quoted in</strong>, and then give the full details of the secondary source that you consulted.
<br>
<blockquote class="footnotes ref-indent-1-27cm double-line-spacing">
	<span class="smaller">1. Bo Peep, <em>Search through the High Country</em> (Wellington: Kowhai Press, 2025): 23, quoted in Boyd Blue, <em>Free Range: A History of Farming Practice in New Zealand</em> (Auckland: University Books, 2056), 234.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>