<h2>%%ReferenceStyle%%Book, chapters by different authors</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author&#8217;s surname, given name. &#34;Title of Chapter.&#34; In <em>Title of Book</em>, edited by Editor&#8217;s name (name in normal order), page numbers of chapter. Place of publication: Publisher, year of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author&#8217;s surname, given name">Smith, Andrea</span>. 
	&#34;<span class="hover" title="Title of Chapter">Synthetic Reactions and Strategies</span>.&#34; In 
	<em><span class="hover" title="Title of Book">Principles of Organic Chemistry</span></em>, edited by 
	<span class="hover" title="Editor&#8217;s name">Brian A. Brown</span>, 
	<span class="hover" title="page numbers of chapter">123&#45;47</span>. 
	<span class="hover" title="Place of publication">Washington, DC</span>: 
	<span class="hover" title="Publisher">Wilton</span>, 
	<span class="hover" title="year of publication">2056</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains information about the work you are citing, including the author&#8217;s name, details of the work, and relevant page number(s).
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes are placed in numerical order at the bottom of the page. In the case of most assignment papers and essays where footnotes and a bibliography are used, the footnote citation details can be quite brief (Example B) because the full details are found in the bibliography. However, if you are instructed by your tutor or lecturer to provide a full reference in the footnote the first time a work is cited, see Example A. If the work is cited again, use the short form (Example B).
<br>
When shortened references to the same work follow each other with no other references in&#45;between, replace the author&#8217;s name, and title with <strong>ibid</strong> (Example C) and the page number if it differs from the previous citation (example D).
<br><br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Andrea Smith, &#34;Synthetic Reactions and Strategies,&#34; in <em>Principles of Organic Chemistry</em>, ed. Brian A. Brown (Washington, DC: Wilton, 2056), 124.</span>
</blockquote>
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">7. Smith, &#34;Synthetic Reactions and Strategies,&#34; 143&#45;4.</span>
</blockquote>
<br>
<strong>Example C</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">8. Ibid.</span>
</blockquote>
<br>
<strong>Example D</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">9. Ibid., 125&#45;6.</span>
</blockquote>
<br>
<div style="text-align:right">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>