<h2>%%ReferenceStyle%%Book, multiple books by same author</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote>
	<div class="ref-hang-indent double-line-spacing">
		Author&#8217;s surname, given name. <em>Title of Book</em>. Place of publication: Publisher, year of publication.
	</div>
	<div class="ref-hang-indent double-line-spacing">
		Author&#8217;s surname, given name. <em>Title of Book</em>. Place of publication: Publisher, year of publication.
	</div>
</blockquote>
<br>
Books by the same author/s are ordered alphabetically by title.
<br><br>
Books with the same first author and a different second or third author are listed alphabetically by author.
<br><br>
The use of the 3em dash is discouraged. It is mostly used by editors and publishers for formally published work. See Chicago Manual of Style <a href="http://www.chicagomanualofstyle.org.ezproxy.uws.edu.au/book/ed17/part3/ch14/psec067.html" target="_blank" rel="noopener noreferrer">14.67</a>
<br><br>
<strong>Example</strong>
<br>
<blockquote>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author&#8217;s surname, given name">Smith, Samuel</span>. 
		<em><span class="hover" title="Title of Book">Amid Fifty Thousand Flaming Devils</span></em>. 
		<span class="hover" title="Place of publication">Baghdad</span>: 
		<span class="hover" title="Publisher">Etoile Press</span>, 
		<span class="hover" title="year of publication">2056</span>.
	</div>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author&#8217;s surname, given name">Smith, Samuel</span>. 
		<em><span class="hover" title="Title of Book">Exploring the Gulf</span></em>. 
		<span class="hover" title="Place of publication">San Francisco</span>: 
		<span class="hover" title="Publisher">Beck</span>, 
		<span class="hover" title="year of publication">2056</span>.
	</div>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author&#8217;s surname, given name">Smith, Samuel, and Beryl Brown</span>. 
		<em><span class="hover" title="Title of Book">New Frontiers</span></em>. 
		<span class="hover" title="Place of publication">San Francisco</span>: 
		<span class="hover" title="Publisher">Beck</span>, 
		<span class="hover" title="year of publication">2056</span>.
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Use the standard form according to the type of source you have used. 
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
