<h2>%%ReferenceStyle%%Book, the Bible</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
References to the Bible and other sacred scriptures appear only in footnotes or in&#45;text citations. The Bible is not listed as a book in your bibliography. However, if you have a lot of biblical references in your writing, you may indicate the version you used at the beginning of your Bibliography. 
<br><br>
<strong>Example</strong>
<br>
<blockquote class="ref">
	References to the Bible are taken from the New Revised Standard Version.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Place a footnote number in your text immediately after the cited material. This number directs your reader to a footnote at the bottom of your page containing details of the biblical reference.
<br>
<blockquote class="in-text-citation">
	&hellip;as told in Matthew&#8217;s gospel.<sup>1</sup>
</blockquote>
<br>
However, if you have a lot of biblical references in your writing, it is better to put them in parentheses instead of footnotes. Each biblical reference should include book, chapter and verse in the style outlined for footnotes (see below). All other references to non-biblical sources should be placed in footnotes as usual.
<br><br>
<strong>Example</strong>
<br>
<blockquote class="in-text-citation">
	&hellip;as told in Matthew&#8217;s gospel (Matt 17:1&#45;8).
</blockquote>
<br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes referring to the Bible should include book, chapter and verse. The books are usually abbreviated (a list of abbreviations can be found at the beginning of your Bible). Chapter and verse are given as numerals and separated with a colon. Also identify the version being cited, which can be abbreviated after the first reference. Do not provide page numbers.
<br><br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Matt 17:1&#45;8 (New Revised Standard Version).</span>
</blockquote>
<br>
When you are citing more than one biblical reference, separate them with a semi-colon.
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">2. Is 50:4&#45;7; Jer 10:17&#45;25; Amos 4:1&#45;13 (NRSV).</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>