<h2>%%ReferenceStyle%%Book, the Qur&#8217;an (Koran)</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
References to the Qur&#8217;an and other sacred scriptures appear only in footnotes or in&#45;text citations. The Qur&#8217;an is not listed as a book in your bibliography. However, if you have a lot of qu&#8217;ranic references in your writing, you may indicate the version you used at the beginning of your Bibliography. 
<br><br>
<strong>Example</strong>
<br>
<blockquote class="ref">
	References to the Qur&#8217;an are taken from the Haleem translation.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Place a footnote number in your text immediately after the cited material. This number directs your reader to a footnote at the bottom of your page containing details of the qu&#8217;ranic reference.
<br>
<blockquote class="in-text-citation">
	&hellip; Abraham was neither a Jew nor a Christian, but a Muslim.<sup>1</sup>
</blockquote>
<br>
However, if you have a lot of qu&#8217;ranic references in your writing, it is better to put them in parentheses instead of footnotes. Each qu&#8217;ranic reference should include book, chapter and verse in the style outlined for footnotes (see below). All other references to non&#45;qu&#8217;ranic sources should be placed in footnotes as usual.
<br><br>
<strong>Example</strong>
<br>
<blockquote class="in-text-citation">
	&hellip;Abraham was neither a Jew nor a Christian, but a Muslim (Q 3:67).
</blockquote>
<br>
If you do not read Arabic, and are relying upon a TRANSLATION of the meaning of the Qur&#8217;an, indicate the translation you are using by the LAST NAME of the translator.
<br><br>
<strong>Example</strong>
<br>
<blockquote class="in-text-citation">
	&#34;Abraham was not a Jew, nor yet a Christian but he was an upright man who had surrendered to Allah, and he was not of the idolaters.&#34; (Q 3:67, Pickthall&#8217;s translation).
</blockquote>
<br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes referring to the Qur&#8217;an should include chapter (surah) and verse (ayat), 
given as numerals and separated with a colon. Also identify the version being cited, which 
can be abbreviated after the first reference. Do not provide page numbers.
<br><br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. A Hanif Q 3:67 (Pickthall&#8217;s translation).</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
An excellent online resource for the Qur&#8217;an Arabic text, including recitation, with multiple English translations, is <a href="http://quran.com" target="_blank" rel="noopener noreferrer" title="opens a new window">http://quran.com</a>
<br><br>
