<h2>%%ReferenceStyle%%Newspaper article, no author</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
The Chicago style does not include newspaper articles in the bibliography. All details are included in the footnote. However, some tutor or lecturers may require you to add an entry in the bibliography. When there is no author the title of the newspaper stands in place of the author. An example is provided below. Chicago does not recommend using page numbers for newspaper articles but a section number or edition could be included. For an article publicly accessible on the internet, include the URL at the end of the citation after the year.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<em>Newspaper Title</em>, &#34;Title of Article.&#34; Month day, year of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<em><span class="hover" title="Newspaper Title">Herald Tribune</span></em>, 
	&#34;<span class="hover" title="Title of Article">Professor to Talk Rubbish at Next Senate Meeting</span>.&#34; 
	<span class="hover" title="Month day, year of publication">December 15, 2056</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains information about the work you are citing, including the newspaper title and publication date.
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes are placed in numerical order at the bottom of the page. When the author is anonymous, begin the footnote with the name of the article followed by the name of the newspaper (Example A).
<br><br>
When references to the same work follow each other with no other references in&#45;between, replace the title and publication details with <strong>ibid</strong>. (Example B). Page numbers are not usually given.
<br><br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. &#34;Professor to Talk Rubbish at Next Senate Meeting,&#34; <em>Herald Tribune</em>, December 15, 2056.</span>
</blockquote>
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">7. Ibid.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>