<h2>%%ReferenceStyle%%Journal article, similar information from multiple works</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
<strong>Format</strong>
<br>
Works are referenced in the bibliography using the standard form, according to the source types you have used.
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
When similar ideas or information come from two or more different works, group them within one footnote. Put a footnote number in your text after the cited material.
<br>
<blockquote class="in-text-citation">
	&hellip; has been discussed by Angela O&#8217;Carroll and Buster Brown, Romika Green et al., and Andrew Smith.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains information about the works you are citing, including the author&#8217;s names, details of the works, and relevant page number(s).
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Cite each work as you normally would, with the works separated by a semi&#45;colon. List the different works in the same order as they were cited in your text.
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. O&#8217;Carroll and Brown, &#34;A Battle from the Beginning,&#34; 154; Green et al., &#34;Uneven Muscle Mass Growth,&#34; 154; Smith, &#34;Leading by Example,&#34; 45.</span>
</blockquote>
<br>
<div style="text-align:right">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>