<h2>%%ReferenceStyle%%Journal article, multiple articles by same author</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote>
	<div class="ref-hang-indent double-line-spacing">
		Author&#8217;s surname, given name. &#34;Title of Article.&#34; <em>Journal Title</em> volume, no. issue (year): pages.
	</div>
	<div class="ref-hang-indent double-line-spacing">
		Author&#8217;s surname, given name. &#34;Title of Article.&#34; <em>Journal Title</em> volume, no. issue (year): pages.
	</div>
</blockquote>
<br>
Articles by the same author/s are ordered alphabetically by title.
<br><br>
Articles with the same first author and a different second or third author are listed alphabetically by author.
<br><br>
The use of the 3em dash is discouraged. It is mostly used by editors and publishers for formally published work. See Chicago Manual of Style 
<a href="http://www.chicagomanualofstyle.org.ezproxy.uws.edu.au/book/ed17/part3/ch14/psec067.html" target="_blank" rel="noopener noreferrer">
	14.67
</a>
<br><br>
<strong>Example</strong>
<br>
<blockquote>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author&#8217;s surname, given name">Smith, Andrew</span>. 
		&#34;<span class="hover" title="Title of Article">Leading by Example</span>.&#34; 
		<em><span class="hover" title="Journal Title">Management Research International</span></em> 
		<span class="hover" title="volume">10</span>, 
		no. <span class="hover" title="issue">2</span> 
		(<span class="hover" title="year">2056</span>): 
		<span class="hover" title="pages">154&#45;65</span>.
	</div>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author&#8217;s surname, given name">Smith, Andrew</span>. 
		&#34;<span class="hover" title="Title of Article">Teaming with Wildlife: Promoting Team Development through Volunteer Service at Auckland Zoo</span>.&#34; 
		<em><span class="hover" title="Journal Title">New Zealand Business Review</span></em> 
		<span class="hover" title="volume">17</span> 
		(<span class="hover" title="year">2050</span>): 
		<span class="hover" title="pages">4&#45;11</span>.
	</div>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author&#8217;s surname, given name">Smith, Andrew, and Bev Brown</span>. 
		&#34;<span class="hover" title="Title of Article">Learning through Teaching</span>.&#34; 
		<em><span class="hover" title="Journal Title">Management Education</span></em> 
		<span class="hover" title="volume">3</span>, 
		no. <span class="hover" title="issue">4</span> 
		(<span class="hover" title="year">2054</span>): 
		<span class="hover" title="pages">45&#45;58</span>.
	</div>
</blockquote>
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Use the standard form according to the type of source you have used. 
<br><br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
