<h2>%%ReferenceStyle%%Journal article, one source quoted in another</h2>
<hr>
Avoid where possible!
<br><br>
It is better to refer back to the original source yourself so you can check the accuracy of the quoted material. If the original source is unavailable, cite it as <strong>quoted in</strong>. You can find reference details for the original source in the bibliography of the article that you read.
<br><br>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author&#8217;s surname, given name. &#34;Title of Article (quoted).&#34; <em>Journal Title</em> volume, no. issue (year): pages. Quoted in Author&#8217;s name (name in normal order), &#34;Title of Article (that you read).&#34; <em>Journal Title</em> volume, no. issue (year): pages.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author&#8217;s surname, given name">Jones, Janet</span>. 
	&#34;<span class="hover" title="Title of Article (quoted)">Corporate Identity Theory</span>.&#34; 
	<em><span class="hover" title="Journal Title">Journal of Management Philosophy</span></em> 
	<span class="hover" title="volume">10</span>, 
	no. <span class="hover" title="issue">2</span> 
	(<span class="hover" title="year">2025</span>): 
	<span class="hover" title="pages">154&#45;65</span>. 
	Quoted in <span class="hover" title="Author&#8217;s name">Andrew Smith</span>, 
	&#34;<span class="hover" title="Title of Article (that you read)">Teaming with Wildlife: Promoting Team Development through Volunteer Service at Auckland Zoo</span>.&#34; 
	<em><span class="hover" title="Journal Title">New Zealand Business Review</span></em> 
	<span class="hover" title="volume">17</span> 
	(<span class="hover" title="issue">2050</span>): 
	<span class="hover" title="year">4&#45;11</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip; has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains detailed information about the work you are citing.
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
In the footnote, first give the full details of the original source, followed by 
<strong>quoted in</strong>, and then give the full details of the secondary source that you consulted.
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">
		1. Janet Jones, &#34;Corporate Identity Theory,&#34; 
		<em>Journal of Management Philosophy</em> 10, no. 2 (2025): 155, quoted in Andrew Smith, &#34;Teaming with Wildlife: Promoting Team Development through Volunteer Service at Auckland Zoo,&#34; <em>New Zealand Business Review</em> 17 (2050): 7.
	</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>