<h2>%%ReferenceStyle%%Newspaper article, one author</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
The Chicago style does not include newspaper articles in the bibliography. All details are included in the footnote. However, some tutor or lecturers may require you to add an entry in the bibliography. An example is provided below. Chicago does not recommend using page numbers for newspaper articles but a section number or edition could be included. For an article publicly accessible on the internet, include the URL at the end of the citation after the year.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author&#8217;s surname, given name. &#34;Title of Article.&#34; <em>Newspaper Title</em>, Month day, year of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author&#8217;s surname, given name">Orange, David</span>. 
	&#34;<span class="hover" title="Title of Article">Something Went Wrong in Plane Crash, Experts Say</span>.&#34; 
	<em><span class="hover" title="Newspaper Title">Herald Tribune</span></em>, 
	<span class="hover" title="Month day, year of publication">December 15, 2056</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains information about the work you are citing, including the author&#8217;s name, the newspaper title, and publication date.
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes are placed in numerical order at the bottom of the page. When references to the same work follow each other with no other references in&#45;between, use a shortened citation in the first instance (Example B). However, if you are instructed by your tutor or lecturer to provide a full reference in the footnote the first time a work is cited, see Example A. If the work is cited again, use the short form (Example B).
<br><br>
If other references to the same article follow directly after, replace the author&#8217;s name and title and publication details with <strong>ibid</strong> (Example C). Page numbers are not usually given.
<br><br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. David Orange, &#34;Something Went Wrong in Plane Crash, Experts Say,&#34; <em>Herald Tribune</em>, December 15, 2056.</span>
</blockquote>
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">7. Orange, &#34;Something Went Wrong in Plane Crash.&#34;</span>
</blockquote>
<br>
<strong>Example C</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">8. Ibid.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>