<h2>%%ReferenceStyle%%Journal article, four or more authors</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author 1 (surname, given name), Author 2 (name in normal order), Author 3 (name in normal order), and Author 4 (name in normal order). &#34;Title of Article.&#34; <em>Journal Title</em> volume, no. issue (year): pages.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author 1 (surname, given name), Author 2 (name in normal order), Author 3 (name in normal order), and Author 4 (name in normal order)">Green, Romika, Bobby Brown, Charles Chan, and Debbie Williams</span>. 
	&#34;<span class="hover" title="Title of Article">Uneven Muscle Mass Growth Patterns in Extreme Athletes</span>.&#34; 
	<em><span class="hover" title="Journal Title">Asia&#45;Pacific Journal of Injury Prevention</span></em> 
	<span class="hover" title="volume">10</span>, no. 
	<span class="hover" title="issue">2</span> 
	(<span class="hover" title="year">2056</span>): 
	<span class="hover" title="pages">154&#45;65</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains information about the work you are citing, including the author&#8217;s names, details of the work, and relevant page number(s).
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes are placed in numerical order at the bottom of the page. In the case of most assignment papers and essays where footnotes and a bibliography are used, the footnote citation details can be quite brief (Example B) because the full details are found in the bibliography. However, if you are instructed by your tutor or lecturer to provide a full reference in the footnote the first time a work is cited, see Example A. If the work is cited again, use the short form (Example B). When there are four or more authors, use the first 
author&#8217;s name followed by <strong>et al</strong>. (and others).
<br><br>
When shortened references to the same work follow each other with no other references in&#45;between, replace the authors&#8217; names and the title and publication details with <strong>ibid</strong> (Example C) and the page number if it differs from the previous citation (Example D).
<br><br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Romika Green et al., &#34;Uneven Muscle Mass Growth Patterns in Extreme Athletes,&#34; <em>Asia&#45;Pacific Journal of Injury Prevention</em> 10, no. 2 (2056): 154.</span>
</blockquote>
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">7. Green et al., &#34;Uneven Muscle Mass Growth,&#34; 158&#45;9.</span>
</blockquote>
<br>
<strong>Example C</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">8. Ibid.</span>
</blockquote>
<br>
<strong>Example D</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">9. Ibid., 156.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>