<h2>%%ReferenceStyle%%Library Database Article</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
An electronic article retrieved from a database uses the same format as a printed journal article 
with the addition of a Digital Object Identifier (DOI). The <a href="http://www.crossref.org/guestquery" title="CrossRef &#45; Look up DOIs" target="_blank" rel="noopener noreferrer">DOI resolver</a> can be used to find a DOI from the citation details if it is not given in the publication. If a DOI is available, include it at the end of the reference as a URL e.g. https://doi.org/10.1080/10.1201/b15592. If no DOI is available, provide the name of the database or a <a href="%%ICiteBasePath%%guides/using-library-resources" target="_blank" rel="noopener noreferrer">stable URL</a>. Many databases have options to create stable URLs &mdash; look for terms like &#8216;Permalink&#8217;, &#8216;Bookmark URL&#8217;, &#8216;Embed/Link&#8217; or &#8216;Stable URL&#8217;.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author&#8217;s surname, given name. &#34;Title of Article.&#34; <em>Journal Title</em> volume, no. issue (year): pages. https://doi.org/Digital object identifier number.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author&#8217;s surname, given name">Smith, Alex, and Bridget Brown</span>. 
	&#34;<span class="hover" title="Title of Article">Dining Out: A History of Restaurant Eating in New Zealand</span>.&#34; 
	<em><span class="hover" title="Journal Title">Journal of New Zealand Historical Research</span></em> 
	<span class="hover" title="volume">10</span>, 
	no. <span class="hover" title="issue">2</span> 
	(<span class="hover" title="year">2056</span>): 
	<span class="hover" title="pages">110&#45;123</span>. 
	https://doi.org/<span class="hover" title="Digital object identifier">10.1108/13522750710740855</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&#34;Restaurant dining was an important aspect of tourism in nineteenth century New Zealand&#34;.
	<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains detailed information about the work you are citing.
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
If individual page numbers are not available, you may describe where the material was found by 
giving the relevant subheading, after the word &#8216;under&#8217; (Example B). Otherwise, use the
standard form for footnotes, omitting page numbers.
<br><br>
When references to the same work follow each other with no other references in&#45;between, use a shortened citation in the first instance (Example C). If other references to the same article follow directly after, replace the author&#8217;s name and title with <strong>ibid</strong> (Example D) and the page number if it differs from the previous citation.
<br><br>
<strong>Example A &#45; page number provided</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Aroha Upton and Bridget Brown, &#34;Dining Out: A History of Restaurant Eating in New Zealand,&#34; <em>Journal of New Zealand Historical Research</em> 10, no. 2 (2056): 110&#45;123, https://doi.org/10.1108/13522750710740855.</span>
</blockquote>
<br>
<strong>Example B &#45; subheading provided</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">7. Alex Smith and Bridget Brown, &#34;Dining Out: A History of Restaurant Eating in New Zealand,&#34; <em>Journal of New Zealand Historical Research</em> 10, no. 2 (2056), under &#34;Introduction&#34;, https://doi.org/10.1108/13522750710740855.</span>
</blockquote>
<br>
<strong>Example C</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">8. Smith and Brown, &#34;Dining Out,&#34; 115.</span>
</blockquote>
<br>
<strong>Example D</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">9. Ibid.</span>
</blockquote>
<br>
<strong>Example E</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">10. Ibid., 118</span>
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
