<h2>%%ReferenceStyle%%Web page, known author</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, regardless of whether they are explicitly mentioned in your writing.
<br><br>
If no date is provided, add an access date before the web address.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author&#8217;s surname, given name. &#34;Title of Page.&#34; Title or owner of site. Accessed Month day, year. Web address.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author&#8217;s surname, given name">Tait, Andrew</span>. 
	&#34;<span class="hover" title="Title of Page">Independent Pub and Bar User Survey</span>.&#34; 
	<span class="hover" title="Title or owner of site">Timbucktwo Research Institute</span>. 
	Accessed <span class="hover" title="Accessed month day, year">January 7, 2057</span>. 
	<span class="hover" title="Web address">http://www.timbucktwo.edu/usersurveys/pubsurvey/</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains information about the work you are citing, including the author&#8217;s name and details of the work.
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes are placed in numerical order at the bottom of the page. In the case of most assignment papers and essays where footnotes and a bibliography are used, the footnote citation details can be quite brief (Example B) because the full details are found in the bibliography. However, if you are instructed by your tutor or lecturer to provide a full reference in the footnote the first time a work is cited, see Example A. If the work is cited again, use the short form (Example B).
<br><br>
When references to the same work follow each other with no other references in&#45;between, replace the author&#8217;s name and title with <strong>ibid</strong>. (Example C).
<br><br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Andrew Tait, &#34;Independent Pub and Bar User Survey,&#34; Timbucktwo Research Institute, accessed January 7, 2057, http://www.timbucktwo.edu/usersurveys/pubsurvey/.</span>
</blockquote>
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">7. Tait and Brown, &#34;Independent Pub and Bar User Survey.&#34;</span>
</blockquote>
<br>
<strong>Example C</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">8. Ibid.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>