<h2>%%ReferenceStyle%%Film or video recording</h2>
<hr>
<strong>BIBLIOGRAPHY ENTRY</strong>
<br><br>
Add a bibliography at the end of your essay citing all relevant sources used in your research, 
regardless of whether they are explicitly mentioned in your writing.
<br><br>
<strong>Format</strong>
<br><br>
For more detailed information on other elements that may be included in multimedia citation see Chicago Manual of Style <a href="http://www.chicagomanualofstyle.org.ezproxy.uws.edu.au/book/ed17/part3/ch14/psec261.html" target="_blank" rel="noopener noreferrer">14.261</a>.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Performer(s) surname, given name. <em>Title of Work</em>. Medium of publication. Directed by Director(s) given name and surname. Location of publisher: Publisher, year of publication.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Performer(s) surname, given name">Hamilton, Marc, Harry Sunford, Cassy Fisher, Peter Cushion and Alec Stout</span>. 
	<em><span class="hover" title="Title of Work">Star Warts</span></em>. 
	<span class="hover" title="Medium of publication">Motion picture</span>. 
	Directed by 
	<span class="hover" title="Director(s) surname, given name">Jeff Lucas</span>. 
	<span class="hover" title="Location of publisher">Los Angeles</span>: 
	<span class="hover" title="Publisher">20th Century Floss</span>, 
	<span class="hover" title="year of publication">1977</span>.
</blockquote>
<br>
If you are citing a commentary or scene, cite it as though you would cite a book chapter.
<br><br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Performer(s) surname, given name">Hamilton, Marc, Harry Sunford, Cassy Fisher, Peter Cushion and Alec Stout</span>. 
	&#34;<span class="hover" title="commentary or scene">The search for the secret plans</span>&#34;. 
	<em><span class="hover" title="Title of Work">Star Warts</span></em>. 
	<span class="hover" title="Medium of publication">Motion picture</span>. 
	Directed by 
	<span class="hover" title="Director(s) surname, given name">Jeff Lucas</span>. 
	<span class="hover" title="Location of publisher">Los Angeles</span>: 
	<span class="hover" title="Publisher">20th Century Floss</span>, 
	<span class="hover" title="year of publication">1977</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example bibliography
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;help me Brobi Wan Balone.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains information about the work you are citing, including the author&#8217;s name, details of the work, and relevant page number(s).
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes are placed in numerical order at the bottom of the page. In the case of most assignment papers and essays where footnotes and a bibliography are used, the footnote citation details can be quite brief (Example B) because the full details are found in the bibliography. However, if you are instructed by your tutor or lecturer to provide a full reference in the footnote the first time a work is cited, see Example A. If the work is cited again, use the short form (Example B). When there are four or more authors, use the first author’s name followed by <strong>et al</strong>. (and others).
<br><br>
When shortened references to the same work follow each other with no other references in&#45;between, replace the authors&#8217; names and title with ibid (Example C).
<br>
<br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Marc Hamilton, et al., <em>Star Warts</em>. Motion picture. Directed by Jeff Lucas (Los Angeles: 20th Century Floss, 1977), Motion picture.</span>
</blockquote>
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">7. Lucas, <em>Star Warts</em>.</span>
</blockquote>
<br>
<strong>Example C</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">8. Ibid.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
