<h2>%%ReferenceStyle%%Online Lecture / lecture notes</h2>
<hr>
Avoid where possible!
<br>
<br>
It is better to do the research and refer back to the original source yourself. Ask your lecturer if a bibliography from their presentation is available.
<br>
Lectures are only cited in footnotes; they are not listed in bibliographies unless advised by your tutor or lecturer.
<br><br>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains detailed information about the work you are citing.
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes are placed in numerical order at the bottom of the page. The first time the work is 
cited in a footnote, give the reference in complete form.
<br><br>
<strong>Lecture face to face</strong>
<br><br>
<strong>Format</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	1. Lecturer&#8217;s given name(s) and surname, &#34;Title of Lecture&#34; (lecture, Unit code and Name, University name, City of publication, Month day, year [of lecture]).
</blockquote>
<br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Alice Smith, &#34;Pacific Island Quilting&#34; (lecture, 10103 Women In Asia Pacific History, University of Auckland, May 5, 2056).</span>
</blockquote>
<br><br>
<strong>Recorded lecture / lecture notes</strong>
<br><br>
<strong>Format</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	26. Lecturer&#8217;s given name(s) and surname, &#34;Title of Lecture&#34; (lecture, unit code and name, university name, month day, year of lecture), description of source, file type if downloaded, run&#45;time, URL.
</blockquote>
<br>
<strong>Example B</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">26. Stan Dyer, &#34;History of Modernism&#34; (lecture, 101033 Modernism, Western Sydney University, May 26, 2014), webinar, MPEG copy, 0:40:37, https://vuws.westernsydney.edu.au/webapps/blackboard/execute/handlle=lecture=vie.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
For more information see Chicago Manual Of Style <a href="http://www.chicagomanualofstyle.org.ezproxy.uws.edu.au/book/ed17/part3/ch14/psec217.html" target="_blank" rel="noopener noreferrer">4.217: Lectures and papers or posters presented at meetings</a> and <a href="http://www.chicagomanualofstyle.org.ezproxy.uws.edu.au/book/ed17/part3/ch14/psec264.html" target="_blank" rel="noopener noreferrer">14.264: Recorded readings, lectures audiobooks, and the like</a>.
<br><br>
