<h2>%%ReferenceStyle%%Interview (unpublished) / personal communication</h2>
<hr>
Unpublished interviews are treated as personal communications. They are generally not listed in a
bibliography. All information is provided in text or in a footnote.
<br><br>
<strong>IN&#45;TEXT</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	In an email to the author on May 5, 2056, Alice Smith of University of Auckland explained that&hellip;
</blockquote>
<br><br>
<strong>IN&#45;TEXT CITATION</strong>
<br><br>
Put a footnote number in your text to show when you are using another person&#8217;s ideas or words.
<br>
<blockquote class="in-text-citation">
	&hellip;has been recently identified.<sup>1</sup>
</blockquote>
<br>
This number directs your reader to a footnote at the bottom of your page. The footnote contains detailed information about the work you are citing. If you are both interviewer and writer, use &#8216;author&#8217; for the interviewer&#8217;s name. 
<br><br>
<strong>FOOTNOTES</strong>
<br><br>
Footnotes are placed in numerical order at the bottom of the page.
<br><br>
<strong>Format</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	1. Name of person interviewed (position, Location of interview), interviewed by name of interviewer, date.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">1. Alice Smith (lecturer, University of Auckland), interviewed by author, May 5, 2056.</span>
</blockquote>
<br><br>
When references to the same work follow each other with no other references in&#45;between, replace the author&#8217;s name with <strong>ibid</strong>. (Example A).
<br><br>
<strong>Example A</strong>
<br>
<blockquote class="footnotes ref-indent-1-27cm">
	<span class="smaller">8. Ibid.</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/3?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
For more information and examples on unpublished interviews, see <a href="http://www.chicagomanualofstyle.org.ezproxy.uws.edu.au/book/ed17/part3/ch14/psec211.html" target="_blank" rel="noopener noreferrer">Chicago Manual Of Style	14.211</a>
<br>
