<hr>
<span class="smaller">
	This citation guide is based on the 
	<a href="//west-sydney-primo.hosted.exlibrisgroup.com/UWS-ALMA:default_scope:UWS-ALMA51153659030001571" target="_blank" rel="noopener noreferrer" title="opens a new window">
		Chicago Manual of Style (17th Edition)
	</a>.
	<br>
	For further support, consult the manual directly.
</span>
<div class="clear"></div>
