<!-- <br>
<div style="text-align: right;">
	<a href="javascript:window.print()">
		Print this page
	</a>
</div>
<br> -->
<br>
<div style="text-align: center;" id="list">
	<strong>Bibliography</strong>
</div>
<br>
<br>
<div class="ref-hang-indent double-line-spacing">
	Cooper, Agatha. &#34;Appalachian Mountain Clog Dancing.&#34; Paper presented at the Annual 
	Conference of the Society of Ethnomusicology and Dance, Auckland, November 26&#45;30, 2056. 
	http://www.sed.org/conf2056/agathacooper.html.
</div>
<div class="ref-hang-indent double-line-spacing">
	Green, Romika, Bobby Brown, Charles Chan, and Debbie Williams. &#34;Uneven Muscle Mass Growth 
	Patterns in Extreme Athletes.&#34; <em>Asia&#45;Pacific Journal of Injury Prevention</em> 
	10, no. 2 (2056): 154&#45;65.
</div>
<div class="ref-hang-indent double-line-spacing">
	Herald Tribune, &#34;Professor to Talk Rubbish at Next Senate Meeting.&#34; December 15, 2056.
</div>
<div class="ref-hang-indent double-line-spacing">
	Kura, Anu R. <em>Teaching and Learning in Higher Education</em>. 2nd ed. Auckland: University Books, 
	2056.
</div>
<div class="ref-hang-indent double-line-spacing">
	O&#8217;Carroll, Angela, and Buster Brown. &#34;A Battle from the Beginning: The Life and Times of 
	a Heavyweight Champion.&#34; <em>Sport and Fitness</em> 10, no. 2 (2056): 154&#45;65.
</div>
<div class="ref-hang-indent double-line-spacing">
	Otto, Annabelle, and Bridget Brown. <em>Sustainability in Practice: Overcoming Energy Challenges 
	in the 21st Century</em>. Vancouver: Northwoods, 2056.
</div>
<div class="ref-hang-indent double-line-spacing">
	Tait, Andrew. &#34;Independent Pub and Bar User Survey.&#34; Timbucktwo Research Institute. 
	Accessed January 7, 2057. http://www.timbucktwo.edu/usersurveys/pubsurvey/.
</div>
<div class="ref-hang-indent double-line-spacing">
	Smith, Amelia. &#34;The Influence of Bible Studies on New Zealand Primary School Children, 
	1945&#45;1982.&#34; Master&#8217;s thesis, University of Auckland, 2056.
</div>
<div class="ref-hang-indent double-line-spacing">
	Smith, Andrea &#34;Synthetic Reactions and Strategies.&#34; In 
	<em>Principles of Organic Chemistry</em>, edited by Brian A. Brown, 123&#45;47. Washington, 
	DC: Wilton, 2056.
</div>
<div class="ref-hang-indent double-line-spacing">
	Smith, Samuel. <em>Amid Fifty Thousand Flaming Devils</em>. Baghdad: Etoile Press, 2056.
</div>
<div class="ref-hang-indent double-line-spacing">
	Smith, Samuel. <em>Exploring the Gulf</em>. San Francisco: Beck, 2056.
</div>
<div class="ref-hang-indent double-line-spacing">
	Upton, Aroha, and Bridget Brown. &#34;Dining Out: A History of Restaurant Eating in 
	New Zealand.&#34; <em>Journal of New Zealand Historical Research</em> 10, no. 2 (2056): 
	154&#45;65. https://doi.org/10.1108/13522750710740855.
</div>
<br>
<br>