<h2>%%ReferenceStyle%%Book, three to twenty authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Authors. (Year of publication). <em>Title of book</em>. Publisher.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Authors">Smith, A., Brown, B., &amp; Chan, C.</span>  
	(<span class="hover" title="Year of publication">2017</span>). <em>
	<span class="hover" title="Title of book">New formations in international business</span></em>. 
	<span class="hover" title="Publisher">Hoffman</span>.
</blockquote>
<br>
For a numbered edition, place the abbreviation in parentheses after the book title. This part should 
not be italicised. Use (Rev. ed.) for revised editions.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Authors">Schneider, Z., Whitehead, D., &amp; Elliott, D.</span> 
	(<span class="hover" title="Year of publication">2007</span>). 
	<em><span class="hover" title="Title of book">Nursing and midwifery research: Methods and appraisal for evidence&#45;based practice</span></em> 
	(<span class="hover" title="edition">3rd ed.</span>).  
	<span class="hover" title="Publisher">Elsevier Australia</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
Provide author surnames and initials for works of up to and including 20 authors. If a source 
contains 21 or more authors, include the first 19 authors, followed by an ellipsis (3 dots) then 
the name of the final author, to indicate that some names have been omitted. See example: 
<a href="%%ICiteURL%%/1/5" class="colorbox-node">Book, Twenty One or More Authors.</a>
<br>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When a work has three or more authors, use the name of the first author followed by the abbreviation 
et al. (note the full stop after et al.).
<br>
<blockquote class="in-text-citation">
	Smith et al. (2017) found that&hellip;
	<br>
	Alternatively: A recent study (Schneider et al., 2017) found that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first time 
that it is referred to in your writing. Once the work is cited, it is not necessary to include the 
citation again, as long as it is clear that you are referring to the same work and that it cannot be 
confused with other sources being paraphrased. Repeat the citation again, if the paraphrase continues 
into the next paragraph.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith et al. (2017) showed that… Smith et al. also found that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith et al. (2017) observe that &#34;conditions were right for the Prime Mortgage 
	collapse&#34; (p. 92).
	<br>
	Alternatively: Therefore, &#34;conditions were right for the Prime Mortgage collapse&#34; 
	(Smith et al., 2017, p. 92).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>