<h2>%%ReferenceStyle%%Book, chapters by different authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s) of chapter. (Year of publication). Title of chapter. In Editor(s) (Ed[s].), 
	<em>Title of book</em> (pages of the chapter referred to). Publisher.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s) of chapter">Ferres, K.</span> 
	(<span class="hover" title="Year of publication">2001</span>). 
	<span class="hover" title="Title of chapter">Idiot box: Television, urban myths and ethical scenarios</span>. In 
	<span class="hover" title="Editor(s)">I. Craven</span> (Ed.),  
	<em><span class="hover" title="Title of book">Australian cinema in the 1990s</span></em> 
	(<span class="hover" title="pages of the chapter referred to">pp. 175&#45;188</span>). 
	<span class="hover" title="Publisher">Frank Cass</span>.
</blockquote>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s) of chapter">Smith, A., &amp; Brown, B.</span> 
	(<span class="hover" title="Year of publication">2017</span>). 
	<span class="hover" title="Title of chapter">Natural reactions and strategies</span>. In 
	<span class="hover" title="Editor(s)">B. A. Brown &amp; C. Chan</span> (Eds.), 
	<em><span class="hover" title="Title of book">Principles of biology</span></em> 
	(<span class="hover" title="pages of the chapter referred to">pp. 148&#45;189</span>). 
	<span class="hover" title="Publisher">Wilton</span>.
</blockquote>
<br>
For a numbered edition, place the abbreviation in parentheses after the book title. This part 
should not be italicised. Use (Rev. ed.) for revised editions.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s) of chapter">Smith, A., &amp; Brown, B.</span> 
	(<span class="hover" title="Year of publication">2017</span>). 
	<span class="hover" title="Title of chapter">Natural reactions and strategies</span>. In 
	<span class="hover" title="Editor(s)">B. A. Brown &amp; C. Chan</span> (Eds.), 
	<em><span class="hover" title="Title of book">Principles of biology</span></em> 
	(<span class="hover" title="edition">2nd ed.</span>, 
	<span class="hover" title="pages of the chapter referred to">pp. 148&#45;189</span>).  
	<span class="hover" title="Publisher">Wilton</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Ferres (2001) demonstrated that&hellip;
	<br>
	Alternatively: A recent study (Smith &amp; Brown, 2017) demonstrated that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first time that 
it is referred to in your writing. Once the work is cited, it is not necessary to include the citation 
again, as long as it is clear that you are referring to the same work and that it cannot be confused 
with other sources being paraphrased. Repeat the citation again, if the paraphrase continues into the 
next paragraph.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith and Brown (2017) demonstrated that&hellip; Smith and Brown also 
	found that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2017) observed that &#34;the organism&#8217;s chemical defence was remarkable&#34; 
	(p. 56).
	<br>
	Alternatively: Tests showed that &#34;the organism&#8217;s chemical defence was remarkable&#34; 
	(Smith &amp; Brown, 2017, p. 56).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>