<h2>%%ReferenceStyle%%Book, twenty one or more authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Provide author surnames and initials for works of up to and including 20 authors. If a source 
contains 21 or more authors, include the first 19 authors, followed by an ellipsis (3 dots) then the 
name of the final author, to indicate that some names have been omitted.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent">
	Authors. (Year of publication). <em>Title of book</em>. Publisher.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Authors">Quliyev, T., Gjoni, H., Gruber, I., Hofer, S., Fischer, I., Maes, S., L&#243;pez, N., D&#237;az, O., Cruz, T., Mora, A., W&#225;ng, R., Li, E., Y&#225;ng, A., Zh&#224;o, L., Zh&#333;u, B., Mirza, O., Bonik, O., Aliyev, K., Biton, H., <span class="chicago-ellipsis">...</span> Ishii, F.</span> 
	(<span class="hover" title="Year of publication">2020</span>). 
	<em><span class="hover" title="Title of book">Referencing styles that changed the world</span></em>. 
	<span class="hover" title="Publisher">Libtty Press</span>.
</blockquote>
<br>
For a numbered edition, place the abbreviation in parentheses after the book title. This part should 
not be italicised. Use (Rev. ed.) for revised editions.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Authors">Quliyev, T., Gjoni, H., Gruber, I., Hofer, S., Fischer, I., Maes, S., L&#243;pez, N., D&#237;az, O., Cruz, T., Mora, A., W&#225;ng, R., Li, E., Y&#225;ng, A., Zh&#224;o, L., Zh&#333;u, B., Mirza, O., Bonik, O., Aliyev, K., Biton, H., <span class="chicago-ellipsis">...</span> Ishii, F.</span> 
	(<span class="hover" title="Year of publication">2020</span>). 
	<em><span class="hover" title="Title of book">Referencing styles that changed the world</span></em>. 
	(<span class="hover" title="Rev. ed.">2nd ed.</span>). 
	<span class="hover" title="Publisher">Libtty Press</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Cite only the name of the first author followed by the abbreviation et al. and the date (note the full 
stop after et al.).
<br>
<blockquote class="in-text-citation">
	Quliyev et al. (2020) found that&hellip;
	<br>
	Alternatively: A recent study (Quliyev et al., 2020) found that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first time 
that it is referred to in your writing. Once the work is cited, it is not necessary to include the 
citation again, as long as it is clear that you are referring to the same work and that it cannot be 
confused with other sources being paraphrased. Repeat the citation again, if the paraphrase continues 
into the next paragraph.
<br>
<blockquote class="in-text-citation">
	In a recent study, Quliyev et al. (2020) showed that&hellip; Quliyev et al. also found 
	that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Quliyev et al. (2020) observe that &#34;we have an irreversible dependency upon digital technology&#34; 
	(p. 21).
	<br>
	Alternatively: Subsequently, &#34;we have an irreversible dependency upon digital technology&#34; 
	(Quliyev et al., 2020, p. 21).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>