<h2>%%ReferenceStyle%%Book, Group author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Group Author. (Year of publication). <em>Book title</em>. Publisher.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Group Author">International Association of Universities</span>. 
	(<span class="hover" title="Year of publication">2009</span>). 
	<em><span class="hover" title="Book title">International handbook of universities</span></em>. 
	<span class="hover" title="Publisher">Palgrave Macmillan</span>.
</blockquote>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Group Author">Narungga Aboriginal Progress Association</span>. 
	(<span class="hover" title="Year of publication">2006</span>). 
	<em><span class="hover" title="Book title">Nharrangga warra: Narungga dictionary</span></em>.
</blockquote>
<br>
Note: When the author is the same as the publisher omit the publisher element.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
A group author with a long name can be abbreviated in text, if it is well known or will be cited 
more than three times. Use the full name on the first occasion followed by the abbreviation.
<br>
<blockquote class="in-text-citation">
	Aboriginal language dictionaries (Narungga Aboriginal Progress Association [NAPA], 2006) 
	suggest that&hellip;
	<br>
	Alternatively: Aboriginal language dictionaries document&hellip; (NAPA, 2006)
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>