<h2>%%ReferenceStyle%%Book, similar information from multiple works</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
<strong>Format</strong>
<br>
Works are referenced in the reference list using the standard form, according to the source and 
number of authors.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When information or ideas are sourced from two or more works, the citations are listed alphabetically 
within the same parentheses. Separate the works with semicolons. 
<br>
<blockquote class="in-text-citation">
	Current research (Brown, 2017; Jones, 2016; Smith, 2020) suggests that&hellip;
</blockquote>
<br>
If they are by the same author, name the author only once and list the publication dates 
chronologically.
<br>
<blockquote class="in-text-citation">
	&hellip;according to current research (Smith &amp; Brown, 2017, 2019).
</blockquote>
<br>
If they are by the same author and publication date, the author name(s) should appear only 
once and the works are identified by the publication dates and suffix a, b, c, etc.
<br>
<blockquote class="in-text-citation">
	According to the literature (Smith &amp; Brown, 2017a, 2017b), the current focus is&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>