<h2>%%ReferenceStyle%%Book, multiple books by same author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Different works by the same author(s) are listed in chronological (date) order.
<br>
If several works have the same date as well as the same author, works are distinguished by including 
suffixes, a, b, c, etc, after the year. These are allocated in the reference list where they are 
ordered alphabetically by title. References with the same first author and different subsequent 
authors should be arranged alphabetically by the second author. If the second author is the same 
then arrange alphabetically by the third author and so forth.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year of publication[suffix]). <em>Title of book</em>. Publisher.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author">Smith, A.</span> 
		(<span class="hover" title="Year of publication">2017</span>). 
		<em><span class="hover" title="Title of book">Exploring nanoscale science</span></em>. 
		<span class="hover" title="Publisher">Beck</span>.
	</div>
	<div class="ref-hang-indent double-line-spacing">
		Smith, A. (2018). <em>Amid fifty thousand flaming devils</em>. Etoile Press.
	</div>
	<div class="ref-hang-indent double-line-spacing">
		Smith, A., &amp; Brown, B. W. (2019a)&hellip;
	</div>
	<div class="ref-hang-indent double-line-spacing">
		Smith, A., &amp; Brown, B. W. (2019b)&hellip;
	</div>
	<div class="ref-hang-indent double-line-spacing">
		Smith, A., &amp; Chan, C. (2019)&hellip;
	</div>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2019a) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith &amp; Brown, 2019a) indicated that&hellip;
</blockquote>
<br>
If two or more sources, by the same author, are being cited for the same ideas or information, 
the author name(s) should appear only once, followed by publication dates (and suffix) for the 
works in chronological order. 
<br>
<blockquote class="in-text-citation">
	Studies indicate that&hellip; (Smith &amp; Brown, 2019a, 2019b).
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using double 
quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2019a) observe that &#34;the Higgs Boson particle still remains illusive&#34; 
	(p. 34).
	<br>
	Alternatively: Therefore, &#34;the Higgs Boson particle still remains illusive&#34; 
	(Smith &amp; Brown, 2019a, p. 34).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>