<h2>%%ReferenceStyle%%Edited book</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Editor(s). (Ed[s].). (Year of publication). <em>Title of book</em>. Publisher.
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Editor(s)">Craven, I.</span> (Ed.). 
	(<span class="hover" title="Year of publication">2001</span>). 
	<em><span class="hover" title="Title of book">Australian cinema in the 1990s</span></em>. 
	<span class="hover" title="Publisher">Frank Cass</span>.
</blockquote>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Editor(s)">Smith, A., &amp;  Brown, B.</span> (Eds.). 
	(<span class="hover" title="Year of publication">2017</span>). 
	<em><span class="hover" title="Title of book">Sustainability in practice: Overcoming energy challenges in the 21st century</span></em>. 
	<span class="hover" title="Publisher">Northwoods Press</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Use the editor&#8217;s name, when referring to the source in your writing. If the work contains 
three or more editors, provide the name of the first editor followed by the abbreviation et al. 
(note the fullstop after et al.). 
<br>
<blockquote class="in-text-citation">
	Craven (2001) indicates that&hellip;
	<br>
	Alternatively: Recent data (Smith &amp; Brown, 2017) indicates that&hellip;
</blockquote>
<br>
When the editor is referred to more than once, in the same paragraph, cite the work the first time 
that it is referred to in your writing. Once the work is cited, it is not necessary to include the 
citation again, as long as it is clear that you are referring to the same work and that it cannot be 
confused with other sources being paraphrased. Repeat the citation again, if the paraphrase continues 
into the next paragraph.  
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2017) indicate that&hellip; Smith and Brown also illustrate that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using double 
quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2017) observe that &#34;the ants had an advanced chemical defence system&#34; (p. 75).
	<br>
	Alternatively: In terms of sustainability, &#34;the ants had an advanced chemical defence system&#34; 
	(Smith &amp; Brown, 2017, p. 75).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>