<h2>%%ReferenceStyle%%Magazine article</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year, Month Day of publication). Title of article. 
	<em>Name of Magazine, volume</em>(issue), page number(s). URL
</blockquote>
<br>
For works without a DOI, if the work was accessed from a website (excluding academic research 
databases, e.g., ProQuest, EBSCO and ScienceDirect) include the URL in the reference. URLs and 
DOIs are displayed as an active link. Works accessed from an academic research database do not 
require a URL or detail about the database in the reference list. In this case, the work would 
be referenced in the same manner as a print version of the work.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Smith, A., &amp; Brown, B.</span> 
	(<span class="hover" title="Year, Month Day of publication">2017, December 15</span>). 
	<span class="hover" title="Title of article">Chocolate milk could be key to longevity</span>. 
	<em><span class="hover" title="Name of Magazine">New Research International</span>, 
	<span class="hover" title="volume">45</span></em>(5), 
	<span class="hover" title="page number(s)">6&#45;7</span>. 
	<span class="hover fake-aref" title="URL">https://www.times.com/chocolate-milk-could-be-key-to-longevity/story</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Where a work has two authors always cite both names every time the reference occurs in the text. 
When a work has three or more authors, cite the name of the first author followed by the abbreviation 
et al. (note the full stop after et al.).
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2017) found that&hellip;
	<br>
	Alternatively: Recent research (Smith &amp; Brown, 2017) supports this view&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to 
include the citation again, as long as it is clear that you are referring to the same work 
and that it cannot be confused with other sources being paraphrased. Repeat the citation again, 
if the paraphrase continues into the next paragraph.  
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith and Brown (2017) showed that&hellip; Smith and Brown also found 
	that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2017) observe that &#34;chocolate has grown in popularity with adolescents&#34; 
	(p. 34).
	<br>
	Alternatively: &#34;Chocolate is growing in popularity with adolescents&#34; (Smith &amp; Brown, 
	2017, p. 34).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>