<h2>%%ReferenceStyle%%Electronic article, Internet journal article</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
An internet journal article is an article that is freely available online. Note that there is no 
full stop after a URL in reference list entries and URLs are displayed as a hyperlink.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year, Month Day of publication). Title of article. 
	<em>Title of Journal, volume number</em>(issue number), page numbers. URL
</blockquote>
<br>
Note: Include the day and month of publication, if available.
<br>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Smith, A., &amp; Brown, B.</span> 
	(<span class="hover" title="Year, Month Day of publication">2020</span>). 
	<span class="hover" title="Title of article">Dining out: A history of restaurant eating in New Zealand</span>.&nbsp;
	<em><span class="hover" title="Title of Journal">Journal of the Royal Australian Historical Society</span>, 
	<span class="hover" title="volume number">3</span></em>(<span class="hover" title="issue number">5</span>), 
	<span class="hover" title="page numbers">110&#45;123</span>.  
	<span class="hover fake-aref" title="URL">http://www.rahs.org.au/publications/rahs&#45;journal/</span>
</blockquote>
<br>
If the content being cited is likely to change over time, (e.g., an article in progress), also include 
a retrieval date before the URL. Check whether the final, peer reviewed article has been made available 
just prior to the release of your own work.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Chan, C.</span> 
	(<span class="hover" title="Year, Month Day of publication">2018</span>). 
	<span class="hover" title="Title of article">Calming the waters: An historical account of New Zealand&#8217;s right to protest at sea</span>. 
	<em><span class="hover" title="Title of Journal">Journal of the Royal Australian Historical Society</span>, 
	<span class="hover" title="volume number">3</span></em>(<span class="hover" title="issue number">15</span>), 
	<span class="hover" title="page numbers">10&#45;13</span>.&nbsp;
	Retrieved&nbsp;<span class="hover" title="retrieval date">October 13, 2019</span>, from 
	<span class="hover fake-aref" title="URL">http://www.rahs.org.au/publications/rahs&#45;journal/</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2020) found that&hellip;
	<br>
	Alternatively: Recent research (Smith &amp; Brown, 2020) supports this view&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.  
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith and Brown (2020) showed that&hellip; Smith and Brown also found 
	that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2020) suggest that &#34;the restaurant industry is on the decline&#34; (p. 111).
	<br>
	Alternatively: It was suggested that &#34;the restaurant industry is on the decline&#34; 
	(Smith &amp; Brown, 2020, p. 111).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>