<h2>%%ReferenceStyle%%Journal article, tewnety one or more authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Authors. (Year of publication). Title of article. <em>Name of Journal, volume</em>(issue), 
	page numbers. DOI (if assigned)
</blockquote>
<br>
For works without a DOI, if the work was accessed from a website (excluding online academic research 
databases, e.g., ProQuest, EBSCO and ScienceDirect) include the URL in the reference. Works accessed 
from an academic database do not require a URL or detail about the database in the reference list. In 
this case, the work would be referenced in the same manner as a print version of the work. URLs and DOIs 
are displayed as a hyperlink.
<br>
<br>
<strong>Examples</strong>
<br>
When there are twenty one or more authors, provide the first nineteen authors followed by an ellipsis 
(3 dots) then the name of the final author.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Authors">Alba, T. R. S., Partridge, S., Crane, B. C., Myna, B., Curtis, A. T. O., Plov, E. R., Caso, W. R., Pea, C. K., Sumner, O., Corm, N. T., Yelo, T. H., Falcon, T. B., Finch, G., Mona, R. C., Grouse, D. G., Frogmouth, T., Partridge, S., Kite, R., Taka, H. E., <span class="chicago-ellipsis">...</span> Martin, Y.</span> 
	(<span class="hover" title="Year of publication">2020</span>).&nbsp;
	<span class="hover" title="Title of article">Effects of birds suddenly appearing every time you are near</span>. 
	<em><span class="hover" title="Name of Journal">Journal of Avian Behaviour</span>, 
	<span class="hover" title="volume">12</span></em>(<span class="hover" title="issue">4</span>), 
	<span class="hover" title="page numbers">121&#45;140</span>. 
	<span class="hover fake-aref" title="DOI">https://doi.org/10.1080/14622200410001676305</span>
</blockquote>
<br>
URLs and DOIs are displayed as a hyperlink.
<br>
<br>
If the source displays the DOI number only (e.g., 10.1036/0071393756), convert the DOI into a link 
by adding <span class="fake-aref">https://doi.org/</span> before the number.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
When the work has twenty one or more authors, cite only the name of the first author followed by the 
abbreviation et al., and the year (note the full stop after et al.).
<br>
<br>
<blockquote class="in-text-citation">
	Alba et al. (2020) found that&hellip;
	<br>
	Alternatively: A recent study (Alba et al., 2020) found that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to 
include the citation again, as long as it is clear that you are referring to the same work and 
that it cannot be confused with other sources being paraphrased. Repeat the citation again, if 
the paraphrase continues into the next paragraph.  
<br>
<blockquote class="in-text-citation">
	In a recent study, Alba et al. (2020) showed that&hellip; Alba et al. also found that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Alba et al. (2020) observe that &#34;birds rarely display sudden change in behaviour unless ill&#34; 
	(p. 21).
	<br>
	Alternatively: &hellip;found in a recent behavioural study that &#34;birds rarely display sudden 
	change in behaviour unless ill&#34; (Alba et al., 2020, p. 21).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>