<h2>%%ReferenceStyle%%Journal article, no author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Title of article. (Year of publication). <em>Title of Journal, volume</em>(issue), 
	page numbers. DOI (if assigned)
</blockquote>
<br>
For works without a DOI, if the work was accessed from a website (excluding online academic research 
databases, e.g., ProQuest, EBSCO and ScienceDirect) include the URL in the reference. Works accessed 
from an academic database do not require a URL or detail about the database in the reference list. In 
this case, the work would be referenced in the same manner as a print version of the work. URLs and DOIs 
are displayed as a hyperlink.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Title of article">Study smarter, not harder: Setting goals to improve your academic performance</span>. 
	(<span class="hover" title="Year of publication">2017</span>).&nbsp;
	<em><span class="hover" title="Title of Journal">Student Review</span>, 
	<span class="hover" title="volume">25</span></em>(<span class="hover" title="issue">5</span>),  
	<span class="hover" title="page numbers">10&#45;12</span>. 
	<span class="hover fake-aref" title="DOI">https://doi.org/10.12.3456789012</span>
</blockquote>
<br>
If the source displays the DOI number only (e.g., 10.1036/0071393756), convert the DOI into a link 
by adding <span class="fake-aref">https://doi.org/</span> before the number.
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
If you are citing a work which has no author, use the title of the article and year. A shortened title 
may be used if the title is long. Place double quotation marks around the title of an article. The title 
of the article is capitalised using title case (the first letter of each major word is capitalised), even 
though sentence case (the first letter of the first word only, in the main title and subtitle, is 
capitalised) is used in the reference list.
<br>
<blockquote class="in-text-citation">
	&#34;Study Smarter&#34; (2017) outlined the benefits of&hellip;
	<br>
	Alternatively: &hellip;according to a recent study (&#34;Study Smarter&#34;, 2017).
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using double 
quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	&#34;Study Smarter&#34; (2017) observed that &#34;students are able to improve their 
	performance by&hellip;&#34; (p. 11).
	<br>
	Alternatively: &#34;Students are able to improve their performance by&hellip;&#34; 
	(&#34;Study Smarter&#34;, 2017, p. 11).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>