<h2>%%ReferenceStyle%%Journal article, one source quoted in another</h2>
<hr>
<br>
Avoid where possible!
<br>
<br>
It is better to refer back to the original source yourself so you can check the accuracy of 
the quoted material. If the original source is unavailable, use <strong>&#8216;as cited in&#8217;</strong>
in your text. The original authors are named in your text, but only the source you actually 
read goes in the reference list. For example, if a study by Jones and Chan was quoted in a work 
that you read by Smith, you would only list Smith in your reference list.
<br>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author. (Year of publication). Title of article (that you read). 
	<em>Name of Journal, volume</em>(issue), page numbers. 
	DOI (if assigned)
</blockquote>
<br>
For works without a DOI, if the work was accessed from a website (excluding online academic 
research databases, e.g., ProQuest, EBSCO and ScienceDirect) include the URL in the reference. 
Works accessed from an academic database do not require a URL or detail about the database in the 
reference list. In this case, the work would be referenced in the same manner as a print version of 
the work.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Year of publication">2017</span>). 
	<span class="hover" title="Title of article (that you read)">High speed compression for music downloads</span>. 
	<em><span class="hover" title="Name of Journal">Journal of Internet Engineering</span>, 
	<span class="hover" title="volume">10</span></em>(<span class="hover" title="issue">2</span>), 
	<span class="hover" title="page numbers">154&#45;165</span>. 
	<span class="hover fake-aref" title="DOI">https://doi.org/10.12:3456789012</span>
</blockquote>
<br>
URLs and DOIs are displayed as a hyperlink. 
<br>
<br>
If the source displays the DOI number only (e.g., 10.1036/0071393756), convert the DOI into a link by 
adding <span class="fake-aref">https://doi.org/</span> before the number.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Name the original authors, and year if known, and and use &#8216;as cited in&#8217; to refer to 
the secondary work you read. For example, a study by Jones and Chan was quoted in a work by Smith, 
but you did not read the study by Jones and Chan.
<br>
<br>
If the name of the original author is included in the sentence, the year of the original work, 
if known, and the name and date of the secondary source you read is provided in parentheses.
<br>
<blockquote class="in-text-citation">
	Webber and Reed (2010, as cited in Smith, 2017) indicated that&hellip;
</blockquote>
<br>
Otherwise, the original authors and the secondary author and date should be included in parentheses.
<br>
<blockquote class="in-text-citation">
	A recent study (Jones &amp; Chan, as cited in Smith, 2017) showed that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	JWebber and Reed (2010, as cited in Smith, 2017) observed that &#34;chocolate has several 
	health benefits&#34; 
	(p. 56).
	<br>
	Alternatively: &#34;Chocolate has several health benefits&#34; (Jones &amp; Chan, as cited in 
	Smith, 2017, p. 56).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>