<h2>%%ReferenceStyle%%Newspaper article, no author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Title of article. (Year, Month Day of publication). 
	<em>Title of Newspaper</em>, page number(s).
</blockquote>
<br>
If the work was accessed from a website (excluding online academic research databases, 
e.g., ProQuest, EBSCO and ScienceDirect) include the URL, displayed as an active link, 
at the end of the reference. Works accessed from an academic database do not require a URL 
or detail about the database in the reference list. In this case, the work would be referenced 
in the same manner as a print version of the work.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Title of article">Hong Kong braces for protests</span>. 
	(<span class="hover" title="Year, Month Day of publication">2017, December 15</span>). 
	<em><span class="hover" title="Title of Newspaper">Melbourne Herald</span></em>, 
	<span class="hover" title="page number">A5</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
If you are citing a work which has no author, if the title is long, the first few words of the title 
should be used. Use double quotation marks around the title of an article and capitalise using title 
case (the first letter of each major word is capitalised), even though sentence case (the first letter 
of the first word only, in the main title and subtitle, is capitalised) is used in the reference list. 
<br>
<blockquote class="in-text-citation">
	The author&#8217;s report &#34;Hong Kong Braces for Protests&#34; (2017) revealed that&hellip;
	<br>
	Alternatively: &hellip;revealed the author&#8217;s report (&#34;Hong Kong Braces for Protests&#34;, 
	2017).
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	A <em>Melbourne Herald</em> report &#45; &#34;Hong Kong Braces for Protests&#34; (2017) &#45; 
	revealed that &#34;rubbish collection is costing the country millions&#34; (p. A5).
	<br>
	Alternatively: &#34;Rubbish collection is costing the country millions&#34; 
	(&#34;Hong Kong Braces for Protests&#34;, 2017, p. A5).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>