<h2>%%ReferenceStyle%%Journal article, two authors</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Authors. (Year of publication). Title of article. <em>Name of Journal, volume</em>(issue), 
	page numbers. DOI (if assigned)
</blockquote>
<br>
For works without a DOI, if the work was accessed from a website (excluding online academic 
research databases, e.g., ProQuest, EBSCO and ScienceDirect) include the URL in the reference. 
Works accessed from an academic database do not require a URL or detail about the database in 
the reference list. In this case, the work would be referenced in the same manner as a print 
version of the work.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Authors">Smith, A., &amp; Brown, B.</span> 
	(<span class="hover" title="Year of publication">2017</span>). 
	<span class="hover" title="Title of article">A battle from the beginning: The life and times of a heavyweight champion</span>. 
	<em><span class="hover" title="Name of Journal">Sport and Fitness</span>, 
	<span class="hover" title="volume">14</span></em>(<span class="hover" title="issue">2</span>), 
	<span class="hover" title="page numbers">25&#45;37</span>. 
	<span class="hover fake-aref" title="DOI">https://doi.org/10.12:3456789012</span>
</blockquote>
<br>
URLs and DOIs are displayed as a hyperlink.
<br>
<br>
If the source displays the DOI number only (e.g., 10.1036/0071393756), convert the DOI into a link 
by adding <span class="fake-aref">https://doi.org/</span> before the number.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Where a work has two authors always cite both names every time the reference occurs in the text.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2017) found that&hellip;
	<br>
	Alternatively: Recent research (Smith &amp; Brown, 2017) supports this view&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph. 
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith and Brown (2017) showed that&hellip; Smith and Brown also 
	found that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2017) observe that &#34;he is making his mark on the sporting world&#34; (p. 34).
	<br>
	Alternatively: Therefore, &#34;he is making his mark on the sporting world&#34; 
	(Smith &amp; Brown, 2017, p. 34).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>