<h2>%%ReferenceStyle%%Journal article, multiple articles by same author</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Different works by the same author(s) are listed in chronological (date) order. If several works 
have the same date as well as the same author, works are distinguished by suffixes a, b, c, etc. 
These are allocated in the reference list where they are ordered alphabetically by title. 
References with the same first author and a different second or third author are listed alphabetically.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year of publication[suffix]). Title of article. <em>Name of Journal, volume</em>(issue), 
	page numbers. DOI (if assigned)
</blockquote>
<br>
For works without a DOI, if the work was accessed from a website (excluding online academic research 
databases, e.g., ProQuest, EBSCO and ScienceDirect) include the URL in the reference. Works accessed 
from an academic database do not require a URL or detail about the database in the reference list. In 
this case, the work would be referenced in the same manner as a print version of the work. URLs and DOIs 
are displayed as a hyperlink.
<br>
<br>
<strong>Examples</strong>
<br>
<blockquote>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author(s)">Smith, A.</span> 
		(<span class="hover" title="Year of publication">2017</span>). 
		<span class="hover" title="Title of article">Teaming with wildlife: Promoting team development through volunteer service at Auckland Zoo</span>. 
		<em><span class="hover" title="Name of Journal">New Zealand Business Review</span>, 
		<span class="hover" title="volume">17</span></em>(<span class="hover" title="issue">4</span>), 
		<span class="hover" title="page numbers">230&#45;240</span>. 
		<span class="hover fake-aref" title="DOI">https://doi.org/10.12:3456789012</span>
	</div>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author(s)">Smith, A.</span> 
		(<span class="hover" title="Year of publication">2020</span>). 
		<span class="hover" title="Title of article">Leading by example.</span> 
		<em><span class="hover" title="Name of Publication">Management Research International</span>, 
		<span class="hover" title="volume">3</span></em>(<span class="hover" title="issue">4</span>), 
		<span class="hover" title="page numbers">45&#45;48</span>. 
		<span class="hover fake-aref" title="DOI">https://doi.org/10.23:4567890123</span>
	</div>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author(s)">Smith, A., &amp; Brown, B. W.</span> 
		(<span class="hover" title="Year of publication">2019a</span>) &hellip;
	</div>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Authors">Smith, A., &amp; Brown, B. W.</span> 
		(<span class="hover" title="Year of publication">2019b</span>) &hellip;
	</div>
	<div class="ref-hang-indent double-line-spacing">
		<span class="hover" title="Author(s)">Smith, A., &amp; Chan, C.</span> 
		(<span class="hover" title="Year of publication">2019</span>) &hellip;
	</div>
</blockquote>
<br>
URLs and DOIs are displayed as a hyperlink.
<br>
<br>
If the source displays the DOI number only (e.g., 10.1036/0071393756), convert the DOI into a link 
by adding <span class="fake-aref">https://doi.org/</span> before the number.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2019a) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith &amp; Brown, 2019a) found that&hellip;
</blockquote>
<br>
If two or more sources are being cited for the same ideas or information, the author&#8217;s name(s) 
should appear only once and the works are identified by the publication dates and suffix.
<br>
<blockquote class="in-text-citation">
	Studies indicate that this is indeed the case (Smith &amp; Brown, 2019a, 2019b).
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2019a) observe that &#34;chocolate is growing in popularity with adolescents&#34; 
	(p. 34).
	<br>
	Alternatively: A recent study suggests that &#34;chocolate is growing in popularity with 
	adolescents&#34; (Smith &amp; Brown, 2019a, p. 34).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>