<h2>%%ReferenceStyle%%library database article</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
If a Digital Object Identifier (DOI) is available in the source, include it at the end of the 
reference. DOIs are displayed as a hyperlink.
<br>
<br>
<strong>Format for articles with a DOI</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year of Publication). Title of article. 
	<em>Title of Journal, volume number</em>(issue number), page numbers. DOI
</blockquote>
<br>
If the source displays the DOI number only (e.g., 10.1036/0071393756), convert the DOI into a link 
by adding <span class="fake-aref">https://doi.org/</span> before the number.
<br>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Bailey, N., Madden, C., &amp; Krashen, S.</span> 
	(<span class="hover" title="Year of Publication">1974</span>). 
	<span class="hover" title="Title of article">Is there a &#34;natural sequence&#34; in adult second language learning?</span> 
	<em><span class="hover" title="Title of Journal">Language Learning</span>, 
	<span class="hover" title="volume number">24</span></em>(<span class="hover" title="issue number">2</span>), 
	<span class="hover" title="page numbers">235&#45;243</span>. 
	<span class="hover fake-aref" title="DOI">http://doi.org/10.1111/j.1467&#45;1770.1974.tb00505.x</span>
</blockquote>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Authors">Smith, A., &amp; Brown, B.</span> 
	(<span class="hover" title="Publication date">2017</span>). 
	<span class="hover" title="Title of article">Dining out: A history of restaurant eating in Australia</span>. 
	<em><span class="hover" title="Title of Journal">Journal of Australian Historical Research</span>, 
	<span class="hover" title="volume number">3</span></em>(<span class="hover" title="issue number">5</span>), 
	<span class="hover" title="page numbers">110&#45;123</span>. 
	<span class="hover fake-aref" title="DOI">https://doi.org/10.1108/13522750710740855</span>
</blockquote>
<br>
<strong>Format for articles with no DOI</strong>
<br>
For works without a DOI, if the work was accessed from an online academic database 
(e.g., ProQuest, EBSCO and ScienceDirect), do not include a URL or detail about the database 
in the reference list. In this case, the work would be referenced in the same manner as a print 
version of the work.
<br>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year of Publication). Title of article. 
	<em>Title of Journal, volume number</em>(issue number), page numbers.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Ramaley, R.</span> 
	(<span class="hover" title="Year of Publication">1916</span>). 
	<span class="hover" title="Title of article">Mushroom fairy rings of Tricholoma Praemagnum</span>. 
	<em><span class="hover" title="Title of Journal">Torreya</span>, 
	<span class="hover" title="volume number">16</span></em>(<span class="hover" title="issue number">9</span>), 
	<span class="hover" title="page numbers">193&#45;196</span>.
</blockquote>
<br>
Note: While database information is rarely needed in a reference, include the database name and URL 
if the article is only available within a database that publishes proprietary works (e.g., Cochrane 
Database of Systematic Reviews) or an archive database (e.g. Sydney Morning Herald Archives). If 
access to these types of databases requires a login, include the database name and database homepage 
URL at the end of the reference. (For more information see Publication Manual of the American 
Psychological Association (7th ed), Section 9.30).
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2017) found that&hellip;
	<br>
	Alternatively: Recent research (Smith &amp; Brown, 2017) supports this view&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph. 
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith and Brown (2017) showed that&hellip; Smith and Brown also found 
	that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2017) suggest that &#34;the restaurant industry is on the decline&#34; (p. 111).
	<br>
	Alternatively: It was suggested that &#34;the restaurant industry is on the decline&#34; 
	(Smith &amp; Brown, 2017, p. 111).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>