<h2>%%ReferenceStyle%%Webpage &#45; no publication date</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<br>
When a publication date is not available in the source, use n.d. for &#8216;no date&#8217;. 
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (n.d.). <em>Title of webpage</em>. Website Name. URL
</blockquote>
<br>
If content is likely to change over time, include a retrieval date before the URL.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (n.d.). <em>Title of webpage</em>. Website Name. Retrieved Month Day, Year, from URL
</blockquote>
<br>
When the author and name of the website are the same, omit the website name from the reference. 
The URL is displayed as a hyperlink.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author">Smith, A.</span> (n.d.). 
	<em><span class="hover" title="Title of webpage">Australian composers</span></em>. 
	<span class="hover" title="Website Name">Australian Government</span>. 
	Retrieved <span class="hover" title="Retrieved Month Day, Year">November 3, 2019</span>, from 
	<span class="hover fake-aref" title="URL">http://australia.gov.au/about&#45;australia/australian-story/austn&#45;composers</span>
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Use (n.d.) when the publication date is not available.
<br>
<blockquote class="in-text-citation">
	Smith (n.d.) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith, n.d.) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith (n.d.) showed that&hellip; Smith also found that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks. As webpages do not usually contain page numbers, include either a heading 
or section name, a paragraph number, or a combination of a section name with a paragraph number 
in lieu of page numbers.
<br>
<blockquote class="in-text-citation">
	Smith (n.d.) observed that &#34;Australian composers are being recognised on the international 
	stage&#34; " (Composers section).
	<br>
	Alternatively: In recent times, &#34;Australian composers are being recognised on the 
	international stage&#34; (Smith, n.d., Music Composition section, para. 7).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
If you wish to cite an <strong>entire website</strong>, without mentioning particular information 
from a specific webpage, it is not necessary to include the website in your reference list. Instead, 
provide the URL in parentheses.
<br>
<blockquote class="in-text-citation">
	Workcover is a useful work health and safety website for information and documents about 
	addiction (<span class="fake-aref">http://www.workcover.nsw.gov.au/newlegislation2012/Pages/default.aspx</span>).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>