<h2>%%ReferenceStyle%%Webpage &#45; created by organisation</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Do not italicise the title of works that are part of a greater whole (e.g., journal articles 
and edited book chapters).
<br>
<br>
For works that stand alone (e.g., books, reports, webpages, and websites) italicise the title 
and capitalise using sentence case (the first letter of the first word only, in the main title 
and subtitle, is capitalised).
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Organisation. (Year of publication). <em>Title of webpage</em>. Site Name. URL
</blockquote>
<br>
When the author and the site name are the same, omit the site name from the reference. 
If content is likely to change over time, include a retrieval date before the URL.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Organisation. (n.d.). <em>Title of webpage</em>. Site Name. Retrieved Month Day, Year, from URL
</blockquote>
<br>
If a date of the last update is available on the webpage and specifically refers to the content 
on the page, rather than the overall website, use the updated date in the reference (e.g., 
Year, Month Day of publication). Do not include the date of the last review, as this may not 
necessarily mean that content on the page you are citing has changed. When no date is available, 
use n.d. for &#8216;no date&#8217;.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Organisation">The Turning Page Bookshop</span>. 
	(<span class="hover" title="Year of publication">2020</span>). 
	<em><span class="hover" title="Title of web page">Business profile</span></em>.  
	<span class="hover fake-aref" title="URL">http://www.theturningpagebookshop.com.au/</span>
</blockquote>
<br>
The URL is displayed as a hyperlink.
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
Use the organisation name (organisations include private companies, government agencies, and 
institutions) and year each time you refer to the work. 
<br>
<blockquote class="in-text-citation">
	The Turning Page Bookshop (2020) explains that&hellip;
	<br>
	Alternatively: &hellip;outlined in their business profile (The Turning Page Bookshop, 2020).
</blockquote>
<br>
The organisation&#8217;s name may be abbreviated if the work will be cited at least three times 
in your assignment. In the first citation write the organisation name in full, including the 
abbreviation. For subsequent citations, use the abbreviation.
<br>
<strong>First in&#45;text citation</strong>
<br>
<blockquote class="in-text-citation">
	The Department of Education, Employment and Workplace Relations (DEEWR, 2020) described&hellip;
	<br>
	Alternatively: &hellip;as a recent study has shown (Department of Education, Employment 
	and Workplace Relations [DEEWR], 2020).
</blockquote>
<br>
<strong>Subsequent in&#45;text citations</strong>
<br>
<blockquote class="in-text-citation">
	DEEWR (2020) described&hellip;
	<br>
	&hellip;as recent evidence suggests (DEEWR, 2020).
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks. As webpages do not usually contain page numbers, include either a heading 
or section name, a paragraph number, or a combination of a section name with a paragraph number 
in lieu of page numbers.
<br>
<blockquote class="in-text-citation">
	The Department of Education, Employment and Workplace Relations (DEEWR, 2020) reports that 
	&#34;government funding has been reduced by 15%&#34; (Funding section, para.4).
	<br>
	Alternatively: As a result, &#34;government funding has been reduced by 15%&#34; 
	(Department of Education, Employment and Workplace Relations [DEEWR], 2020, Funding 
	section, para. 4).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, 
indented block at 1.27cm from the left margin. Do not use double quotation marks to enclose 
a block quotation.
<br>
<br>
If you wish to cite an <strong>entire website</strong>, without mentioning particular information 
from a specific webpage, it is not necessary to include the website in your reference list. 
Instead, provide the URL in parentheses.
<br>
<blockquote class="in-text-citation">
	Workcover is a useful work health and safety website for information and documents about 
	addiction (<span class="fake-aref">http://www.workcover.nsw.gov.au/newlegislation2012/Pages/default.aspx</span>).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>