<h2>%%ReferenceStyle%%Social media</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
Note: This example specifies the method of referencing posts to social networks such as Twitter, 
Facebook, Instagram, etc. As social media posts can sometimes contain nonstandard spelling, retain 
spelling, capitalisation, links, hashtags, and emojis as it appears in the post.
<br>
<br>
Replicate emojis, where possible, or provide the name of the emoji in square brackets. A full list 
of emoji names can be found through the 
<a href="https://unicode.org/emoji/charts/emoji-list.html" target="_blank" rel="noopener noreferrer">Unicode Consortium</a> 
website. 
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author. (Year, Month Day of post). <em>Content of post up to the first twenty words</em> 
	[Description of audiovisuals]. Site Name. URL
</blockquote>
<br>
When citing content from Twitter or Instagram, include the username in square brackets after the author.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author [@username]. (Year, Month Day of post). <em>Title of post up to the first twenty words</em> 
	[Description of audiovisuals]. Site Name. URL
</blockquote>
<br>
If the content on the page is likely to change over time, (e.g., Twitter profile or Facebook page), 
include a retrieval date after the site name (e.g., Retrieved Month Day, Year, from URL) in the 
reference. The URL is displayed as a hyperlink.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author">NHS Evidence</span> 
	[<span class="hover" title="@username">@NHS_Evidence</span>].
	(<span class="hover" title="Year, Month Day of post">2011, February 26</span>). 
	<em><span class="hover" title="Title of post up to the first twenty words">NHS Evidence consults on revised accreditation process manual</span></em> 
	[<span class="hover" title="Description of audiovisuals">Tweet</span>]. 
	<span class="hover" title="Site Name">Twitter</span>. 
	<span class="hover fake-aref" title="URL">http://twitter.com/NHS_Evidence</span>
</blockquote>
<br>
Other examples for audiovisual descriptions are: Infographic, Photograph, Online forum post, 
Status update, Video.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	NHS Evidence (2011) indicated that&hellip;
	<br>
	Alternatively: A recent study (NHS Evidence, 2011) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.
<br>
<blockquote class="in-text-citation">
	In a recent study, NHS Evidence (2011) showed that&hellip; NHS Evidence also found 
	that&hellip;
</blockquote>
<br>
If you are using a direct quotation, enclose the quote using double quotation marks.
<br>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks. As social media posts do not contain page numbers, if the post consists 
of several paragraphs, include a paragraph number in&#45;text. Otherwise, the author and year is 
sufficient. 
<br>
<blockquote class="in-text-citation">
	NHS Evidence (2011, para. 2) suggested that &#34;patients are being discharged in error&#34;.
	<br>
	Alternatively: Consequently, &#34;patients are being discharged in error&#34; 
	(NHS Evidence, 2011, para. 2).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
