<h2>%%ReferenceStyle%%Webpage &#45; quotation</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
<strong>Format</strong>
<br>
Works are referenced in the reference list using the standard form.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks. As webpages do not usually contain page numbers, include either a heading 
or section name, a paragraph number or a combination of a section name with a paragraph number in 
lieu of page numbers.
<br>
<br>
<strong>Heading or section name</strong>
<br>
<blockquote class="in-text-citation">
	&#34;Restaurant dining was an important aspect of tourism in nineteenth century Australia&#34; 
	(Smith &amp; Brown, 2020, Food Travel section).
</blockquote>
<br>
<strong>Paragraph numbers</strong>
<br>
If paragraphs in the webpage are not numbered, count the paragraphs manually.
<br>
<blockquote class="in-text-citation">
	&#34;Restaurant dining was an important aspect of tourism in nineteenth century Australia&#34; 
	(Smith &amp; Brown, 2020, para. 5).
</blockquote>
<br>
<strong>Heading or section name in combination with a paragraph number</strong>
<br>
<blockquote class="in-text-citation">
	&#34;Restaurant dining was an important aspect of tourism in nineteenth century Australia&#34; 
	(Smith &amp; Brown, 2020, Background section, para. 5).
</blockquote>
<br>
If the heading or section name is too long to cite, provide the heading or section name in an 
abbreviated form enclosed within double quotation marks. 
<br>
<blockquote class="in-text-citation">
	&#34;Restaurant dining was an important aspect of tourism in nineteenth century Australia&#34; 
	(Smith &amp; Brown, 2020, &#34;Food Travel&#34; section, para. 5).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>