<h2>%%ReferenceStyle%%Webpage on News Website</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year, Month Day of publication). <em>Title of web page/ article</em>. 
	Name of News website. URL
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Youssef&#45;Shalala, A</span>. 
	(<span class="hover" title="Year, Month Day of publication)">2019, October 7</span>). 
	<em><span class="hover" title="Title of web page/ article">Studying for exams? Here&#8217;s how to make your memory work for you</span></em>. 
	<span class="hover" title="Name of News website">The Conversation</span>. 
	<span class="hover fake-aref" title="URL">https://theconversation.com/studying-for-exams-heres-how-to-make-your-memory-work-for-you-124586</span>
</blockquote>
<br>
The URL is presented as a hyperlink.
<br>
<br>
Note: this example differs from referencing an 
<a href="%%ICiteURL%%/2/13?width=800&amp;height=600" class="colorbox-node">Electronic Article, Internet Journal Article</a>.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Youssef&#45;Shalala (2019) indicated that&hellip;
	<br>
	A recent study (Youssef&#45;Shalala, 2019) showed that
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first time 
that it is referred to in your writing. Once the work is cited, it is not necessary to include the 
citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.  
<br>
<blockquote class="in-text-citation">
	In a recent study, Youssef&#45;Shalala (2019) showed that&hellip; 
	Youssef&#45;Shalala also found that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks. As webpages do not usually contain page numbers, include either a heading 
or section name, a paragraph number or a combination of a section name with a paragraph number in 
lieu of page numbers.
<br>
<br>
When a heading or section name is too long to cite in full, abbreviate the title. Place double 
quotation marks around the title to indicate the abbreviation. Manually count paragraphs if they 
are not numbered in the work.
<br>
<blockquote class="in-text-citation">
	Youssef&#45;Shalala (2019) stated that &#34;activating your sensory memory is the first 
	step&#34; (&#34;Try to learn&#34; section).
	<br>
	Alternatively: As a result, &#34;you can help yourself by linking new information to old 
	information you already have stored in your long&#45;term memory&#34; (Youssef&#45;Shalala, 
	2019, para. 29).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
If you wish to cite an <strong>entire website</strong>, without mentioning particular information 
from a specific webpage, it is not necessary to include the website in your reference list. Instead, 
provide the URL in parentheses.
<br>
<blockquote class="in-text-citation">
	The Conversation is an online news website containing published works written by academics 
	(<span class="fake-aref">https://theconversation.com/au</span>).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>