<h2>%%ReferenceStyle%%Conference paper</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
If the conference paper is published in a book or journal, follow the same format for referencing 
a <a href="%%ICiteURL%%/2/2?width=800&amp;height=600" class="colorbox-node">journal article</a>, 
<a href="%%ICiteURL%%/1/6?width=800&amp;height=600" class="colorbox-node">edited book</a> or 
<a href="%%ICiteURL%%/1/7?width=800&amp;height=600" class="colorbox-node">chapter from an edited book</a>. 
For further examples, refer to section 10.5 in the Publication Manual of the 
<a href="https://west-sydney-primo.hosted.exlibrisgroup.com/permalink/f/1iaekk7/UWS-ALMA21261349530001571" target="_blank" rel="noopener noreferrer">
	American Psychological Association (7th ed)</a>.
<br>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year, Month Date(s) of conference). <em>Title of paper</em> [Description]. 
	Conference Name, Location. DOI
</blockquote>
<br>
If the source displays the DOI number only (e.g., 10.1036/0071393756), convert the DOI into a link 
by adding <span class="fake-aref">https://doi.org/</span> before the number.
<br>
<br>
For works without a DOI, if the work was accessed from a website (excluding online academic 
research databases, e.g., ProQuest, EBSCO and ScienceDirect) include the URL in the reference. 
URLs are displayed as a hyperlink.
<br>
<br>
Works accessed from an academic database do not require a URL or detail about the database in the 
reference list. In this case, the work would be referenced in the same manner as a print version 
of the work.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Fulljames, T</span>. 
	(<span class="hover" title="Year, Month Date(s) of conference">2009, July 9&#45;10</span>). 
	<em><span class="hover" title="Title of paper">A career in tertiary management &#45; a transformative experience!</span></em> 
	[<span class="hover" title="Description">Paper presentation</span>].  
	<span class="hover" title="Conference Name">ATEM Aotearoa Conference</span>, 
	<span class="hover" title="Location">Christchurch, New Zealand</span>. 
	<span class="hover fake-aref" title="URL">https://bit.ly/2O4i6AY</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Fulljames (2009) indicated that&hellip;
	<br>
	Alternatively: A recent study (Fulljames, 2009) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.
<br>
<blockquote class="in-text-citation">
	In a recent study, Fulljames (2009) showed that&hellip; Fulljames also found that&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Fulljames (2019) stated that transformative relationships &#34;involve broader, more 
	visionary aims and activities&#34; (p. 3).
	<br>
	Alternatively: &hellip;transformative relationships, &#34;involve broader, more visionary 
	aims and activities&#34; (Fulljames, 2019, p. 3). 
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>
