<h2>%%ReferenceStyle%%University report</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year of publication). <em>Title of report</em> (Report No. or additional 
	information about report). Publisher.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Smith, A., &amp; Brown, J.</span> 
	(<span class="hover" title="Year of publication">2011</span>). 
	<em><span class="hover" title="Title of report">Learning opportunities in cyberspace: A report on new technologies</span></em>
	(<span class="hover" title="Report No. or additional information about report">Research Report No. 24</span>). 
	<span class="hover" title="Publisher">University of Western Sydney, Centre for Education Research</span>.
</blockquote>
<br>
The name of the university is usually the publisher. If the report was published by a department within 
the university, include the university name followed by the name of the department. For online reports, 
add the URL at the end of the reference. The URL is displayed as a hyperlink. 
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2011) indicated that&hellip;
	<br>
	Alternatively: A recent report (Smith &amp; Brown, 2011) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to 
include the citation again, as long as it is clear that you are referring to the same work and 
that it cannot be confused with other sources being paraphrased. Repeat the citation again, if 
the paraphrase continues into the next paragraph.  
<br>
<blockquote class="in-text-citation">
	In a recent report, Smith and Brown (2011) showed&hellip; 
	Smith and Brown also reported&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	Smith and Brown (2011) reported that &#34;collaborative learning between participants was 
	explored in this virtual environment&#34; (p. 22).
	<br>
	<br>
	Alternatively: &hellip;&#34;collaborative learning between participants was explored in this 
	virtual environment&#34; (Smith &amp; Brown, 2011, p. 22).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>