<h2>%%ReferenceStyle%%Report</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year of publication). <em>Title of report</em> (Report No. or additional 
	information about report). Publisher. URL
</blockquote>
<br>
<strong>Example</strong>
<br>
When the author is an organisation, use the name of the organisation in the author field. If the 
author and publisher are the same, omit the publisher element from the reference. URLs are displayed 
as an active link.
<br>
<br>
If the report is only available in print, omit the URL element from the reference.
<br>
<br>
Include report or publication numbers if they are available.
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">The Turning Page Bookshop</span>. 
	(<span class="hover" title="Year of publication">2019</span>). 
	<em><span class="hover" title="Title of report">2018 Annual report</span></em> 
	(<span class="hover" title="Report No. or additional information about report">Report No. P3&#45;4147</span>). 
	<span class="hover fake-aref" title="URL">http://www.theturningpagebookshop.com.au/annualreports/2018.html</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	The Turning Page Bookshop (2019) indicated that&hellip;
	<br>
	Alternatively: A recent report (The Turning Page Bookshop, 2019) indicated that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.
<br>
<blockquote class="in-text-citation">
	In a recent report, The Turning Page Bookshop (2019) showed&hellip; The Turning Page Bookshop also 
	reported&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	The Turning Page Bookshop (2019) reported that &#34;statistics have shown a decline in e&#45;book 
	sales over the previous financial year&#34; (p. 22).
	<br>
	<br>
	Alternatively: &hellip;&#34;statistics have shown a decline in e&#45;book sales over the previous 
	financial year&#34; (The Turning Page Bookshop, 2019, p. 22).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>