<h2>%%ReferenceStyle%%Government report</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year of publication). <em>Title of report</em> 
	(Report No. or additional information about report). Publisher. URL
</blockquote>
<br>
The government department is usually the publisher. If the author and publisher are the same, omit 
the publisher element from the reference. The URL is displayed as a hyperlink.
<br>
<br>
If the report is only available in print, omit the URL element from the reference.
<br>
<br>
<strong>Example</strong>
<br>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Department of Health and Ageing</span>. 
	(<span class="hover" title="Year of publication">2008</span>). 
	<em><span class="hover" title="Title of report">Ageing and aged care in Australia</span></em> 
	(<span class="hover" title="Report No. or additional information about report">Publication No. P3&#45;4147</span>). 
	<span class="hover fake-aref" title="URL">https://webarchive.nla.gov.au/awa/20090918201304/http://health.gov.au/internet/main/publishing.nsf/Content/BFE46F21A3241ECBCA2574BE001A6E06/$File/Ageing_and_Aged_Care.pdf</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	A recent report by the Department of Health and Ageing (2008) indicated that&hellip;
	<br>
	Alternatively: A recent report (Department of Health and Ageing, 2008) showed that&hellip;
</blockquote>
<br>
If the citation will appear more than 3 times in your paper, you may use an abbreviation for a group 
author. Spell out the author name in full, including the abbreviation, the first time the work is 
cited in&#45;text. Use the abbreviation and year for subsequent citations.
<br>
<blockquote class="in-text-citation">
	A recent report by the Department of Health and Ageing (DHA, 2008) indicated that&hellip;
	<br>
	Alternatively: A recent report (Department of Health and Ageing [DHA], 2008) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first time 
that it is referred to in your writing. Once the work is cited, it is not necessary to include the 
citation again, as long as it is clear that you are referring to the same work and that it cannot be 
confused with other sources being paraphrased. Repeat the citation again, if the paraphrase continues 
into the next paragraph.  
<br>
<blockquote class="in-text-citation">
	In a recent report the Department of Health and Ageing (DHA, 2008) showed&hellip; 
	DHA also reported&hellip;
</blockquote>
<br>
If you are using a direct quotation, consisting of fewer than 40 words, enclose the quote using 
double quotation marks and include page numbers.
<br>
<blockquote class="in-text-citation">
	The Department of Health and Ageing (DHA, 2008) stated that &#34;during 2006&#45;07, some 202,500 
	people received permanent residential care, at some time during the year&#34; (p. 27).
	<br>
	<br>
	Alternatively: &hellip;As a result of the Care Advocacy Program, &#34;longer term benefits 
	for recipients of aged care will be borne out of a more transparent and accountable aged care 
	industry&#34; (Department of Health and Ageing [DHA], 2008, p. 35).
</blockquote>
<br>
If the quotation is greater than 40 words, the quote is displayed in a double spaced, indented 
block at 1.27cm from the left margin. Do not use double quotation marks to enclose a block quotation.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>