<h2>%%ReferenceStyle%%Australia Bureau of Statistics</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author. (Year, Month Day of publication). <em>Title</em> (Version No.). URL
</blockquote>
<br>
<strong>Example</strong>
<br>
<br>
If the month and day of publication is not available, omit from the reference. Include a version 
number, if it is available, after the title in parentheses. If the author and publisher are the 
same, omit the publisher element.
<br>
<br>
URLs are displayed as a hyperlink. Provide the homepage URL for the website if a login is required.
<br>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author">Australian Bureau of Statistics</span>. 
	(<span class="hover" title="Year, Month Day of publication">2000, November</span>). 
	<em><span class="hover" title="Title">Use of the internet by householders, Australia</span></em> 
	(<span class="hover" title="Version No.">no. 8147.0</span>). 
	<span class="hover fake-aref" title="URL">https://www.abs.gov.au/ausstats/abs@.nsf/productsbytopic/AE8E67619446DB22CA2568A9001393F8?OpenDocument</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Australian Bureau of Statistics (2000) indicated that&hellip;
	<br>
	Alternatively: A recent study (Australian Bureau of Statistics, 2000) showed that&hellip;
</blockquote>
<br>
The organisation&#8217;s name may be abbreviated if the work will be cited at least three times in 
your assignment. In the first citation write the organisation name in full, including the abbreviation. 
For subsequent citations, use the abbreviation.
<br>
<br>
<strong>First in&#45;text citation</strong>
<br>
<blockquote class="in-text-citation">
	Australian Bureau of Statistics (ABS, 2000) indicated that&hellip;
	<br>
	Alternatively: &hellip;was shown in a recent study (Australian Bureau of Statistics [ABS], 2000).
</blockquote>
<br>
<strong>Subsequent in&#45;text citations</strong>
<br>
<blockquote class="in-text-citation">
	ABS (2000) described&hellip;
	<br>
	Alternatively: &hellip;as recent evidence suggests (ABS, 2000).
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.
<br>
<br>
<blockquote class="in-text-citation">
	In a recent study, Australian Bureau of Statistics (ABS, 2000) showed that&hellip; 
	ABS also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>