<h2>%%ReferenceStyle%%Television broadcast or Episode in a Series</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<br>
Provide the writer and director for the episode and include contributor roles, within parentheses, 
after the name of each contributor. If the writer and director is the same person, include both 
roles within parentheses. E.g. (Writer &amp; Director).
<br>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Name of Writer(s). (Writer), &amp; Name of Director(s). (Director). 
	(Year, Month Day of Broadcast). Title of episode (Season No., Episode No.) 
	[Description]. In Name of Executive Producer(s) (Executive Producer), 
	<em>Title of program/series</em>. Name of Production Company.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Name of Writer(s)">Hall, B</span>. (Writer), &amp; 
	<span class="hover" title="Name of Director(s)">Bender, J</span>. (Director).
	(<span class="hover" title="Year, Month Day of Broadcast">1991, October 15</span>). 
	<span class="hover" title="Title of episode">Rules of the game</span> 
	(<span class="hover" title="Season No., Episode No.">Season 1, Episode 3</span>) 
	[<span class="hover" title="Description">TV series episode</span>]. 
	In <span class="hover" title="Name of Executive Producer(s)">J. Falsey</span> (Executive Producer), 
	<em><span class="hover" title="Title of program/series">I&#8217;ll fly away</span></em>. 
	<span class="hover" title="Name of Production Company">Brand&#45;Falsey Productions; Lorimar Television</span>.
</blockquote>
<br>
If the work was accessed online and is freely available, you can include a URL at the end of the 
reference. URLs are displayed as a hyperlink.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Hall and Bender (1991) observed that&hellip;
	<br>
	Alternatively: A recent observation (Hall &amp; Bender, 1991) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.
<br>
<blockquote class="in-text-citation">
	In a recent study, Hall and Bender (1991) showed that&hellip; Hall and Bender also found that&hellip;
</blockquote>
<br>
If you are using a direct quotation, provide a time stamp for the beginning of the quotation in place 
of a page number.
<br>
<blockquote class="in-text-citation">
	Hall and Bender (1991) stated that&hellip; (17:12).
	<br>
	Alternatively: &hellip; (Hall &amp; Bender, 1991, 17:12).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>