<h2>%%ReferenceStyle%%Patent</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Inventor(s). (Year patent issued). <em>Title of patent</em> (Patent No.). 
	Publisher/ Name of organisation issuing patent.
</blockquote>
<br>
Including a URL for the patent is optional. If it is freely accessible online, and you choose to 
include one, add the URL at the end of the reference. URLs are displayed as a hyperlink.
<br>
<br>
Do not include a URL if it was accessed through an academic research database (e.g. Standards 
Online Premium, Science Direct, ProQuest, EBSCOhost).
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Inventor">Smith, A.</span> 
	(<span class="hover" title="Year patent issued">2019</span>). 
	<em><span class="hover" title="Title of patent">A pump for use in windmill assembly</span></em> 
	(<span class="hover" title="Patent No.">Patent No. 123,456</span>). 
	<span class="hover" title="Publisher/ Name of organisation issuing patent">U.S. Patent and Trademark Office</span>.
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2019) provides a new design&hellip;
	<br>
	Alternatively: A recent design (Smith, 2019) enables&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.
<br>
<blockquote class="in-text-citation">
	A recent design, Smith (2019) enables&hellip; However, &hellip; Smith does not&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>