<h2>%%ReferenceStyle%%Lecture or lecture notes, published</h2>
<hr>
<br>
Avoid where possible!
<br>
<br>
It is better to do the research and refer back to the original source yourself. Ask the lecturer 
for a reference list for their lecture if necessary. If the lecture material is available in 
electronic format, i.e., on vUWS or Canvas, use the format for referencing 
<a href="%%ICiteURL%%/7/9?width=800&amp;height=600" class="colorbox-node">
	lecture or lecture notes online</a>.
<br>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author(s). (Year, Month Day of lecture). <em>Title</em> [Unit number Unit name, Description of work]. 
	Name of University.
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author(s)">Smith, A.</span> 
	(<span class="hover" title="Year, Month Day of lecture">2018, May 11</span>). 
	<em><span class="hover" title="Title">A model of nursing care</span></em> 
	[<span class="hover" title="Unit number Unit name, Description of work">401025 Primary health care, Lecture notes</span>]. 
	<span class="hover" title="Name of University">Western Sydney University</span>.
</blockquote>
<br>
Note: This is not in the APA manual. If in doubt, please contact your tutor or unit coordinator 
to request a sample reference.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2018) suggests&hellip;
	<br>
	Alternatively: &hellip;to all participants (Smith, 2018).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>