<h2>%%ReferenceStyle%%Image from the web</h2>
<hr>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author/artist(s). (Year of publication). <em>Title of work</em> [Medium of work]. 
	Website Name. URL
</blockquote>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author/artist(s)">Frith, J</span>. 
	(<span class="hover" title="Year of publication">1968, April 2</span>). 
	<em><span class="hover" title="Title of work">It&#8217;s on again </span></em> 
	[<span class="hover" title="Medium of work">Political cartoon</span>]. 
	<span class="hover" title="Website Name">Museum of Democracy Old Parliament House</span>. 
	<span class="hover fake-aref" title="URL">https://frith.moadoph.gov.au/the-cartoons/14&#45;it&#45;s&#45;on&#45;again</span>
</blockquote>
<br>
Provide the month and day of publication if available.
<br>
<br>
URLs are displayed as a hyperlink.
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Frith (1968) illustrates through his artwork&hellip;
	<br>
	Alternatively: The cartoon (Frith, 1968) clearly shows the tension between political parties&hellip;
</blockquote>
<br>
<strong>REPRINTED FIGURES</strong>
<br>
<br>
If the image is included in your assignment, include a figure number and title <strong>in bold</strong> 
above the image. The title should be placed underneath the figure number in italic title case. Figures 
are numbered in the order that they are cited in&#45;text e.g. Figure 1 shows how birds&hellip;
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="in-text-citation">
	<strong>Figure 1</strong>
	<br>
	<em>Vocalisation of Birds at Dawn</em>
</blockquote>
<br>
Place a note underneath the image including the title, author, year, source (website name) and 
either the DOI or URL in parentheses, for the work.
<br>
<strong>Example</strong>
<br>
<blockquote class="in-text-citation">
	From Birds at dawn, by D. McKenna, 2016, 
	Wikimedia (<span class="fake-aref">http://commons.wikimedia.org</span>).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>