<h2>%%ReferenceStyle%%Podcast (from the internet)</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format</strong>
<br>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Host(s). (Host). (Year, Month Day of publication). Title of podcast episode (Episode No.) 
	[Description of work]. In <em>Title of podcast series</em>. Name of Production Company. URL
</blockquote>
<br>
Use the name of the host as the author. Alternatively, provide the name of the executive producer 
and include their role in parentheses after their name.
<br>
<br>
If podcast episodes are not numbered, omit the episode number element from the reference. Specify 
the type of podcast (e.g., audio or video) in square brackets.
<br>
<br>
Include a URL at the end of the reference, if it is known, and the podcast is freely available 
online. URLs are displayed as a hyperlink. If the podcast was accessed through an app, omit 
the URL from the reference.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Host(s)">Atkin, M</span>. (Host).
	(<span class="hover" title="Year, Month Day of publication">2008, November 13</span>). 
	<span class="hover" title="Title of podcast episode">Bermagui forest disputed turf</span> 
	[<span class="hover" title="Description of work">Audio podcast episode</span>].	
	In <em><span class="hover" title="Title of podcast series">The hack half hour</span></em>. 
	<span class="hover" title="Name of Production Company">ABC</span>. 
	<span class="hover fake-aref" title="URL">http://www.abc.net.au/triplej/hack/notes/</span>
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Atkin (2008) found that&hellip;
	<br>
	Alternatively: It was found&hellip;(Atkin, 2008).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>