<h2>%%ReferenceStyle%%Thesis or dissertation</h2>
<hr>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
Add a reference list at the end of your essay citing all sources used in the body of your writing.
<br>
<br>
<strong>Format (Unpublished)</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author. (Year of publication). <em>Title of thesis</em> [Thesis type]. Name of Institution.
</blockquote>
<br>
<strong>Format (Published)</strong>
<br>
A published thesis also includes theses published online through a database, university archive, or 
personal website. Add the name of the database or university archive as well as a URL. Use the 
homepage URL for sites that require a login.
<br>
<br>
For published theses, the name of the institution awarding the degree is included in square 
brackets. URLs are displayed a hyperlink.
<br>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author. (Year of publication). <em>Title of thesis</em> [Thesis type, Name of Institution]. 
	Name of Database, University archive or Website. URL
</blockquote>
<br>
<strong>Examples</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author">Smith, A</span>. 
	(<span class="hover" title="Year of publication">2018</span>). 
	<em><span class="hover" title="Title of thesis">The influence of bible studies on Australian primary school children, 1945&#45;1982</span></em> 
	[<span class="hover" title="Thesis type">Unpublished master&#8217;s thesis</span>]. 
	<span class="hover" title="Name of Institution">Western Sydney University</span>. 
</blockquote>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Year of publication">2018</span>). 
	<em><span class="hover" title="Title of thesis">The influence of bible studies on Australian primary school children, 1945&#45;1982</span></em> 
	[<span class="hover" title="Thesis type, Name of Institution">Master&#8217;s thesis, Western Sydney University</span>]. 
	<span class="hover" title="Name of Database, University archive or Website">ResearchDirect</span>. 
	<span class="hover fake-aref" title="URL">http://hdl.handle.net/123/abc</span>
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2018) indicated that&hellip;
	<br>
	Alternatively: A recent study (Smith, 2018) showed that&hellip;
</blockquote>
<br>
When the author is referred to more than once, in the same paragraph, cite the work the first 
time that it is referred to in your writing. Once the work is cited, it is not necessary to include 
the citation again, as long as it is clear that you are referring to the same work and that it cannot 
be confused with other sources being paraphrased. Repeat the citation again, if the paraphrase 
continues into the next paragraph.
<br>
<blockquote class="in-text-citation">
	In a recent study, Smith (2018) showed that&hellip; Smith also found that&hellip;
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>