<h2>%%ReferenceStyle%%Lecture or lecture notes online</h2>
<hr>
<br>
It is better to do the research and refer back to the original source yourself. Ask the lecturer 
for a reference list for their lecture if necessary.
<br>
<br>
<strong>REFERENCE LIST ENTRY</strong>
<br>
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author. (Year, Month Day). <em>Title of lecture</em> [Unit number Unit name, Description of work]. 
	Name of learning management system. URL
</blockquote>
<br>
For sites that require a login, use the homepage URL.
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Year, Month Day">2019, May 31</span>). 
	<em><span class="hover" title="Title of lecture">A model of nursing care</span></em> 
	[<span class="hover" title="Unit number Unit name, Description of work">401025 Primary health care, Video file</span>].
	<span class="hover" title="Name of learning management system">vUWS</span>.
	<span class="hover fake-aref" title="URL">https://vuws.westernsydney.edu.au/</span>
</blockquote>
<br>
Note: If there is no individual author use Western Sydney University as the author.
<br>
<br>
Powerpoint slides or Audio podcast could also be used in the description element of the reference.
<br>
<br>
If the lecture does not have a title, provide a description of the work in square brackets including the unit number and name.
<br>
<strong>Format</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	Author. (Year, Month Day). [Unit number Unit name, Description of work]. 
	Name of learning management system. URL
</blockquote>
<br>
<br>
<strong>Example</strong>
<br>
<blockquote class="ref-hang-indent double-line-spacing">
	<span class="hover" title="Author">Smith, A.</span> 
	(<span class="hover" title="Year, Month Day">2019, May 31</span>). 
	[<span class="hover" title="Unit number Unit name, Description of work">401025 Primary health care, Video file</span>].
	<span class="hover" title="Name of learning management system">vUWS</span>.
	<span class="hover fake-aref" title="URL">https://vuws.westernsydney.edu.au/</span>
</blockquote>
<br>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1/list?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example reference list
	</a>
</div>
<br>
<hr>
<br>
<strong>IN&#45;TEXT CITATION</strong>
<br>
<br>
<blockquote class="in-text-citation">
	Smith (2019) suggests&hellip;
	<br>
	Alternatively: &hellip;to all participants (Smith, 2019).
</blockquote>
<br>
<div style="text-align: right;">
	<a href="%%ICitePopUpURL%%/1?width=600&amp;height=800" class="colorbox-node no-print" rel="nofollow">
		An example document
	</a>
</div>
<br>