<!-- <div class="no-print" style="text-align: right;">
	<a href="javascript:window.print()">
		Print this page
	</a>
</div> -->
<br>
<br>
<div style="text-align: center;">
	<strong>THE PRIVACY ACT</strong>
</div>
<br>
<div class="ref-indent-1-27cm double-line-spacing">
	Cooper (2009) maintained that there comes a time in the life of most individuals when the need for 
	personal space or privacy becomes an important issue. Otto and Brown (2019) concurred, referring to 
	the Taog Niatnuom mountain dwellers in the highlands of New Guinea, who have developed a set of 
	strategies for encouraging their offspring to develop individualism. Fortune (2019) elaborated: 
	&#34;local haunts are earmarked for the particular and personal use of their kids&#34; (p. 154). 
	However, where some societies organise initiation ceremonies involving mutilation and dismemberment 
	of bodily organs, the Taog Niatnuom progeny, upon reaching puberty, are allotted their own special 
	places for the storage of treasures and the whispering of secrets (Mozart &amp; Brown, 2017; 
	O&#8217;Carroll &amp; Brown, 2017). O&#8217;Carroll and Brown concluded and it is these storage 
	compounds that have revealed to archaeologists a minefield of long&#45;forgotten follies, that have 
	enabled the systematic and chronological development of the Taog Niatnuom to be scientifically analysed 
	from infancy through adolescence to adulthood.
</div>
<div class="ref-indent-1-27cm double-line-spacing">
	In contrast, Smith (2016a) commented that in more westernised societies, the privacy of progeny is a 
	taboo issue: parents reject the idea of their kids harbouring secret devices and desires seeing these 
	as a threat, a danger to family stability or even universal democracy. Some parents have been known to 
	read cherished diaries hidden under mattresses, or follow up trails of unaccountable periodic 
	disappearances into the realms of phantasia. Aoyama et al. (2020) agreed and provided the 
	example of Doug who resided with his family in a green and leafy suburb in a far&#45;flung colonial 
	outpost. Doug&#8217;s journey through adolescence manifested itself in an obsessive desire, indeed 
	almost disorder, for the closeting of his innermost secrets and stashes; a behavioural trait that was 
	thwarted by his parents and three older brothers. His mother, infuriated by the frantic and constant 
	digging up of her precious snapdragons in the front garden, acknowledged &#34;By the judicious use of 
	slingshots and catapults I eventually forced Doug into burying his bones in the laundry under the 
	enormous piles of dirty washing&#34; (N. Blearey, personal communication, February 31, 2020).
</div>
<div class="ref-indent-1-27cm double-line-spacing">
	Given this level of obsession &hellip;
</div>
<br>
<div style="text-align: right;">
	Jenny Buxton 2006 (updated by Sean Sturm 2010)
</div>
<br>