<!-- <br>
<br>
<div class="no-print" style="text-align: right;">
	<a href="javascript:window.print()">
		Print this page
	</a>
</div>
<br> -->
<br>
<div style="text-align: center;" id="list">
	<strong>References</strong>
</div>
<br>
<div class="ref-hang-indent double-line-spacing">
	Aoyama, A., Brown, B., &amp; Chan, C. (2020). Thinking critically in a whole new world. 
	<em>Language Learning in Higher Education, 24</em>(1), 67&#45;87. 
	<span class="fake-aref">https://doi.org/12:3456789012</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	Atkin, M. (Host). (2008, November 13). Bermagui forest disputed turf [Audio podcast episode]. 
	In <em>The hack half hour</em>. ABC. 
	<span class="fake-aref">http://www.abc.net.au/triplej/hack/notes/</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	Bailey, N., Madden, C., &amp; Krashen, S. (1974). Is there a &#34;natural sequence&#34; in 
	adult second language learning? <em>Language Learning</em>, 
	24(2), 235&#45;243. 
	<span class="fake-aref">https://doi.org/10.1111/j.1467&#45;1770.1974.tb00505.x</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	Cooper, D. (2009, March 31). <em>Native ant may stop toad in its tracks</em>. ABC Science. 
	<span class="fake-aref">http://www.abc.net.au/science/articles/2009/03/31/2530686.htm?site=science&amp;topic=latest</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	Fortune, A. (2019). High speed compression for music downloads. 
	<em>Journal of Internet Engineering, 10</em>(2), 154&#45;165. 
	<span class="fake-aref">https://doi.org/23:4567890123</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	Hong Kong braces for protests. (2020, December 15). <em>Melbourne Herald</em>, A5.
</div>
<div class="ref-hang-indent double-line-spacing">
	Larsen, A., Brown, B., Chan, C., Williams, D., Tahatai, M., &amp; Singh, R. (2016). 
	<em>The decline and fall of the modern generation</em>. New Media Press.
</div>
<div class="ref-hang-indent double-line-spacing">
	Mozart, A., &amp; Brown, B. (2018). Glamorizing domesticity: Narratives of marriage and 
	motherhood in Desperate Housewives. <em>Journal of Media Studies, 25</em>(1), 110&#45;123. 
	<span class="fake-aref">http://www.jms.edu.pk/</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	O&#8217;Carroll, A., &amp; Brown, B. (2017). A battle from the beginning: The life and times of 
	a heavyweight champion. <em>Sport and Fitness, 14</em>(2), 25&#45;37.
</div>
<div class="ref-hang-indent double-line-spacing">
	Otto, A., &amp; Brown, B. (2019). 
	<em>Sustainability in practice: Overcoming energy challenges in the 21st century</em>. 
	Northwoods Press.
</div>
<div class="ref-hang-indent double-line-spacing">
	Reading, A. (2016, December 15). Something went wrong in plane crash, experts say. 
	<em>Herald Tribune</em>, A5.
</div>
<div class="ref-hang-indent double-line-spacing">
	Rimu Kura, A. R. (2015). <em>Teaching and learning in higher education</em>. 
	University Books.
</div>
<div class="ref-hang-indent double-line-spacing">
	Russell, A. (n.d.). <em>Twentieth century Australian composers</em>. 
	Music Press. 
	<span class="fake-aref">http://australia.gov.au/about-australia/australian-story/austn-composers</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	Smith, A. (2019, January 14&#45;19). <em>Appalachian mountain clog dancing</em>. [Paper presentation]. 
	Society of Ethnomusicology and Dance Conference, Parramatta, NSW, Australia. 
	<span class="fake-aref">http://www.sed.org/conf2056/agathasmith.html</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	Smith, A. (2016a). <em>Exploring nanoscale science</em>. Beck.
</div>
<div class="ref-hang-indent double-line-spacing">
	Smith, A. (2016b). Synthetic reactions and strategies. In B. A. Brown (Ed.), 
	<em>Principles of organic chemistry</em> (pp. 123&#45;147). Wilton.
</div>
<div class="ref-hang-indent double-line-spacing">
	Smith, A. B. (2015). Teaming with wildlife: Promoting team development through volunteer 
	service at Taronga Zoo. <em>Australian Business Review, 17</em>(4), 230&#45;240.
</div>
<div class="ref-hang-indent double-line-spacing">
	Smith, A., &amp; Brown, B. (2056). Glamorizing domesticity: Narratives of marriage and 
	motherhood in Desperate Housewives. <em>Journal of Media Studies</em>, 25(4), 
	110&#45;123. Retrieved from <span class="fake-aref">http://www.jms.edu.pk/</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	Taylor, A. (Director). (2018). <em>Outside the lines</em> [Film]. Upbeat Pictures.
</div>
<div class="ref-hang-indent double-line-spacing">
	The Turning Page Bookshop (2020). <em>Business profile</em>. 
	<span class="fake-aref">http://www.theturningpagebookshop.com.au/</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	<em>The Whale Swimmer</em>. (2018). Retrieved July 22, 2019, from http://en.hikipedia.org/wiki/Whale_Swimmer
</div>
<div class="ref-hang-indent double-line-spacing">
	Van der Linden, A., Brown, B., Chan, C., Williams, D., Tahatai, M., &amp; Singh, R. (2019). 
	Uneven muscle mass growth patterns in extreme athletes. 
	<em>Asia&#45;Pacific Journal of Injury Prevention, 8</em>(4), 356&#45;387. 
	<span class="fake-aref">https://doi.org/45:6789012345</span>
</div>
<div class="ref-hang-indent double-line-spacing">
	Wilson, A., &amp; Brown, B. (2016). Dining out: A history of restaurant eating in Australia. 
	<em>Journal of the Australian Historical Society, 3</em>(5), 110&#45;123. 
	<span class="fake-aref">http://www.rahs.org.au/publications/rahs-journal/</span>
</div>
<br>