<hr>
<br>
<span class="smaller">
	This guide is based on the 
	<a href="https://west-sydney-primo.hosted.exlibrisgroup.com/permalink/f/1iaekk7/UWS-ALMA21261349530001571" target="_blank" rel="noopener noreferrer" title="opens a new window">
		Publication Manual of the American Psychological Association (7th ed)</a>.
	<br>
	For further support, consult the manual directly.
</span>
<div class="clear"></div>
