<div class="no-print">
	<br>
	URL for this page:
	<br>
	<input style="width: 95%;" id="icite-url" onfocus="this.select();" value="%%ICiteURL%%" type="text">
	<br>
	<br>
</div>
<div class="clear"></div>
<div class="cite-footer">
	<div style="float: left; min-height: 45px; margin-right: 5px;">
		<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
			<img alt="Creative Commons License" style="vertical-align: text-top;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png">
		</a>
	</div>
	This tool was adapted by Ian McWilliam from 
	<a href="https://www.cite.auckland.ac.nz">
		Referen&copy;ite
	</a> and is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International  
	<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
		License
	</a>.
	<div class="clear"></div>
</div>
<div class="clear"></div>
